@use '../../utils/mixins';
@use '../../utils/variables';

.company-box-layout {
    &__inner {
        background-color: variables.$color_light;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
        position: relative;
        height: 100%;

        @include mixins.flex-box($d: column);

        &.no-height {
            min-height: auto;
        }
    }

    &__header {
        background-color: #333333;
        color: variables.$color_light;
        padding: 1em;
    }

    &__content {
        padding: 10px;

        &:has(.company-box-empty) {
            @include mixins.flex-box($a: center, $j: center)
        }
    }
}

.company-box-main {
    &__header {
        @include mixins.flex-box($a: center);
        @include mixins.media('max', 'md') {
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__info {
        @include mixins.flex-box($a: center, $gap: 10px);
        font-size: 12px;

        @include mixins.media('max', 'md') {
            flex-wrap: wrap;
        }
    }

    &__actions {
        margin-left: 10px;
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__title {
        @include mixins.transition();
    }

    &__content {
        padding: 20px;

        @include mixins.flex-box($gap: 20px, $d: column);

        @include mixins.media('min', 'lg') {
            flex-direction: row;
        }
    }

    &__block {
        @include mixins.media('min', 'lg') {
            flex-basis: 50%;
        }

        .tabs-component-tabs {
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 5px;
            }
        }
    }

    &__list {
        list-style: none;
        display: table;
        width: 100%;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;
        width: 50%;

        a {
            color: variables.$color_default_link
        }

        a:hover {
            text-decoration: underline;
        }

        &:last-child {
            color: variables.$color_grey;
        }

        &:first-child {
            width: 45%;
            margin-right: 5%;
        }
    }

    &__vertical-list {
        @include mixins.flex-box($d: column);
    }

    &__subtitle {
        @include mixins.flex-box($gap: 10px, $a: center);
    }

    &__contacts {
        @include mixins.flex-box($a: center, $gap: 10px);
        overflow-x: auto;

        &::-webkit-scrollbar {
            background-color: unset;
            height: 5px;
        }
    }

    &__logo {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: variables.$bg-success-l;
            @include mixins.transition(opacity);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}

.company-box-objects-list {
    @include mixins.flex-box($d: column, $gap: 10px);
    overflow-y: auto;
    max-height: 670px;
    padding: 0 5px;
    margin: 0 -5px;
}

.company-box-object {
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    position: relative;

    &__wrapper {
        @include mixins.flex-box($gap: 5px);
    }

    &__preview {
        @include mixins.flex-box($d: column, $gap: 5px);
        flex-basis: 30%;
        flex-shrink: 0;

        &.skeleton {
            height: 100px;
        }
    }

    &__image {
        height: 100px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        font-size: 14px;
    }

    &__title {
        @include mixins.flex-box($gap: 5px);

        .dashboard-chip {
            font-weight: 600!important;
        }
    }

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
    }
}

.company-box-objects-offer {
    @include mixins.transition(background-color .4s, color .4s);
    @include mixins.flex-box($gap: 5px, $j: center, $a: center, $wrap: wrap);
    color: #000;
    font-size: 14px;
    border: 1px solid variables.$color_success;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        background-color: variables.$color_grey_alt;
    }

    &.passive {
        filter: grayscale(1);
    }
}

.company-box-objects-renter {
    position: relative;
    padding: 5px;
    border: 1px solid variables.$color_grey;
    @include mixins.flex-box($gap: 5px);

    &--success {
        background-color: variables.$color_success_dark;
    }

    &--danger {
        background-color: lighten(variables.$color_danger_dark, 6);
    }

    &__info {
        padding: 5px;
        font-size: 12px;
        width: 100%;
    }

    &__tilte {
        font-weight: 600;
    }

    &__list {
        display: table;
        width: 90%;
    }

    &__expired {
        position: absolute;
        right: 5px;
        color: variables.$color_light;
    }

    &__dropdown {
        position: absolute;
        right: 6px;
        bottom: 3px;
    }
}

.company-box-objects-renter-parameter {
    display: table-row;

    &__label {
        display: table-cell;
        width: 30%;
        margin-right: 5%;
    }

    &__value {
        display: table-cell;
        width: 65px;
    }
}

.company-box-empty {
    max-width: 500px;
    width: 100%;
    opacity: .5;
}