@use '../../utils/variables';
@use '../../utils/mixins';

.company-preview {
    &__header {
        @include mixins.flex-box($gap: 5px, $wrap: true, $a: center);

        .ui-chip {
            font-size: 15px;
        }
    }

    &__body {
        margin-top: 15px;
        @include mixins.flex-box($gap: 15px);
    }

    &__logo {
        cursor: pointer;
        position: relative;
        margin-bottom: 10px;

        &::before {
            content: '';
            display: block;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: variables.$bg-success-l;
            @include mixins.transition(opacity);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    &__websites {
        @include mixins.flex-box($gap: 3px, $d: column);
    }

    &__tabs {
        flex-grow: 1;

        .tabs-component-tabs {
            gap: 5px;
            background-color: variables.$color_grey_light;
            padding: 15px;
        }

        .tabs-component-panels {
            padding: 10px 0!important;
        }
    }

    &__documents {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }

    &__document {
        height: 120px;
        width: 120px;
    }
}

.company-preview-rating {
    font-size: 18px;

    &.danger {
        color: variables.$color_danger;
    }

    &.normal {
        color: variables.$color_primary;
    }

    &.good{
        color: variables.$color_warning;
    }

}

.company-preview-tab {
    color: inherit;
    font-size: 16px!important;
    padding: 7px 10px!important;

    &:hover, &.is-active {
        background-color: #f7f7f7;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__list {
        list-style: none;
        display: table;
        width: 100%;
    }
}

.company-detail-info {
    position: relative;
    font-size: 16px;

    a {
        font-weight: inherit;
        color: inherit;
        width: max-content;
    }

    a:hover {
        text-decoration: underline;
    }

    &__title {
        font-size: 18px;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
        position: absolute;
        top: 71px;
        right: 0;
        z-index: 2;

        a:hover {
            text-decoration: none;
        }
    }

    &__row {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    &__product {
        font-size: 13px;
    }

    &__category {
        color: variables.$color_dark_grey;
        font-weight: 500;
    }

    &__rating {
        font-size: 14px;
    }
}