@use '../../utils/mixins';
@use '../../utils/variables';

.company-box-layout {
    &__inner {
        background-color: variables.$color_light;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
        position: relative;
        height: 100%;

        &.no-height {
            min-height: auto;
        }
    }

    &__header {
        background-color: #333333;
        color: variables.$color_light;
        padding: 1em;
    }

    &__content {
        padding: 10px;
    }
}

.company-box-main {
    &__header {
        @include mixins.flex-box($a: center);
    }

    &__info {
        @include mixins.flex-box($a: center, $gap: 10px);
        font-size: 12px;
    }

    &__actions {
        margin-left: 10px;
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__title {
        @include mixins.transition();
    }

    &__content {
        padding: 20px;
        @include mixins.flex-box($gap: 20px);
    }

    &__block {
        flex-basis: 50%;
    }

    &__list {
        list-style: none;
        display: table;
        width: 100%;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;
        width: 50%;

        a {
            color: variables.$color_default_link
        }

        a:hover {
            text-decoration: underline;
        }

        &:last-child {
            color: variables.$color_grey;
        }

        &:first-child {
            width: 45%;
            margin-right: 5%;
        }
    }

    &__vertical-list {
        @include mixins.flex-box($d: column);
    }

    &__subtitle {
        @include mixins.flex-box($gap: 10px, $a: center);
    }

    &__contacts {
        @include mixins.flex-box($a: center, $gap: 10px);
        overflow-x: auto;

        &::-webkit-scrollbar {
            background-color: unset;
            height: 5px;
        }
    }
}
