@use "../../utils/variables";
@use "../../utils/mixins";
@use 'sass:color';

.object-grid {
    &-item {
        &.inactive {
            .card {
                &-left {
                    background-color: variables.$color_grey;
                }
            }
        }
    }
}

.company-grid-card {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;

    &__preview {
        background-color: color.adjust(variables.$color_primary, $lightness: -10%);
        color: variables.$color_light;
        letter-spacing: 1px;
        @include mixins.flex-box($d: column, $j: space-between, $gap: 10px);
        @include mixins.transition(background-color);
        padding: 15px 20px !important;

        &:hover {
            background-color: color.adjust(variables.$color_primary, $lightness: -3%);;
        }
    }

    &__id {
        color: color.adjust(variables.$color_grey, $lightness: 30%);
        font-weight: 500;
        font-size: 12px;
    }

    &__name {
        font-weight: 400;
    }

    &__date {
        color: color.adjust(variables.$color_grey, $lightness: 30%);
        font-weight: 500;
        font-size: 12px;
    }

    &__body {
        @include mixins.flex-box();
        padding: 15px 20px !important;
    }

    &__category {
        font-size: 12px !important;
    }

    &__list {
        display: inline-flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__contacts {
        font-size: 14px;
        @include mixins.flex-box($d: column, $gap: 5px);
        padding: 5px;
        margin: 0 -5px;
        overflow-y: auto;
        max-height: 120px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    &__footer {
        font-size: 14px;
        color: variables.$color_grey;
    }

    &__counts {
        @include mixins.flex-box($gap: 5px, $wrap: true);

        .dashboard-chip {
            padding: 3px 6px;
        }
    }

    &__consultant {
        @include mixins.flex-box($gap: 5px, $a: center);
    }
}