.CompanyLogsItem {
    width: 100%;
    &-date {
        display: flex;
        justify-content: center;
    }
    &-user {
        display: flex;
        justify-content: flex-end;
        i {
            font-size: 14px;
        }
    }
    &-message {
        * {
            font-size: 16px;
        }
        &-time {
            font-weight: bold !important;
            margin-right: 3px;
        }
        &-text {
            font-weight: normal;
        }
    }

    .main {
        text-align: center;
        color: $color_dark;
        padding: 3px;
        margin-bottom: 10px;
        border-bottom: 1px solid $color_light_grey;

        .time {
            font-size: 12px;
            font-weight: bold;
            
        }
    }

    .noMain {
        text-align: right;
    }

    // i,
    // span,
    // a {
    //     display: block;
    // }

    a {
        color: $color_dark;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    i {
        color: $color_success_alt;
        font-size: 14px;
    }
}