.deal-info-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 340px;
  padding: 30px 15px;
  margin-top: 25px;
  align-items: center;
  background-color: #e1e8ec;
  &__text {
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;

    &_color_red {
      color: $color_danger;
    }
    &_size_small {
      font-weight: 400;
      font-size: 13px;
    }
  }
  &__list {
  }
  &__item {
  }
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 22px;
    color: $color_default_link;
    text-decoration: underline;
    font-size: 13px;

    &.active {
      background-color: $color_danger;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
  }
}
