.ObjectMap {
  margin: 10px 0;
  position: relative;
  min-height: 70px;
  &-description {
    position: absolute;
    top: 0;
    z-index: 2;

    padding: 0px 10px;

    width: 90%;
    height: 70px;

    display: flex;
    align-items: center;
    gap: 10px;

    overflow-x: auto;
    scroll-behavior: smooth;
    &.disabled {
      pointer-events: none;
    }
    &-item {
      border: 0.5px solid $color_grey;
      background-color: $color_light_trans;
      border-radius: 5px;
      padding: 10px 10px;
      text-decoration: underline;
      font-weight: bold;
      font-size: 13px;
      white-space: nowrap;
      &[title] {
        display: flex;
        align-items: center;
        gap: 5px;
        div {
          width: max-content;
          img {
            height: 15px;
            width: auto;
          }
        }
      }
    }

    &-actions {
      z-index: 2;

      height: 70px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      &-item {
        background: inherit;
        border: none;
        i {
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      background-color: transparent;
    }
  }

  &-control {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 70px;
    z-index: 3;
    display: flex;
    align-items: center;
  }
  &-button {
    font-size: 20px;
    z-index: 3;
    background-color: $color_grey_alt;
    border: 1px solid $color_grey;
    width: 33px;
    height: 33px;
    text-align: center;
    border-radius: 5px;
    color: $color_grey;
    opacity: 0.8;
    i {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }

    & i.active {
      color: black;
    }
  }
}
