.trade-offer-table {
  padding: 12px;
  border: 1px solid $color_danger;
  min-width: 310px;
  &__subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  &__list {
    margin-top: 5px;
  }
  &__item {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
  }
  &__text {
    // text-align: left;
    padding-top: 3px;
    white-space: nowrap;
    max-width: 29ch;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    font-weight: 300;
    & span:last-of-type {
      color: $color_grey;
    }

    &_label {
      font-weight: 500;
      color: $color_grey;
    }
  }
  sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
  }
}
