@use '../../utils/mixins';

.messenger-button {
    @include mixins.clear-button;

    border-radius: 20px;
    background-color: #fff;
    font-weight: 500;
    width: max-content;
    padding: 7px 15px;
    border: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    @include mixins.transition(background-color .2s, opacity .2s);

    @include mixins.hover {
        background-color: #f0f0f0;
    }

    &.active {
        background-color: #eae5e5;
    }

    &[disabled] {
        opacity: .5;
    }
}