@use '../../utils/mixins';
@use '../../utils/variables';

.messenger-quiz {
    font-size: 14px;
    height: 100vh;
    overflow-y: auto;
    @include mixins.flex-box($d: column);

    &__wrapper {
        padding: 10px;
        position: relative;
        background-color: #F3F3F3;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__header {
        padding: 5px 10px;
        background-color: #566B6E;
        color: #fff;
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__content {
        position: relative;
    }

    &__question {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__footer {
        @include mixins.flex-box($gap: 5px);
        padding: 15px 10px;
    }

    &__action {
        padding: 5px 15px;
        background-color: #10b981;
        color: #fff;
        cursor: pointer;

        @include mixins.transition(background-color .2s);

        &:hover {
            background-color: #009665;
        }

        i {
            margin-right: 5px;
        }
    }

    &__done {
        position: absolute;
        z-index: 6;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
        backdrop-filter: blur(1px);
        @include mixins.flex-box($j: center, $a: center);
    }

    &__done-button {
        &.hidden {
            opacity: 0;
        }
    }

    &__info {
        padding: 20px 20px 0;
    }

    &__recipient {
        background-color: #808080;
        cursor: pointer;
        border-radius: 5px;
        padding: 3px 7px;
        border: none;
        outline: none;
        color: #fff;
        width: max-content;
        max-width: 100%;
        @include mixins.transition(background-color);
        @include mixins.hover {
            background-color: #a6a6a6;
        }
    }

    &__icon {
        font-size: 14px!important;
    }

    &__recipient-form {
        .v-dropdown-trigger {
            display: block;
        }

        .messenger-chat-form-contact {
            width: 100%;
            max-width: none;
        }
    }

    &__surveys {
        @include mixins.flex-box($d: column, $gap: 5px);
        margin: 0 10px;
    }

    &__disabled {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: variables.$bg-gray-l;
        backdrop-filter: blur(2px);
        z-index: 5;
        color: #fff;
        @include mixins.flex-box($a: center, $j: center, $d: column, $gap: 5px);
    }
}

.messenger-quiz-question {
    padding: 10px;

    &--call {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 5px);
        font-weight: 500;
    }

    &__icon {
            font-size: 28px;
            margin-right: 5px;
    }

    &__title {
        margin-right: auto;
        font-weight: 600;
        font-size: 15px;
    }

    &__additions {
        margin-top: 5px;
        margin-bottom: 10px;
        @include mixins.flex-box($wrap: true);

        .checkbox-chip__label {
            &:not(.active):not(:hover) {
                background-color: transparent;
            }

            border-color: #7e7e7e;
        }

        .radio-chip {
            &:not(.active):not(:hover) {
                background-color: transparent;
            }

            border-radius: 0;
            border-color: #7e7e7e;

            &:first-of-type {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    &__interests {

        position: relative;
        z-index: 2;
        margin-top: -3px;
        padding: 5px 10px;
        border-left: 1px solid #7e7e7e;
        border-right: 1px solid #7e7e7e;
        border-bottom: 1px solid #7e7e7e;
        background-color: #fff;
        @include mixins.flex-box($gap: 5px, $wrap: true);

        .checkbox-chip__label {
            min-height: 25px;
            padding: 2px 10px;
            border-color: #7e7e7e;
        }
    }

    &__field {
        opacity: 1;

        .form__textarea {
            font-size: 14px;
            height: 80px;
            border-radius: 5px;
            outline: none;
            min-height: 50px;
            max-height: 146px;
            border-color: #7e7e7e;
        }

        &.disabled {
            .form__textarea {
                min-height: 30px;
                max-height: 30px;
                overflow: hidden;
            }
        }
    }

    &__actions {
        margin-bottom: 5px;
        @include mixins.flex-box($wrap: true, $gap: 5px);
    }

    &__edits {
        position: absolute;
        top: 5px;
        right: 5px;
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__button {
        padding: 5px 15px;
        height: max-content;

        i {
            font-size: 14px;
        }
    }

    &__main {
        @include mixins.flex-box($gap: 5px);

        .radio-chip {
            font-weight: 600;
            font-size: 15px;
            border-color: #7e7e7e;
        }
    }

    &__contact {
        color: variables.$cl-success;
        text-decoration: underline;
    }

    &__task {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 0;
    }
}

.messenger-quiz-helper {
    font-size: 14px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    background-color: #F3F3F3;
    position: absolute;
    z-index: 13;
    top: 130px;
    width: calc(100% - 30px);
    right: calc(100% + 15px);
    height: max-content;
    max-height: calc(100% - 400px);
    @include mixins.flex-box($d: column);

    &__header {
        padding: 5px 10px;
        background-color: #566B6E;
        color: #fff;
        @include mixins.flex-box($a: center, $j: space-between);

        i {
            font-size: 18px;
            cursor: pointer;
        }
    }

    &__sections {
        @include mixins.flex-box($d: column, $gap: 10px);
        overflow-y: auto;
        scrollbar-gutter: stable;
        position: relative;
        max-height: 100%;
        padding: 10px;
    }

    &__question {
        @include mixins.flex-box($a: center, $j: space-between);
        padding: 10px;
        background-color: #d1d5db;
        font-weight: 500;
        @include mixins.transition(background-color, color);

        &.active, &:hover {
            background-color: #10b981;
            color: #fff;
        }
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $d: column);
        margin-top: 10px;
    }

    &__row {
        background-color: #fff;
        padding: 5px;
        border-radius: 4px;
    }
}

.messenger-quiz-element {
    @include mixins.flex-box($gap: 10px);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.7);
    cursor: pointer;
    @include mixins.transition(background-color .3s);

    &:hover {
        background-color: #BEBEBE;
    }

    &__author {
        font-weight: 500;
        margin-bottom: 3px;
    }

    &__meta {
        margin-left: auto;
        align-self: flex-end;
    }
}

.messenger-quiz-preview {
    font-size: 12px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__element {
        border-radius: 10px;
        background-color: #F3F3F3;
        width: 100%;
    }
}

.messenger-quiz-preview-info {
    &__content {
        @include mixins.flex-box($gap: 10px, $a: center)
    }

    &__icon {
        font-size: 18px;
        background-color: variables.$bg-success-l;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__contact {
        max-height: 400px;
        overflow-y: auto;
    }
}

.messenger-quiz-header {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    min-height: 100px;
    position: relative;

    &.small {
        min-height: 55px;
    }

    &:has(.messenger-quiz-header__empty) {
        min-height: 70px;
    }

    &__empty {
        @include mixins.flex-box($a: center, $gap: 10px);
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($gap: 5px);
        padding-bottom: 5px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 5px;
            background-color: lighten(variables.$color_grey, 30);
        }
    }

    &__grid {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__contact {
        width: calc(calc(100% - 10px) / 3);
    }

    &__heading {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__info {
        @include mixins.flex-box($j: center, $gap: 5px, $a: center);
    }
}

.messenger-quiz-contact {
    background-color: variables.$bg-gray-l;
    padding: 10px;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2);
    @include mixins.flex-box($gap: 5px, $j: space-between);
    @include mixins.transition(background-color, color);

    &:hover, &.active {
        background-color: variables.$bg-success;
        color: #fff;

        .messenger-quiz-contact {
            &__error {
                color: #450000;
            }

            &__button {
                border-color: rgba(255, 255, 255, .5);

                &.danger {
                    background-color: rgba(254, 106, 73, 0.6);
                }
            }
        }
    }

    &__actions {
        @include mixins.flex-box($gap: 3px, $d: column);
    }

    &__username {
        font-weight: 500;
        @include mixins.text-overflow();
    }

    &__error {
        font-size: 12px;
        font-weight: 500;
        @include mixins.transition(color);
    }

    &__staff {
        font-size: 13px;
    }

    &__email {
        font-size: 13px;
    }

    &__warning {
        font-size: 13px;
        padding: 1px 5px;
        margin: 5px 0 -5px -10px;
        width: max-content;
        max-width: 100%;
        color: #fff;
        background-color: variables.$color_danger_dark;
        @include mixins.text-overflow(2);
    }

    &__phone {
        color: inherit;
    }

    &__more {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    &__comments {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 12px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        color: #fff;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__button {
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include mixins.transition(border, color, background-color);

        &.danger {
            background-color: variables.$bg-danger-l;
        }
    }

    &__contacts {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__column {
        @include mixins.flex-box($d: column, $gap: 3px, $a: flex-start);
    }

    &__helper {
        padding: 2px 4px;
        background-color: variables.$bg-gray-l;
        border-radius: 5px;
    }

    &__info {
        max-width: calc(100% - 30px);
    }
}

.messenger-quiz-recipient {
    @include mixins.flex-box($a: center, $j: center, $d: column);
    text-align: center;

    &__username {
        font-weight: 500;
    }

    &__username-warning {
        font-size: 12px;
    }

    &__staff {
        font-size: 13px;
    }

    &__email {
        font-size: 13px;
    }

    &__warning {
        font-size: 13px;
        padding: 1px 5px;
        margin: 5px  auto;
        width: max-content;
        max-width: 100%;
        background-color: variables.$color_danger_dark;
        color: #fff;
        @include mixins.text-overflow(2);
    }

    &__contacts {
        @include mixins.flex-box($d: column);
    }

    &__phone {
        color: inherit;
    }
}

.messenger-quiz-header-comments {
    height: 100%;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
    }
}

.messenger-quiz-inline-element {
    background-color: rgba(204, 165, 29, 0.8);
    padding: 5px 10px;
    @include mixins.flex-box($a: center, $gap: 5px);

    &__icon {
        font-size: 22px;
    }

    &__button {
        color: #fff;
        background-color: #11698d;

        &:hover {
            background-color: variables.$bg-success!important;
        }
    }
}

.messenger-quiz-recipient-picker {
    @include mixins.flex-box($gap: 20px, $wrap: true);
    max-height: 600px;

    &__element {
        flex-basis: calc(calc(100% - 40px) / 3);
        background-color: variables.$bg-success-l;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        @include mixins.transition(background-color, color);

        &.active {
            background-color: variables.$bg-success;
            color: #fff;
        }

        &:hover {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }

    &__empty {
        @include mixins.flex-box($a: center, $j: center, $gap: 10px);
    }
}

.survey-preview {
    min-height: 300px;
}

.messenger-quiz-form-company-picker {
    &__list {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }
}

.messenger-quiz-form-company-picker-element {
    border: 1px solid #d1d5db;
    padding: 3px 6px;
    width: max-content;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    @include mixins.flex-box($gap: 3px, $a: center);

    &__button {
        font-size: 16px;
        cursor: pointer;
        @include mixins.transition(color);

        &:hover {
            color: variables.$bg-danger;
        }
    }
}

.messenger-quiz-template.disabled {
    pointer-events: none;
}