@use '../../utils/mixins';
@use '../../utils/variables';

.messenger-dialog {
    padding: 10px 15px;
    transition: background-color .5s ease;
    position: relative;

    &:not(.skeleton-body) {
        cursor: pointer;

        &:hover {
            background-color: rgba(16, 185, 129, 0.4)!important;
        }
    }

    &.current {
        background-color: variables.$bg-success-m!important;
    }

    &.archived {
        opacity: .8;
    }

    &__footer {
        position: absolute;
        bottom: 10px;
        right: 15px;
        opacity: .7;
        @include mixins.flex-box($j: space-between, $a: center, $gap: 5px, $wrap: true);
        @include mixins.transition(opacity);

        &:hover {
            opacity: 1;
        }
    }

    &:has(&__last-message) &__footer {
        bottom: 47px;
    }

    &__phone {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 16px;
        font-size: 16px;
        border: 2px solid;
        background-color: #fff;
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(border-color, color, background-color);

        &:hover {
            background-color: #d7d7da;
        }

        &--danger {
            border-color: #f93154;
            color: #f93154;

            &:hover {
                color: #fff;
                background-color: #f93154;
            }
        }

        &--warning {
            border-color: #b66b09;
            color: #b66b09;

            &:hover {
                color: #fff;
                background-color: #b66b09;
            }
        }

        &.disabled {
            border-color: #7c7471!important;
            color: #7c7471!important;
            opacity: .4;

            &:hover {
                color: #7c7471!important;
                background-color: #a9a4a3;
                opacity: 1;
            }
        }
    }

    &__last-call {
        margin-left: 7px;
    }

    &__icon {
        @include mixins.flex-box($a: center, $j: center);
        height: 32px;
        width: 32px;
        background-color: #fff;
        border-radius: 50%;
    }

    &__avatar {
        position: absolute;
        left: 5px;
        bottom: 5px;
        border: 1px solid rgba(0, 0, 0, .25);
        @include mixins.transition(opacity);
    }

    &__last-message-header {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__last-message {
        margin-top: 7px;
        font-size: 14px;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1);
        border-radius: 4px;
        padding: 5px;

        @include mixins.flex-box($a: center, $gap: 5px);

        &.column {
            flex-direction: column;

            .messenger-dialog__last-message-date {
                margin-left: 0;
            }

            .messenger-dialog__last-message-header {
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                padding-bottom: 3px;
            }
        }
    }

    &__last-message-user {
        opacity: 1!important;
    }

    &__last-message-text {
        @include mixins.text-overflow(1);
    }

    &__last-message-date {
        color: variables.$color_dark_grey;
        font-size: 13px;
        margin-left: auto;
        flex-shrink: 0;
    }
}

.messenger-dialog-offer {
    &__body {
        @include mixins.flex-box($gap: 5px);
    }

    &__preview {
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);
        max-width: 170px;
        width: 100%;
        flex-basis: 50%;
        height: max-content;
        max-height: 110px;
        flex-shrink: 0;

        img {
            max-height: 110px;
        }
    }

    &:has(&__preview:hover) {
        .messenger-dialog__avatar, .messenger-dialog-offer__id {
            opacity: .2;
        }
    }

    .avatar {
        opacity: .4;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 105px;
    }

    &__preview-header {
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 5;
        width: calc(100% - 2px);
        @include mixins.flex-box($gap: 3px, $a: center);
    }

    &__preview-button {
        opacity: .5;
    }

    &:hover &__preview-button {
        opacity: 1;
    }

    &__id {
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, .9);
        font-size: 14px;
        opacity: .4;
        @include mixins.transition(opacity);
    }

    &:hover &__avatar, &:hover &__id {
        opacity: 1;
    }

    &__description {
        font-size: 14px;
        flex-basis: 50%;
    }

    &__address {
        opacity: .7;
        @include mixins.text-overflow(3, break-all);

        .tooltip {
            margin-right: 5px;
            opacity: .7;
        }
    }

    &:has(&__address:hover) .messenger-dialog__footer {
        opacity: .1;
    }

    &__company {
        font-weight: 600;
        @include mixins.text-overflow(1);
    }

    &__category {
        @include mixins.flex-box($wrap: true);
        color: variables.$color_grey;

        i {
            font-size: 16px;
            opacity: .8;
        }
    }

    &__deal-type {
        color: #9f3f56;
        padding: 0 5px;

        &.active {
            color: #05865f;
        }

        &.deleted {
            color: #6c474c;
            opacity: .5;
        }

        &:last-child {
            padding-right: 0;
        }

        &:first-child {
            padding-left: 0;
        }

        &:not(&:last-child)  {
            border-right: 2px solid #05865f;
        }
    }

    &.skeleton-body {
        .messenger-dialog-offer {
            &__description {
                @include mixins.flex-box($gap: 2px, $d: column);
            }

            &__image {
                height: 107px;
            }
        }
    }
}

.messenger-dialog-company {
    &__body {
        @include mixins.flex-box($gap: 5px);
    }

    &__preview {
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);
        width: 75px;
        height: 75px;
        flex-shrink: 0;
    }

    &:has(&__preview:hover) {
        .messenger-dialog__avatar, .messenger-dialog-company__id {
            opacity: .2;
        }
    }

    &__id {
        position: absolute;
        top: 1px;
        left: 1px;
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, .9);
        font-size: 14px;
        border-right: 1px solid rgba(0, 0, 0, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        opacity: .4;
        @include mixins.transition(opacity);
    }

    &__description {
        font-size: 14px;
    }

    &__address-content {
        opacity: .7;
    }

    &:has(&__address:hover) .messenger-dialog__footer {
        opacity: .1;
    }

    &__company {
        font-weight: 600;
        display: inline-flex;
        align-items: center;
    }

    &__text {
        font-size: 13px;
    }

    &__category {
        @include mixins.text-overflow();
    }

    &.skeleton-body {
        .messenger-dialog-company {
            &__description {
                @include mixins.flex-box($gap: 2px, $d: column);
            }
        }
    }

    &__avatar {
        margin-left: 5px;
        opacity: .4;
        border: 1px solid rgba(0, 0, 0, .25);
        @include mixins.transition(opacity);
    }

    &:hover &__avatar, &:hover &__id {
        opacity: 1;
    }
}

.messenger-dialog-functions {
    @include mixins.flex-box($a: center, $gap: 5px);

    &__item {
        position: relative;
        background-color: #0f6674;
        height: 30px;
        width: 30px;
        color: #fff;
        line-height: 16px;
        font-size: 16px;
    }

    &__chip {
        position: absolute;
        top: -4px;
        right: -4px;
        height: 15px;
        width: 15px;
        font-size: 11px;
        line-height: 11px;
        background-color: #f93154;
        color: #fff;
        font-weight: 600;
    }

    &__messages {
        font-size: 14px;
    }
}

.messenger-dialog-request {
    position: relative;

    &.skeleton-body {
        .messenger-dialog-request {
            &__body {
                @include mixins.flex-box($gap: 2px, $d: column);
            }
        }
    }

    &__body {
        font-size: 14px;
        max-width: calc(100% - 25px);
        height: 110px;
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 5px);
        margin-left: 30px;
    }

    &__express {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 30px;
        color: #9f3f56;
    }

    &__id {
        padding: 2px 4px;
        background-color: rgba(221, 221, 221, .9);
        height: max-content;
    }

    &__company {
        font-weight: 600;
        @include mixins.text-overflow($break: break-all);
    }

    &__category {
        color: #5659c2;
        margin-top: 5px;
        @include mixins.text-overflow($break: break-all);
    }

    &__description {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        color: #f93154;

        i {
            font-size: 16px;
            opacity: .8;
        }

        &:has(span:nth-of-type(2)) .messenger-dialog-request__type::after {
            content: ',';
        }

        &.active {
            color: #05865f;
        }
    }

    &__location {
        @include mixins.flex-box($gap: 5px, $d: column);
    }

    &__list {
        @include mixins.flex-box($a: center, $gap: 5px, $wrap: true);
    }

    &__subtitle {
        margin-bottom: 3px;
        font-weight: 500;
    }

    &__label {
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(211, 211, 211, .5);
        width: max-content;
    }

    &__regions {
        opacity: .7;
        @include mixins.text-overflow(2);

        span:last-child {
            margin-left: 5px;
        }
    }

    &:has(&__regions:hover) .messenger-dialog__footer {
        opacity: .1;
    }

    &__avatar {
        top: 10px;
        left: 10px;
    }
}

.messenger-dialog-user {
    &__body {
        @include mixins.flex-box($gap: 10px);
    }

    &__name {
        font-weight: 500;
    }

    &__role {
        font-size: 14px;
        color: #05865f;
        font-weight: 500;
    }
}

.messenger-dialog-preview-tab {
    &__header {
        padding: 5px 10px;
        border-top: 1px solid #c3e3d4;
        border-bottom: 1px solid #c3e3d4;
    }

    &__title {
        font-weight: 500;
    }

    &__heading {
        @include mixins.flex-box($gap: 5px, $a: center);

        &.has-warning {
            color: variables.$color_danger;
        }
    }

    &__body {
        padding: 5px 10px;
    }

    .tabs-component-panels {
        padding: 0!important;
    }
}

.messenger-dialog-preview {
    &__content {
        border-bottom: 1px solid rgba(0, 0, 0, .4);
    }

    &__grid {
        display: grid;
        row-gap: 3px;
        column-gap: 10px;
        grid-template-columns: 3fr 2fr;
    }

    &__label {
        max-width: 100%;

        &.editable {
            display: block;
            padding: 2px 5px;
            margin: 0 -5px;
            border-radius: 5px;
            cursor: pointer;

            @include mixins.transition(background-color);
            @include mixins.hover {
                background-color: #d1d5db;
            }
        }
    }

    &__value {
        max-width: 100%;
    }

    &__warning {
        color: variables.$color_danger;
        font-weight: 400;
    }

    &__with-tippy {
        padding: 2px 5px;
        margin: 0 -5px;
        border-radius: 5px;
        background-color: #d5ded5;
        @include mixins.transition(background-color);
        @include mixins.hover {
            background-color: #b4d7b4;
        }
    }

    &__tabs {
        @include mixins.flex-box($gap: 5px, $a: center);
        margin-bottom: 5px;
    }

    &__tab-link {
        display: block;
        color: inherit;
        padding: 5px 10px;
        background-color: variables.$bg-gray-l;
        @include mixins.transition(background-color, color);

        &.is-active {
            background-color: variables.$bg-success;
            color: #fff;
            font-weight: 500;
        }

        @include mixins.hover {
            background-color: variables.$bg-success;
            color: #fff;
        }

        &.is-disabled {
            pointer-events: none;
            opacity: .6;
            background-color: variables.$bg-danger-l;
        }

        &.skeleton {
            background-color: transparent;
            pointer-events: none;
        }
    }
}

.messenger-dialog-preview-tippy {
    &__title {
        font-weight: 600;
    }

    &__label {
        font-weight: 500;
        color: #969696;
    }
}

.messenger-dialog-preview-storage-services {
    &__item {
        color: variables.$cl-danger;

        &:before {
            content: '- ';
        }

        &.active {
            color: variables.$cl-success;

            &:before {
                content: "+ ";
            }
        }
    }
}