@use "../../utils/mixins";
@use "../../utils/variables";

.messenger-aside {
    background-color: #f8f8f8;

    &__list {
        overflow-y: auto;
        height: max-content;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        @include mixins.flex-box($d: column);
    }

    &__body {
        height: 100%;
        max-height: calc(100vh - 71px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__archive {
        .accordion-simple__trigger {
            padding: 10px;
            opacity: .6;
            @include mixins.transition(background-color .5s, opacity .5s);

            @include mixins.hover {
                background-color: #efefef;
                opacity: 1;
            }

            &.active {
                opacity: 1;
            }
        }
    }

    &__offers.reversed {
        .messenger-aside-offers {
            transform: translateY(var(--companies-height));
        }

        .messenger-aside-companies {
            transform: translateY(var(--negative-offers-height));
        }
    }

    &__offers.reversing {
        .messenger-aside-offers, .messenger-aside-companies {
            @include mixins.transition(transform .8s);
        }
    }
}

.messenger-aside-section {
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &:first-child {
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
}

.messenger-aside-header {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    @include mixins.flex-box($a: center, $gap: 10px);

    &__form {
        @include mixins.flex-box($a: center, $gap: 10px);
        width: 100%;
    }

    &__button {
        height: 40px;
        max-width: 40px;
        width: 100%;
        background-color: #F3F3F3;
        transition: background-color .3s ease;
        border: none;

        &:not([disabled]) {
            cursor: pointer;

            &:hover {
                background-color: #d1d5db;
            }
        }
    }
}

.messenger-aside-section {
    &__header {
        @include mixins.flex-box($j: space-between);
        position: relative;
        padding: 10px;
        cursor: pointer;
        transition: background-color .5s ease;

        &:hover {
            background-color: #efefef;
        }
    }
}

.accordion-simple {
    &:has(&__body.active) .messenger-aside-section__header {
        background-color: #efefef;
    }
}

.messenger-aside-heading {
    @include mixins.flex-box($a: center, $gap: 5px);
    font-weight: 600;
}

.messenger-aside-offers {
    background-color: #f8f8f8;

    .messenger-aside__list {
        max-height: 70vh;
    }
}

.messenger-aside-companies {
    background-color: #f8f8f8;

    .messenger-aside__list {
        max-height: 830px;
    }
}

.messenger-aside-users {
    .messenger-aside__list {
        max-height: 90vh;
    }
}

.messenger-aside-sorting {
    @include mixins.flex-box($gap: 5px);

    &__button {
        border: none;
        background-color: #fff;
        font-size: 12px;
        height: 30px;
        width: 30px;
        flex-shrink: 0;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
        position: relative;

        @include mixins.clear-button;
        @include mixins.hover {
            background-color: #10b981;
            color: #fff;
        };

        @include mixins.transition(background-color .5s, color .5s);
    }

    &__list {
        @include mixins.flex-box($d: column);
        font-size: 14px;
    }

    &__option {
        color: #000;
        padding: 5px;
        @include mixins.transition(background-color, color);
        @include mixins.flex-box($a: center, $gap: 5px, $j: space-between);
        width: 100%;

        &:not(&:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        @include mixins.hover {
            background-color: #10b981;
            color: #fff;
        }
    }

    &__badge {
        position: absolute;
        background-color: variables.$bg-danger;
        color: #fff;
        width: 20px;
        height: 20px;
        top: -6px;
        right: -6px;
        border-radius: 50%;
        padding: 0 3px;
        font-size: 11px;
        line-height: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.messenger-aside__list {
    .virtual-dnd-list-item {
        &:nth-child(even) {
            .messenger-dialog {
                background-color: #efefef;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
    }
}