@use '../../utils/mixins';
@use '../../utils/variables';

.messenger-quiz {
    font-size: 14px;
    overflow-y: auto;
    background-color: #F3F3F3;
    @include mixins.flex-box($d: column);

    &__wrapper {
        padding: 10px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        overflow-y: auto;
        max-height: 100%;
    }

    &__header {
        padding: 5px 10px;
        color: #fff;
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__content {
        position: relative;
    }

    &__footer {
        @include mixins.flex-box($gap: 5px);
        margin-top: 10px;
    }

    &__action {
        padding: 5px 15px;
        background-color: #10b981;
        color: #fff;
        cursor: pointer;

        @include mixins.transition(background-color .2s);

        &:hover {
            background-color: #009665;
        }

        i {
            margin-right: 5px;
        }
    }

    &__done {
        position: absolute;
        z-index: 6;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
        backdrop-filter: blur(1px);
        @include mixins.flex-box($j: center, $a: center);
    }

    &__done-button {
        &.hidden {
            opacity: 0;
        }
    }

    &__info {
        padding: 20px 20px 0;
    }

    &__recipient {
        background-color: #808080;
        cursor: pointer;
        border-radius: 5px;
        padding: 3px 7px;
        border: none;
        outline: none;
        color: #fff;
        width: max-content;
        max-width: 100%;
        @include mixins.transition(background-color);
        @include mixins.hover {
            background-color: #a6a6a6;
        }
    }

    &__icon {
        font-size: 14px !important;
    }

    &__recipient-form {
        .v-dropdown-trigger {
            display: block;
        }

        .messenger-chat-form-contact {
            width: 100%;
            max-width: none;
        }
    }

    &__surveys {
        background-color: #F3F3F3;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__disabled {
        .icon {
            font-size: 70px;
            opacity: .5;
        }
    }

    &__unavailable-body {
        color: variables.$color_dark;
        font-weight: 500;

        .icon {
            font-size: 40px;
            opacity: .5;
        }
    }

    &__related {
        font-weight: 500;
        margin-left: 3.5px;
    }

    &__related-text {
        margin-left: 9px;
        @include mixins.flex-box($a: center, $gap: 5px);
    }
}

.messenger-quiz-question {
    padding: 10px;

    &--call {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 5px);
        font-weight: 500;
    }

    &__icon {
        font-size: 28px;
        margin-right: 5px;
    }

    &__title {
        margin-right: auto;
        font-weight: 600;
        font-size: 15px;

        &.disabled {
            opacity: .6;
        }
    }

    &__additions {
        @include mixins.flex-box($wrap: true);

        .checkbox-chip__label {
            &:not(.active):not(:hover) {
                background-color: transparent;
            }

            border-color: #a8a8a8;
        }

        .radio-chip {
            &:not(.active):not(:hover) {
                background-color: transparent;
            }

            border-radius: 0;
            border-color: #a8a8a8;

            &:first-of-type {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .radio-options .form__row {
            gap: 0;
            margin-top: 0 !important;
        }
    }

    &__interests {
        position: relative;
        z-index: 2;
        margin-top: 4px;
        @include mixins.flex-box($gap: 5px, $wrap: true);

        .checkbox-chip__label {
            min-height: 25px;
            padding: 2px 10px;
            border-color: #a8a8a8;
        }
    }

    &__field {
        opacity: 1;

        .form__textarea {
            font-size: 14px;
            height: 80px;
            border-radius: 5px;
            outline: none;
            min-height: 50px;
            max-height: 146px;
            border-color: #a8a8a8;
        }

        &.disabled {
            .form__textarea {
                min-height: 30px;
                max-height: 30px;
                overflow: hidden;
            }
        }
    }

    &__actions {
        margin-bottom: 5px;
        @include mixins.flex-box($wrap: true, $gap: 5px);
    }

    &__edits {
        position: absolute;
        top: 5px;
        right: 5px;
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__button {
        padding: 5px 15px;
        height: max-content;

        i {
            font-size: 14px;
        }
    }

    &__main {
        @include mixins.flex-box($gap: 5px);
    }

    &__contact {
        color: variables.$cl-success;
        text-decoration: underline;
    }

    &__task {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 0;
    }

    &__call {
        background-color: variables.$color_warning_dark;

        &:hover {
            background-color: variables.$color_warning !important;
            color: #fff;
        }
    }

    &__no-answer {
        &.active {
            background-color: variables.$color_warning;
        }
    }

    .messenger-chat-message-addition {
        border-radius: 0 !important;
    }

    &__offers {
        max-height: 365px;
    }

    &__requests {
        padding-right: 5px;
        max-height: 180px;
    }

    &__list {
        overflow-y: auto;
        @include mixins.flex-box($d: column, $gap: 5px);

        &.expanded {
            max-height: none;
        }
    }
}

.messenger-quiz-helper {
    font-size: 14px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    background-color: #F3F3F3;
    position: absolute;
    z-index: 13;
    top: 130px;
    width: calc(100% - 30px);
    right: calc(100% + 15px);
    height: max-content;
    max-height: calc(100% - 400px);
    @include mixins.flex-box($d: column);

    &__header {
        padding: 5px 10px;
        background-color: #566B6E;
        color: #fff;
        @include mixins.flex-box($a: center, $j: space-between);

        i {
            font-size: 18px;
            cursor: pointer;
        }
    }

    &__sections {
        @include mixins.flex-box($d: column, $gap: 10px);
        overflow-y: auto;
        scrollbar-gutter: stable;
        position: relative;
        max-height: 100%;
        padding: 10px;
    }

    &__question {
        @include mixins.flex-box($a: center, $j: space-between);
        padding: 10px;
        background-color: #d1d5db;
        font-weight: 500;
        @include mixins.transition(background-color, color);

        &.active, &:hover {
            background-color: #10b981;
            color: #fff;
        }
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $d: column);
        margin-top: 10px;
    }

    &__row {
        background-color: #fff;
        padding: 5px;
        border-radius: 4px;
    }
}

.messenger-quiz-element {
    @include mixins.flex-box($gap: 10px);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
    cursor: pointer;
    @include mixins.transition(background-color .3s);

    &:hover {
        background-color: #BEBEBE;
    }

    &__author {
        font-weight: 500;
        margin-bottom: 3px;
    }

    &__meta {
        margin-left: auto;
        align-self: flex-end;
    }
}

.messenger-quiz-preview {
    font-size: 14px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__element {
        border-radius: 5px;
        background-color: #F3F3F3;
        width: 100%;
    }

    &__calls {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding-bottom: 8px;
        margin: 0 10px;
    }

    &__call {
        background-color: variables.$color_grey_light;
        border-radius: 4px;
    }

    &__links {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        padding: 5px 10px;
        margin-top: 5px;
    }
}

.messenger-quiz-preview-info {
    &__content {
        @include mixins.flex-box($gap: 10px, $a: center)
    }

    &__icon {
        font-size: 18px;
        background-color: variables.$bg-success-l;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__contact {
        max-height: 400px;
        overflow-y: auto;
    }
}

.messenger-quiz-header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    min-height: 100px;
    position: relative;

    &.small {
        min-height: 55px;
    }

    &:has(.messenger-quiz-header__empty) {
        min-height: 70px;
    }

    &__empty {
        @include mixins.flex-box($a: center, $gap: 10px);
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($gap: 5px);
        padding-bottom: 5px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 5px;
            background-color: lighten(variables.$color_grey, 30);
        }
    }

    &__grid {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        padding-bottom: 5px;
    }

    &__contact {
        width: calc(calc(100% - 10px) / 3);
    }

    &__heading {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__info {
        @include mixins.flex-box($j: center, $gap: 5px, $a: center);
    }
}

.messenger-quiz-contact {
    padding: 15px;
    border-radius: 10px;
    flex-shrink: 0;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .1);
    position: relative;
    @include mixins.flex-box($gap: 5px, $j: space-between);
    @include mixins.transition(background-color, color);

    &.disabled {
        opacity: .4;
        pointer-events: none;
    }

    &.main {
        border: 2px solid variables.$color_warning;
    }

    &:hover, &.active {
        background-color: variables.$bg-success-m;

        .messenger-quiz-contact {
            &__error {
                color: #450000;
            }

            &__button {
                border-color: rgba(255, 255, 255, .5);

                &.danger {
                    background-color: variables.$bg-danger-m;
                }
            }

            &__calls, &__icon {
                color: #fff !important;
            }
        }

        &.main {
            border-color: rgba(0, 0, 0, .2) !important;
        }
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
        align-self: flex-start;
    }

    &__username {
        font-weight: 500;
        font-size: 20px;
        @include mixins.text-overflow();
    }

    &__error {
        font-size: 12px;
        font-weight: 500;
        @include mixins.transition(color);
    }

    &__icon {
        @include mixins.transition(color);
    }

    &__staff {
        font-size: 13px;
    }

    &__calls {
        font-size: 14px;
        @include mixins.transition(color);
    }

    &__email {
        font-size: 13px;
    }

    &__warning {
        @include mixins.text-overflow(2);
    }

    &__phone {
        color: inherit;
    }

    &__more {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    &__comments {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 12px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        color: #fff;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__button {
        @include mixins.transition(border, color, background-color);

        &.danger {
            background-color: variables.$bg-danger-l;
        }
    }

    &__contacts {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__column {
        @include mixins.flex-box($d: column, $gap: 3px, $a: flex-start);
    }

    &__helper {
        padding: 2px 4px;
        background-color: variables.$bg-gray-l;
        border-radius: 5px;
        display: block;
        width: max-content;
    }

    &__info {
        max-width: calc(100% - 30px);
    }

    &__badges {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__badge {
        font-size: 13px;
        padding: 3px 5px;
        font-weight: 500;
        background-color: variables.$color_info;
        color: #fff;

        &--danger {
            background-color: #cc1919;
        }

        &--warning {
            background-color: #f68e00;
        }

        &--success {
            background-color: #12b881;
        }
    }
}

.messenger-quiz-recipient {
    @include mixins.flex-box($a: center, $j: center, $d: column);
    text-align: center;

    &__username {
        font-weight: 500;
    }

    &__username-warning {
        font-size: 12px;
    }

    &__staff {
        font-size: 13px;
    }

    &__email {
        font-size: 13px;
    }

    &__warning {
        font-size: 13px;
        padding: 1px 5px;
        margin: 5px auto;
        width: max-content;
        max-width: 100%;
        background-color: variables.$color_danger_dark;
        color: #fff;
        @include mixins.text-overflow(2);
    }

    &__contacts {
        @include mixins.flex-box($d: column);
    }

    &__phone {
        color: inherit;
    }
}

.messenger-quiz-header-comments {
    height: 100%;
    font-size: 16px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
    }
}

.messenger-quiz-inline-element {
    background-color: variables.$color_grey_light;
    padding: 5px 10px;
    @include mixins.flex-box($a: center, $gap: 5px);

    &__icon {
        font-size: 22px;
    }

    &__button {
        color: #000;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .1);

        &:hover {
            background-color: variables.$bg-success !important;
        }
    }
}

.messenger-quiz-inline-dependent {
    background-color: variables.$color_grey_alt;
    border-radius: 4px;
    padding: 5px;
    @include mixins.flex-box($gap: 10px);

    &__chat {
        padding: 0;
        height: 112px;
    }

    &__relation {
        width: 40%;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    &__label {
        color: variables.$color_grey;
        font-weight: 600;
        font-size: 14px;
    }

    &__description {
        font-size: 14px;
    }

    &__row {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__name {
        font-weight: 500;
        color: variables.$color_grey;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }
}

.messenger-quiz-recipient-picker {
    @include mixins.flex-box($gap: 20px, $wrap: true);
    max-height: 600px;

    &__element {
        flex-basis: calc(calc(100% - 40px) / 3);
        background-color: variables.$bg-success-l;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        @include mixins.transition(background-color, color);

        &.active {
            background-color: variables.$bg-success;
            color: #fff;
        }

        &:hover {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }

    &__empty {
        @include mixins.flex-box($a: center, $j: center, $gap: 10px);
    }
}

.survey-form {
    & > .modal__container {
        max-height: none;
        height: calc(100vh - 20px);
        margin: 10px;

        & > .modal__header {
            background-color: #29333d;
            color: #fff;
            font-size: 20px;
            font-weight: 500;

            & > .modal__close {
                top: 10px;
                right: 10px;
                color: #fff !important;
            }
        }

        & > .modal__body {
            flex-grow: 1;
            padding-top: 0;

            & > .container-fluid {
                height: 100%;
            }
        }
    }

    &__wrapper {
        height: 100%;
    }

    &__header {
        font-size: 13px;
        padding: 10px 15px 5px;
        overflow-y: auto;
        height: 152px;
        flex-shrink: 0;
        scrollbar-gutter: stable;
        background-color: #f5f5f5;
    }

    &__stepper {
        height: 100%;
        @include mixins.flex-box($d: column);

        &::before {
            content: '';
            display: block;
            width: calc(100% + 40px);
            height: 80px;
            background-color: #f5f5f5;
            position: absolute;
            z-index: -1;
            left: -15px;
            top: -15px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        .stepper__body {
            flex-grow: 1;
            padding: 7px;
            overflow-y: auto;
        }

        .stepper__item {
            max-height: 100%;
            height: 100%;
        }

        .stepper__navigation {
            padding: 7px;
            margin-top: 5px;
            z-index: 2;
            margin-bottom: 20px;
        }

        .stepper__footer {
            padding: 7px;
        }
    }

    &__stepper-action {
        &.disabled {
            opacity: .2;

            &:hover {
                opacity: .5;
            }
        }
    }

    &__footer {
        justify-content: flex-start;
    }

    .splitpanes__splitter {
        border: 1px solid #eee;
        background-color: variables.$color_grey_light !important;
        width: 14px !important;
        margin: 0 !important;
        @include mixins.transition(background-color);

        &:hover {
            background-color: variables.$bg-primary-l !important;
        }

        &:before, &:after {
            background-color: #000 !important;
        }
    }

    .splitpanes__pane {
        background-color: transparent !important;
        overflow-x: visible;
        overflow-y: auto;
    }

    &__button {
        background-color: #F5F5F5;
        color: #2c2c2c;
        box-shadow: none;
        font-size: 15px;

        &.danger {
            background-color: #f93154;
            color: #fff;
        }
    }
}

.survey-form-header-company {
    position: relative;

    .company-short-card {
        gap: 20px;
    }

    .company-preview-tab__description {
        opacity: .6;
        font-style: italic;
        @include mixins.transition(opacity);

        &:hover {
            opacity: 1;
        }
    }

    &__actions {
        position: absolute;
        top: 0;
        right: 0;
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__tabs {
        .tabs-component-tabs {
            gap: 0 10px;
            padding: 0;
            background-color: transparent;
        }

        .tabs-component-panels {
            padding: 10px 0 !important;
            max-height: 190px;
            overflow-y: auto;
        }

        .company-preview-tab {
            font-size: 14px;
            padding: 5px 7px;

            &:hover, &.is-active {
                background-color: #e5e5e5;
            }
        }
    }

    &__tasks {
        overflow-y: auto;
        max-height: 75px;
        @include mixins.flex-box($d: column, $gap: 3px);
    }

    &__task {
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, .1);
    }
}

.survey-form-stepper-helper {
    background-color: #e9eefa;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    flex-shrink: 0;
    animation: helperPulse 9s infinite ease-in-out alternate;
    @include mixins.flex-box($a: center, $gap: 30px, $j: center);

    &::-webkit-scrollbar {
        height: 3px;
        background-color: lighten(variables.$color_grey, 30);
    }

    &__icon {
        position: absolute;
        left: 10px;
        bottom: 0;
        z-index: 1;
        color: #fff;

        &--right {
            left: unset;
            right: 10px;
        }
    }

    &__question {
        z-index: 2;
        font-size: 21px;
        color: #8f919a;
        opacity: .6;
        font-weight: 600;
        flex-shrink: 0;
        animation: helperQuestionPulse 9s infinite ease-in-out alternate;
    }
}

@keyframes helperPulse {
    from {
        background-color: #e9eefa;
    }
    40% {
        background-color: #e9eefa;
    }
    60% {
        background-color: #c0d5fa;
    }
    to {
        background-color: #c0d5fa;
    }
}

@keyframes helperQuestionPulse {
    from {
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    60% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

.survey-form-objects {
    height: 100%;
    overflow-y: auto;

    &__list {
        min-width: 515px;
        overflow-y: auto;
        height: calc(100% - 55px);
        padding-right: 5px;
        @include mixins.flex-box($gap: 5px, $d: column);
    }

    &__element {
        flex-shrink: 0;
    }

    &__link {
        color: #0a2cbe;
        cursor: pointer;
        font-size: 15px;
        @include mixins.transition(color);

        &:hover {
            color: variables.$color_light_blue;
        }
    }

    &__checkbox {
        font-size: 14px;

        .checkbox__row {
            align-items: center;
        }

        input {
            height: 15px;
            width: 15px;
        }
    }

    &__scroll {
        position: sticky;
        bottom: 10px;
        left: 100%;
        margin-right: 10px;
        z-index: 5;
    }
}

.survey-preview {
    min-height: 300px;
}

.messenger-quiz-form-company-picker {
    &__list {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }
}

.messenger-quiz-form-company-picker-element {
    border: 1px solid #d1d5db;
    padding: 3px 6px;
    width: max-content;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    @include mixins.flex-box($gap: 3px, $a: center);

    &__button {
        font-size: 16px;
        cursor: pointer;
        @include mixins.transition(color);

        &:hover {
            color: variables.$bg-danger;
        }
    }
}

.messenger-quiz:has(.messenger-quiz__disabled) .messenger-quiz-template {
    min-height: 200px;
}

.messenger-quiz-template {
    &.disabled {
        pointer-events: none;
    }

    &__label {
        padding: 10px;
    }

    &__accordion {
        width: max-content !important;
        border-radius: 5px 5px 0 0 !important;
    }

    &__accordion-body {
        border: 2px solid variables.$color_grey_alt;
        padding: 5px 5px 10px;
        border-radius: 0 4px 4px 4px !important;
    }

    &__groups {
        @include mixins.flex-box($d: column);

        &.reversed {
            flex-direction: column-reverse;
        }
    }
}

.messenger-quiz-form {
    &__suggest-button {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__radio-chip {
        min-width: max-content;
        border-color: #a8a8a8;
        font-weight: 500;
    }
}

.messenger-quiz-form-template-offer {
    &__row {
        @include mixins.flex-box($gap: 10px, $a: flex-start);
    }

    &__preview {
        min-height: 115px;
        flex-grow: 1;

        &.passive {
            background-color: rgba($color: variables.$color_warning, $alpha: .6);
        }

        &.active {
            background-color: rgba($color: variables.$bg-success, $alpha: .6);
        }
    }

    &__aside {
        min-width: max-content;
        text-align: center;
        padding-right: 5px;
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__panel {
        width: 330px;
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        .messenger-dialog-preview__tab-link {
            padding: 5px;
        }
    }

    &__questions {
        flex-grow: 1;
        padding-left: 10px;
        @include mixins.flex-box($d: column, $gap: 8px);
    }

    &__tabs {
        @include mixins.flex-box($gap: 5px);
    }

    &__offers {
        .tabs-component-panels {
            padding: 5px 0 0 0 !important;
        }
    }

    &__tab {
        display: block;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: variables.$bg-gray-l;
        color: inherit;
        font-weight: 500;

        @include mixins.transition(opacity, background-color, color);

        &:hover {
            background-color: variables.$bg-success-l;
        }

        &.is-active {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }
}

.messenger-quiz-form-template-request {
    &__row {
        @include mixins.flex-box($gap: 10px, $a: flex-start);
    }

    &__preview {
        flex-grow: 1;
        height: 100%;
        @include mixins.transition(background-color, color);

        &.skip {
            background-color: rgba($color: variables.$color_warning, $alpha: .6);

            .messenger-quiz-form-request-picker-element {
                &__description, &__regions, &__category {
                    color: #000
                }
            }
        }

        &.passive {
            opacity: .5;
        }

        &.active {
            background-color: rgba($color: variables.$bg-success, $alpha: .6);

            .messenger-quiz-form-request-picker-element {
                &__description, &__regions, &__category {
                    color: #000
                }
            }
        }
    }

    &__aside {
        text-align: center;
        @include mixins.flex-box($d: column, $gap: 4px);
    }
}

.messenger-quiz-form-request-picker {
    &__list {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }
}

.messenger-quiz-form-request-picker-element {
    font-size: 13px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 3px 5px;

    &.disabled {
        opacity: .5;
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 5px);
        font-weight: 600;
        position: relative;
        padding-right: 35px;
    }

    &__edit {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__express {
        font-size: 20px;
        color: #9f3f56;
    }

    &__id {
        padding: 2px 4px;
        background-color: rgba(221, 221, 221, .9);
        height: max-content;
    }

    &__category {
        color: #5659c2;
        font-weight: 500;
        margin-top: 5px;
        @include mixins.text-overflow($break: break-all);
    }

    &__description {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        color: #f93154;
        font-weight: 500;

        i {
            font-size: 16px;
        }

        &:has(span:nth-of-type(2)) .messenger-dialog-request__type::after {
            content: ',';
        }

        &.active {
            color: #05865f;
        }
    }

    &__location {
        @include mixins.flex-box($gap: 5px, $d: column);
    }

    &__list {
        @include mixins.flex-box($a: center, $gap: 5px, $wrap: true);
    }

    &__subtitle {
        margin-bottom: 3px;
        font-weight: 500;
    }

    &__label {
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(211, 211, 211, .5);
        width: max-content;
    }

    &__regions {
        @include mixins.text-overflow(2);

        span:last-child {
            margin-left: 5px;
        }
    }
}

.messenger-quiz-preview-tasks {
    padding: 10px;

    .dashboard-card-task__body {
        background-color: #fff;
    }
}

.messenger-quiz-question-template-offers {
    &__modal {
        font-size: 14px;
        @include mixins.flex-box($gap: 10px);
    }

    &__objects {
        width: 550px;
        flex-shrink: 0;
    }

    &__object {
        @include mixins.flex-box($gap: 10px, $a: center);
        padding-right: 10px;
    }

    &__object-preview {
        cursor: pointer;
        @include mixins.transition(background-color);

        &:hover, &.active {
            background-color: variables.$color_grey_light;

            .ui-field--cl-light {
                background-color: variables.$color_light_trans;
            }
        }
    }

    &__column {
        @include mixins.flex-box($d: column, $gap: 8px);
        overflow-y: auto;
        max-height: 700px;

        padding: 5px 0 5px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px 0 0 4px;
    }

    &__icon {
        font-size: 35px;
    }

    &__preview {
        overflow-y: auto;
        max-height: 700px;
        width: 100%;

        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px 0 0 4px;
    }

    &__address {
        @include mixins.text-overflow();
    }

    &__answer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        @include mixins.flex-box($a: center, $j: center);
    }
}

.survey-form-object {
    font-size: 14px;
    border-radius: 2px;
    padding: 5px;
    background: -webkit-linear-gradient(90deg, #cecece, #ffffff 80%);
    background: linear-gradient(90deg, #cecece, #ffffff 80%);
    width: 100%;

    @include mixins.flex-box();
    @include mixins.transition(background-color .3s, color .3s);

    &.disabled &__body {
        opacity: .5;
    }

    &.success {
        background: -webkit-linear-gradient(90deg, #10B981, #ffffff 80%);
        background: linear-gradient(90deg, #10B981, #ffffff 80%);
    }

    &.danger {
        background: -webkit-linear-gradient(90deg, #F93154, #ffffff 80%);
        background: linear-gradient(90deg, #F93154, #ffffff 80%);
    }

    &__body {
        cursor: pointer;
        will-change: background-color;
        overflow: hidden;
        border: 2px solid #fff;
        border-image: linear-gradient(to right, #fff 0%, #dadada 100%) 1;
        background-color: #fff;
        width: 100%;
        @include mixins.flex-box($gap: 5px);
        @include mixins.transition(background-color .3s, color .3s);

        &:hover, &.active {
            background: #76a3ea !important;
            color: #fff;

            .survey-form-object {
                &__action {
                    background-color: variables.$color_grey_light;
                }

                &__offer {
                    color: #fff;
                }
            }
        }
    }

    &--new {
        background: -webkit-linear-gradient(90deg, #fd8422, #ffffff 80%);
        background: linear-gradient(90deg, #fd8422, #ffffff 80%);

        .survey-form-object__body {
            background-color: #fd8422;
        }
    }


    &:has(&__aside) &__body {
        border-right: none;
    }

    &__aside {
        border: 2px solid rgb(182, 200, 232);
        padding: 5px 10px;
        @include mixins.flex-box($d: column, $a: center, $gap: 10px);
    }

    &__checkbox {
        .checkbox__row input:not(:checked) {
            opacity: .5;
        }
    }

    &__icon {
        font-size: 26px;
    }

    &__accordion {
        font-weight: 500;
        background-color: transparent !important;
        padding: 10px;
    }

    &__preview {
        width: 170px;
        min-width: 170px;
        height: 100px;
        position: relative;

        .offer-table-item-motion-slider img {
            height: 100%;
        }

        .offer-table-item-preview__button {
            opacity: .5;
            will-change: opacity;
        }

        .messenger-dialog-offer__id {
            color: #000;
            will-change: opacity;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        &:hover {
            .offer-table-item-preview__button {
                opacity: 1;
            }
        }
    }

    &__preview-header {
        position: absolute;
        top: 2px;
        left: 3px;
        z-index: 5;
        width: calc(100% - 6px);
        @include mixins.flex-box($gap: 3px, $a: center);
    }

    &__preview-footer {
        position: absolute;
        bottom: 2px;
        left: 3px;
        z-index: 5;
        width: calc(100% - 6px);
        @include mixins.flex-box($gap: 3px, $a: center);
    }

    &__preview-label {
        font-size: 14px;
        border-radius: 0;
        border: 1px solid #000000;
    }

    .dashboard-chip {
        font-size: 13px;
        padding: 4px 8px;
    }

    &__chips {
        position: absolute;
        left: 5px;
        bottom: 5px;
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__avatar {
        border: 1px solid rgba(0, 0, 0, .25);
        @include mixins.transition(opacity);
    }

    &:has(&__preview:hover) .messenger-quiz-form-offer-picker-element__avatar {
        opacity: .2;
    }

    &__address {
        @include mixins.text-overflow(2, break-all);

        .tooltip {
            margin-right: 5px;
        }
    }

    &__footer {
        margin: 5px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    &__column {
        background-color: variables.$color_light;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    }

    &__content {
        padding-right: 40px;
    }

    &__actions {
        position: absolute;
        top: 5px;
        right: 5px;
        @include mixins.flex-box($d: column, $gap: 4px);
    }

    &__offer {
        color: #05865f;
        @include mixins.transition(color);
    }

    &__new-label {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 5px;
        margin-top: 3px;
    }
}

.messenger-quiz-form-offer-picker {
    &__tabs {
        margin-top: 10px;
        position: relative;
        @include mixins.flex-box($gap: 5px);

        &::before {
            content: "";
            display: block;
            height: 2px;
            background-color: rgba(138, 138, 138, 0.3);
            width: 100%;
            position: absolute;
            bottom: -5px;
        }
    }

    &__tab {
        color: variables.$color_dark_grey;
        padding: 5px;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
            color: variables.$cl-success
        }

        &.is-active {
            color: variables.$cl-success;
            border-bottom: 2px solid rgb(16, 185, 129);
        }
    }
}

.messenger-quiz-preview-question {
    &__description {
        text-align: start;
        background-color: variables.$color_light;
        padding: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.survey-card {
    &__new-offer, &__new-request {
        flex-basis: calc(50% - 5px);
    }

    &__calls {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        @include mixins.flex-box($d: column, $gap: 5px);
    }


}

.survey-card-custom-element {
    position: relative;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 4px;

    &__actions {
        position: absolute;
        top: 4px;
        right: 4px;
        @include mixins.flex-box($gap: 2px);
    }
}

.messenger-quiz-question-card {
    background-color: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: 6px solid variables.$color_danger;
    padding: 10px;
    border-radius: 4px;

    &.active {
        border-left-color: variables.$cl-success;
    }

    &.passive {
        border-left-color: variables.$color_warning;
    }
}

.messenger-quiz-question-call {
    &__radio {
        .form__row {
            gap: 0;
        }

        .radio-chip {
            border-radius: 0;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    }

    .messenger-quiz-question__main {
        .radio-chip {
            display: flex;
            align-items: center;
        }
    }

    &__description {
        font-weight: 400;
    }

    &__schedule {
        border: 1px solid #d1d5db;
        box-shadow: none;
        border-radius: 2px;
        height: 100%;
        padding: 5px 15px;
        min-height: 35px;
    }
}

.survey-card-list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    @include mixins.flex-box($d: column, $gap: 10px);
}

.call-inline-card {
    padding: 5px;
    @include mixins.flex-box($gap: 8px, $a: center);

    &__icon {
        font-size: 20px;
        width: 24px;
    }
}

.contact-comment {
    position: relative;

    &::before {
        background: rgb(206, 197, 197);
        bottom: 0;
        content: "";
        left: 14px;
        position: absolute;
        top: -20px;
        width: 2px;
    }

    &__avatar {
        z-index: 2;
    }

    &:last-of-type {
        &::before {
            bottom: auto;
            height: 20px;
        }
    }

    @include mixins.flex-box($gap: 7px);

    &__content {
        width: 100%;
    }

    &__message {
        word-break: break-word;
    }

    &__header {
        font-size: 14px;
        @include mixins.flex-box($a: center);
    }

    &__username {
        font-weight: 500;
        color: variables.$color_grey;
    }

    &__dot, &__date {
        color: #736969;
    }

    &__dot {
        font-weight: 600;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
    }

    &__button {
        background-color: variables.$bg-gray-l;
        padding: 2px 4px;
        font-size: 12px;
    }

    &__type {
        font-weight: 500;
    }

    &__body {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__files {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__file {
        width: calc(20% - 4px);
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
    }
}

.survey-form-object-preview {
    padding: 0 10px 10px 10px;
    background: linear-gradient(90deg, #eaf1fd, #fff 60%);
    min-height: 100%;

    &__header {
        @include mixins.flex-box($a: center, $j: space-between);
    }

    &__address {
        @include mixins.text-overflow(1);
    }

    &__slides {
        overflow-x: auto;
        @include mixins.flex-box($gap: 2px);
    }

    &__slide {
        flex-shrink: 0;
        height: 110px;
        cursor: pointer;
        will-change: opacity;
        @include mixins.transition(opacity);
        @include mixins.light-border;

        &:hover {
            opacity: .8;
        }
    }

    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &__tabs {
        margin-bottom: 5px;
        @include mixins.flex-box($gap: 10px, $a: center);
    }

    &__tab {
        color: #7c7c86;
        display: inline-block;
        background-color: transparent;
        border: none;
        width: auto;
        cursor: pointer;
        padding: 0;
        @include mixins.transition(color);

        &.active {
            font-weight: 500;
        }

        &.active, &:hover {
            color: rgb(0, 142, 57);
        }
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $d: column);
    }

    &__panel {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__accordion-icon {
        font-size: 22px !important;
        border: 1px solid #fff;
        border-radius: 50%;
    }

    .messenger-dialog-object-preview {
        background-color: #fff;
    }
}

.survey-form-object-preview-offer {
    will-change: opacity;
    padding: 7px 0 7px 7px;
    background: -webkit-linear-gradient(90deg, #cecece, #ffffff 70%);
    background: linear-gradient(90deg, #cecece, #ffffff 70%);
    position: relative;
    overflow: hidden;
    @include mixins.flex-box($gap: 10px, $a: center);
    @include mixins.transition(opacity, padding);

    &.completed {
        background: -webkit-linear-gradient(90deg, #10B981, #ffffff 70%);
        background: linear-gradient(90deg, #10B981, #ffffff 70%);
    }

    &.success {
        .survey-form-object-preview-offer {
            &__main {
                background-color: #438469;
                color: #fff;
            }

            &__advs, &__date, &__special {
                color: #ffffff !important;
            }
        }

        .request-row-card__except {
            background-color: #438469;
            color: #fff;
        }

        .request-row-card__date {
            color: #fff;
        }
    }

    &.danger {
        .survey-form-object-preview-offer {
            &__main {
                background-color: #F93154;
                color: #fff;
            }

            &__advs, &__date, &__special {
                color: #ffffff !important;
            }
        }

        .request-row-card__except {
            background-color: #F93154;
            color: #fff;
        }

        .request-row-card__date {
            color: #fff;
        }
    }

    &.warning {
        .survey-form-object-preview-offer {
            &__main {
                background-color: #fd8422;
                color: #fff;
            }

            &__advs, &__date, &__special {
                color: #ffffff !important;
            }
        }

        .request-row-card__except {
            background-color: #fd8422;
            color: #fff;
        }

        .request-row-card__date {
            color: #fff;
        }
    }

    &--new {
        padding: 5px;
        background: -webkit-linear-gradient(90deg, #fd8422, #ffffff 80%);
        background: linear-gradient(90deg, #fd8422, #ffffff 80%);

        .request-row-card__except, .survey-form-object-preview-offer__main {
            background-color: #fd8422;
        }
    }

    &:hover {
        opacity: 1;
    }

    &__wrapper {
        flex-grow: 1;
    }

    &__content {
        @include mixins.flex-box();
        border: 2px solid #fff;
    }

    &__main {
        background-color: #badfce;
        border: 1px solid #bababa;
        border-radius: 1px;
        @include mixins.flex-box();
        @include mixins.transition(background-color, color);
    }

    &__column {
        padding: 10px 5px;
        border-right: 1px solid #bababa;
        @include mixins.flex-box($d: column, $gap: 10px, $a: center);
    }

    &__area {
        padding: 10px;
        position: relative;
        width: 220px;
    }

    &__info {
        background-color: #f7f7f7;
        flex-grow: 1;
    }

    &__top {
        padding: 3px 10px;
        margin-left: 1px;
        background-color: #fff;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-top-right-radius: 2px;
        @include mixins.flex-box();
    }

    &__description {
        width: 100%;
        font-style: italic;
        font-size: 14px;
        opacity: .5;
    }

    &__row {
        background-color: #f7f7f7;
        padding: 2px 0 0 2px;
        @include mixins.flex-box($gap: 2px);
    }

    &__special {
        text-decoration: underline;
    }

    &__date {
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-size: 12px;
    }

    &__block {
        padding: 10px;
        border: 2px solid #000;
        border-left: none;
        border-radius: 0 5px 5px 0;
    }

    &__price {
        width: 250px;
        height: 100px;
    }

    &__price-value {
        color: #035a36;
    }

    &__parameters {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        padding: 10px 30px;
    }

    &__parameter {
        color: #000;
        font-weight: 500;
        @include mixins.flex-box($a: center, $gap: 10px);

        i {
            font-size: 19px;
            margin-bottom: 2px;
            color: variables.$color_grey;
        }
    }

    &__editor {
        position: relative;

        .ql-container.ql-snow {
            max-width: 100%;
            background-color: #fff;
            border-radius: 2px !important;
        }

        .vue-editor .ql-editor {
            font-size: 14px;
            padding-top: 16px;
        }
    }

    &__editor-helper {
        position: absolute;
        font-size: 13px;
        top: 0;
        left: 16px;
        font-weight: 400;
        font-style: italic;
    }

    &__actions {
        padding: 10px 0 10px 10px;
        background: linear-gradient(90deg, #4db69322, #fff);
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__action-negative.active {
        background-color: #F93154;
    }

    &__action-warning.active {
        background-color: #ffa800;
    }

    &__footer {
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    &__badge {
        background-color: variables.$bg-danger;
        height: 20px;
        width: 100px;
        position: absolute;
        top: 15px;
        left: -25px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        transform: rotate(-45deg);
        text-align: center;
    }
}

.survey-form-calls {
    position: relative;

    &__list {
        @include mixins.flex-box($gap: 5px, $d: column);
    }
}

.survey-form-contact {
    &__row {
        @include mixins.flex-box($gap: 20px, $a: center);
    }

    &__element {
        width: 600px;
        max-width: 100%;

        &.completed {
            background-color: variables.$bg-success-l;
        }

        &.active, &:hover {
            background-color: #76a3ea !important;
            color: #fff !important;
        }

        &.active {
            border-color: transparent;
            box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
        }
    }

    &__form {
        position: absolute;
        left: 380px;
        width: calc(100% - 380px);
        z-index: 4010;
    }

    &__result {
        @include mixins.flex-box($a: center, $gap: 15px);
    }

    &__result-arrow {
        color: #d9d9d9;
        flex-shrink: 0;
    }

    &__block {
        background-color: variables.$color_grey_light;
        padding: 5px 10px;
        border-radius: 5px;
        flex-shrink: 0;
        border: 1px solid rgba(0, 0, 0, .2);
        flex-grow: 0;
    }

    &__description {
        border: 2px solid rgb(182, 200, 232);
        border-radius: 3px;
        padding: 5px;
        display: block;
        width: 100%;
        flex-grow: 1;
        word-break: break-word;
        height: 80px;
        overflow-y: auto;
    }

    &__result {
        width: 100%;
    }
}

.survey-form-contact-form {
    padding: 10px 0 15px;
    @include mixins.transition(height);

    &__header {
        font-size: 18px;
        padding-bottom: 2px;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
        margin-bottom: 5px;
        width: 100%;
        @include mixins.flex-box($a: flex-end)
    }

    &__content {
        border: 1px solid rgb(234, 234, 234);
        @include mixins.flex-box();
        @include mixins.transition(height);
    }

    &__list {
        width: 40%;
        flex-shrink: 0;
        overflow-y: auto;
        border-right: 1px solid rgb(234, 234, 234);
        @include mixins.flex-box($d: column);
    }

    &__call {
        width: 60%;
        padding: 10px 15px;
        min-height: 160px;
        overflow-y: auto;
        @include mixins.transition(height);
    }

    &__phone {
        background-color: variables.$color_light;
        font-size: 14px;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: unset;
    }

    &__actions {
        margin-left: auto;
        @include mixins.flex-box($gap: 5px);
    }
}

.survey-form-contact-form-card {
    &__username {
        font-size: 20px;
        font-weight: 500;
    }

    &__staff {
        font-size: 15px;
    }

    &__contacts {
        font-size: 15px;
    }

    &__calls {
        font-size: 15px;
    }

    &__phone {
        font-size: 20px;
        font-weight: 600;
    }

    &__icon {
        background-color: #000;
        border-radius: 50%;
        color: #fff;
        padding: 7px;
        font-size: 14px;
    }
}

.survey-form-contact-form-call {
    position: relative;

    &__question-text {
        font-size: 26px;
        font-weight: 500;
        color: #75a2e9;
        letter-spacing: 1px;
    }

    &__schedule {
        border: 1px solid #d1d5db;
        box-shadow: none;
        height: 36px;
        opacity: .6;

        &:hover, &.scheduled {
            opacity: 1;
        }
    }

    &__editor {
        .form__textarea {
            font-style: italic;
            font-size: 15px;
        }
    }

    &__whatsapp {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.survey-table-item {
    &__id {
        vertical-align: top;
    }
}

.request-row-card {
    height: 150px;
    @include mixins.flex-box();

    &__except {
        border: 2px solid #fff;
        overflow: hidden;
        background-color: #badfce;
        z-index: 2;
        position: relative;
        @include mixins.flex-box();
    }

    &__column {
        padding: 10px 5px;
        border-right: 1px solid #bababa;
        @include mixins.flex-box($d: column, $gap: 15px, $a: center);
    }

    &__id {
        font-size: 14px;
    }

    &__info {
        padding: 10px;
        position: relative;
        width: 300px;
    }

    &__body {
        width: 100%;
    }

    &__header {
        padding: 5px;
        background-color: #fff;
        width: 100%;
        height: 70px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        @include mixins.flex-box();
    }

    &__description {
        width: 100%;
        font-style: italic;
        font-size: 14px;
        opacity: .7;
        overflow-y: auto;
    }

    &__date {
        position: absolute;
        bottom: 2px;
        right: 3px;
        font-size: 12px;
        color: variables.$color_grey;
    }

    &__location {
        font-size: 13px;
        @include mixins.text-overflow(3);
    }

    &__footer {
        height: 80px;
        background-color: #fff;
        position: relative;

        &--empty {
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    }

    &__timeline {
        height: 80px;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        width: 100%;
        @include mixins.flex-box($gap: 4px);
    }
}

.request-row-card-timeline-step {
    @include mixins.flex-box($d: column);
    position: relative;
    height: 80px;
    width: calc(100% / 6);
    opacity: .25;

    &:first-child {
        .request-row-card-timeline-step__arrow {
            border-left: none !important;
        }

        &::before {
            content: "";
            height: 80px;
            width: 40px;
            background-color: #cbcbcb;
            position: absolute;
            z-index: 2;
            left: 0;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
        }
    }

    &:last-child {
        .request-row-card-timeline-step__arrow {
            border-right: none !important;
        }

        &::after {
            content: "";
            height: 80px;
            width: 40px;
            background-color: #cbcbcb;
            position: absolute;
            z-index: 2;
            right: 0;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
        }
    }

    &__arrow {
        width: 100%;
        height: 50%;
        background-color: #cbcbcb;
        border-right: 2px solid #000;

        &--top {
            transform: skew(45deg, 0deg);
            border-top: 2px solid #000;
        }

        &--bottom {
            transform: skew(-45deg, 0deg);
            border-bottom: 2px solid #000;
        }
    }

    &.done {
        opacity: 1;

        .request-row-card-timeline-step__arrow {
            background-color: #badfce;
        }

        &:first-child::before {
            background-color: #badfce;
        }

        &:last-child::after {
            background-color: #badfce;
        }
    }

    &.in-process {
        opacity: 1;
        color: #fe6a49;

        .request-row-card-timeline-step__arrow {
            background-color: #fff;
            border-color: #fe6a49;
        }

        &:first-child::before {
            background-color: #fff;
        }

        &:last-child::after {
            background-color: #fff;
        }

        &:first-child {
            &::before {
                border-color: #fe6a49;
            }
        }

        &:last-child {
            &::after {
                border-color: #fe6a49;
            }
        }
    }

    &.attention {
        opacity: 1;
    }

    &__name {
        font-weight: 600;
        font-size: 14px;
    }

    &__content {
        position: absolute;
        z-index: 5;
        padding: 5px 5px 5px 30px;
    }
}

.survey-card-advanced {
    &__header {
        background-color: #f5f5f5;
        margin-left: -15px;
        margin-right: -20px;
        padding: 15px 20px 5px 15px;
    }
}

.survey-form-stepper-summary {
    &__grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__card {
    }

    &__name {
        margin-bottom: 3px;
        font-size: 18px;
        display: inline-flex;
        width: 100%;

        i {
            font-size: 26px;
        }
    }

    &__rect {
        height: 100px;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 26px;
        border-radius: 5px;
        @include mixins.flex-box($a: center, $j: center);

        &.success {
            background-color: #10b981;
        }

        &.disabled {
            opacity: .22;
            background-color: variables.$color_grey;
            color: #000;
        }

        &.danger {
            background-color: #f93154;
        }

        &.warning {
            background-color: #f88f01;
        }
    }
}

.survey-form-warning-pending {
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f88f01;
    color: #fff
}

.survey-form-contact-form-element {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgb(234, 234, 234);

    @include mixins.flex-box($gap: 10px, $a: flex-start);
    @include mixins.transition(background-color, color);

    &__icon {
        height: 24px;
        width: 24px;
        font-size: 14px;
        border-radius: 50%;
        border: 1px solid #000;
        color: #000;
        flex-shrink: 0;
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(color, border-color);
    }

    --gradient-to: #fff;

    &.warning {
        @include mixins.line-gradient-progress(#F88F0166, var(--gradient-to), 90%);
    }

    &.danger {
        @include mixins.line-gradient-progress(#F9315466, var(--gradient-to), 90%);
    }

    &.success {
        @include mixins.line-gradient-progress(#10B98166, var(--gradient-to), 90%);
    }

    &.active &__icon, &:hover &__icon {
        border-color: #fff;
        color: #fff;
    }

    &:hover, &.active {
        --gradient-to: #75a2e9;

        background-color: #75a2e9;
        color: #fff;
    }
}

.survey-form-contact-form-phone {
    &__value {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 5px;
        @include mixins.transition(color);
    }

    &__footer {
        font-size: 15px;
        @include mixins.transition(color);
    }

    &__last-call {
        @include mixins.transition(color);

        &.success {
            color: variables.$color_success;
        }

        &.danger {
            color: variables.$color_danger;
        }
    }

    &.active &__footer, &:hover &__footer {
        color: #fff;
    }

    &.active &__last-call, &:hover &__last-call {
        color: #fff
    }
}

.survey-form-contact-form-email {
    &__value {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 5px;
        color: #616bb3;
        @include mixins.transition(color);
    }

    &__footer {
        font-size: 15px;
        @include mixins.transition(color);
    }

    &__label {
        text-decoration: underline;
    }

    &__last-letter {
        @include mixins.transition(color);

        &.success {
            color: variables.$color_success;
        }

        &.danger {
            color: variables.$color_danger;
        }
    }

    &.active &__footer, &:hover &__footer {
        color: #fff;
    }

    &.active &__value, &:hover &__value {
        color: #fff;
    }

    &.active &__last-letter, &:hover &__last-letter {
        color: #fff;
    }
}

.survey-form-contact-form-empty {
    color: #75a2e9;
    height: 100%;
    @include mixins.flex-box($d: column, $a: center, $j: center);

    &__text {
        font-size: 26px;
        font-weight: 500;
    }
}

.survey-form-contact-form-letter {
    background-color: variables.$color_light;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    position: relative;

    &__button {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}