@use '../../utils/mixins';

.messenger-chat-message {
    max-width: 80%;
    @include mixins.flex-box($a: flex-end, $gap: 20px);

    ol, ul {
        list-style: initial;
        padding-left: 40px;
    }

    &__content {
        border-radius: 10px;
        background-color: #f5f5f5;
        box-shadow: 0 0 5px 1px rgba(211, 211, 211, .7);
        width: max-content;
        word-break: break-word;
        max-width: 100%;
    }

    //&:has(.avatar) &__content {
    //    max-width: calc(100% - 75px);
    //}

    &__body {
        padding: 7px 10px 0;
    }

    &__footer {
        padding: 0 10px 7px;
        text-align: end;
        font-size: 14px;
        color: #646464;
    }

    &--right {
        margin-left: auto;
    }

    &__recipient {
        text-decoration: underline;
    }

    &__categories {
        color: #f88f01;
    }

    &--system {
        max-width: 100%;
        width: 100%;
        margin: 15px 0;
        opacity: .7;

        .messenger-chat-message {
            &__content {
                width: 100%;
                text-align: center;
            }

            &__footer {
                text-align: center;
            }
        }
    }

    &__attachments {
        padding: 5px 10px;
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__attachment {
        min-width: 60px;
        flex-basis: calc(25% - 4px);
        font-size: 12px;
        flex-grow: 1;

        .file__icon {
            font-size: 40px;
        }
    }
}

.messenger-chat-message-addition {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: 14px;
    padding: 5px 10px;
    color: #9f3f56;
    font-weight: 500;
    @include mixins.transition(background-color .5s);

    &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 0;
        height: 100%;
        background-color: #10b981;
        @include mixins.transition(width .1s linear)
    }

    &:first-child::before {
        height: calc(100% - 7px);
    }

    &:first-child {
        border-radius: 10px 10px 0 0;
    }

    &.viewed::before {
        width: 3px;
    }

    &.expired {
        background-color: rgba(249, 49, 84, .8);
        color: #f1f1f1;
    }

    &__content {
        @include mixins.flex-box($a: center, $gap: 5px);
        @include mixins.transition(opacity .5s);
    }

    &.completed {
        background-color: transparent;
    }

    &.completed &__content {
        opacity: .3;
        color: #9f3f56;
    }

    &__icon {
        font-size: 18px;
        height: 30px;
        width: 30px;
        color: #fff;
        flex-shrink: 0;
    }

    &--warning {
        color: #f88f01;
    }

    &__text {
        max-width: calc(100% - 40px);
    }

    &:hover &__settings {
        opacity: 1;
    }

    &__settings {
        margin-left: auto;
        font-size: 22px;
        cursor: pointer;
        padding: 3px;
        color: #000;
        opacity: 0;
        @include mixins.transition(opacity .7s);
    }
}

.messenger-chat-message-addition-settings {
    @include mixins.flex-box($d: column, $gap: 10px);
    width: max-content;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(13, 31, 47, 0.2);

    bottom: 0;
    left: 100%;
    top: auto;
    position: absolute;
    max-height: 1000px;
    opacity: 1;
    height: max-content;
    padding: 5px;
    margin: 0 5px;

    &__button {
    }
}

.messenger-chat-message--right {
    .messenger-chat-message-addition-settings {
        right: 100%;
        left: auto;
    }

    .messenger-chat-message-actions .hover-actions {
        right: 0;
        left: unset;
    }
}

.messenger-chat-message-actions {
    .hover-actions {
        left: 0;
        right: unset;
    }
}