@use '../../utils/mixins';

.messenger-dialog {
    padding: 10px 15px;
    transition: background-color .5s ease;

    &:not(.skeleton-body) {
        cursor: pointer;

        &:hover {
            background-color: rgba(16, 185, 129, 0.4);
        }
    }

    &.current {
        background-color: rgba(16, 185, 129, 0.6);
    }

    &.archived {
        opacity: .8;
    }

    &__body {
        margin-bottom: 10px;
    }

    &__footer {
        @include mixins.flex-box($j: space-between, $a: center, $gap: 5px, $wrap: true);
    }

    &__phone {
        @include mixins.flex-box($a: center, $j: space-between);
        padding: 3px;
        min-width: 160px;
        width: 100%;
        max-width: 50%;
        background-color: #eaeaec;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color .5s ease;
        font-weight: 500;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);

        &:hover {
            background-color: #d7d7da;
        }

        &--danger {
            background-color: #f93154;
            color: #fff;

            &:hover {
                background-color: #b4223d;
            }
        }

        &--warning {
            background-color: #f88f01;

            &:hover {
                background-color: #ffbb69;
            }
        }

        &--info {
            background-color: #17b775;
            color: #fff;

            &:hover {
                background-color: #118f5b;
            }
        }

        i {
            color: #000;
        }
    }

    &__last-call {
        margin-left: 7px;
    }

    &__icon {
        @include mixins.flex-box($a: center, $j: center);
        height: 32px;
        width: 32px;
        background-color: #fff;
        border-radius: 50%;
    }
}

.messenger-dialog-offer {
    &__body {
        @include mixins.flex-box($gap: 5px);
    }

    &__preview {
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);
        max-width: 170px;
        width: 100%;
        flex-basis: 50%;
        height: max-content;
        flex-shrink: 0;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 105px;
    }

    &__id {
        position: absolute;
        top: 1px;
        left: 1px;
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, .9);
        font-weight: 600;
        font-size: 14px;
    }

    &__description {
        font-size: 14px;
        flex-basis: 50%;
    }

    &__address {
        @include mixins.text-overflow(3, break-all);

        .tooltip {
            margin-right: 5px;
        }
    }

    &__company {
        font-weight: 600;
    }

    &__category {
        @include mixins.flex-box($gap: 5px);
        color: #05865f;
        font-weight: 600;

        i {
            font-size: 16px;
        }
    }

    &.skeleton-body {
        .messenger-dialog-offer {
            &__description {
                @include mixins.flex-box($gap: 2px, $d: column);
            }

            &__image {
                height: 107px;
            }
        }
    }
}

.messenger-dialog-functions {
    @include mixins.flex-box($a: center, $gap: 5px);

    &__item {
        position: relative;
        background-color: #0f6674;
        height: 35px;
        width: 35px;
        color: #fff;
        line-height: 18px;
        font-size: 18px;
    }

    &__chip {
        position: absolute;
        top: -4px;
        right: -4px;
        height: 15px;
        width: 15px;
        font-size: 11px;
        line-height: 11px;
        background-color: #f93154;
        color: #fff;
        font-weight: 600;
    }
}

.messenger-dialog-request {
    position: relative;

    &.skeleton-body {
        .messenger-dialog-request {
            &__body {
                @include mixins.flex-box($gap: 2px, $d: column);
            }
        }
    }

    &__body {
        font-size: 14px;
        max-width: calc(100% - 25px);
        height: 110px;
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 5px);
        font-weight: 600;
    }

    &__express {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 30px;
        color: #9f3f56;
    }

    &__id {
        padding: 2px 4px;
        background-color: rgba(221, 221, 221, .9);
        height: max-content;
    }

    &__company {
        @include mixins.text-overflow($break: break-all);
    }

    &__category {
        color: #5659c2;
        font-weight: 500;
        @include mixins.text-overflow($break: break-all);
    }

    &__description {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        color: #f93154;
        font-weight: 500;

        i {
            font-size: 16px;
        }

        &:has(span:nth-of-type(2)) .messenger-dialog-request__type::after {
            content: ',';
        }

        &.active {
            color: #05865f;
        }
    }

    &__location {
        @include mixins.flex-box($gap: 5px, $d: column);
    }

    &__list {
        @include mixins.flex-box($a: center, $gap: 5px, $wrap: true);
    }

    &__subtitle {
        margin-bottom: 3px;
        font-weight: 500;
    }

    &__label {
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(211, 211, 211, .5);
        width: max-content;
    }

    &__regions {
        @include mixins.text-overflow(2);

        span:last-child {
            margin-left: 5px;
        }
    }
}