@use '../../utils/mixins';
@use '../../utils/variables';

.messenger {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100vw - 140px);
    height: 100vh;
    z-index: 100;

    transform: translateX(100%);
    transition: transform .7s ease-in-out;

    &.active {
        transform: translateX(75%);

        &.has-panel {
            transform: translateX(0);
        }

        .messenger-bar-tab {
            opacity: 1!important;
        }
    }

    &-backdrop {
        height: 100vh;
        width: 100vw;
        background-color: rgba(30, 30, 30, .9);
        position: fixed;
        z-index: 10;
        right: 0;
        top: 0;
    }

    &__content {
        box-shadow: 0 0 15px 5px rgba(13, 31, 47, .2);
        display: grid;
        grid-template-columns: 25% 25% 50%;
        width: 100%;
        height: 100%;
    }

    &__empty {
        @include mixins.flex-box($a: center, $j: center);
        height: 100%;
        background-color: #f8f8f8;
        font-size: 150px;
        position: relative;
        z-index: 11;
        opacity: .5;
    }
}

.messenger-bar {
    transform: translateX(-44px) translateY(calc(50vh - 50%));
    position: absolute;
    z-index: 20;
    box-shadow: 0 0 15px 5px rgba(13, 31, 47, .2);
    @include mixins.flex-box($a: center, $d: column);
    width: max-content;

    &__company-icon {
        margin-left: -2px;
    }

    &:has(.messenger-bar-tab.visible) .messenger-bar-tab {
        opacity: .8;
    }
}

.messenger-bar-tab {
    opacity: .3;
    background-color: #fff;
    padding: 8px 7px;
    cursor: pointer;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    @include mixins.transition(color .5s ease-in-out, opacity .5s ease-in-out, background-color);
    @include mixins.flex-box($a: center);

    &:hover {
        opacity: 1;
        background-color: #caf1e4;
    }

    &.active {
        background-color: #6fd2b1;

        .messenger-bar-tab__element.active {
            opacity: 1;
            box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
            filter: grayscale(0);
        }
    }

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__element {
        position: relative;
        background-color: #0f6674;
        height: 30px;
        width: 30px;
        color: #fff;
        @include mixins.transition(opacity);

        opacity: .8;
        filter: grayscale(.8);

        &.disabled {
            opacity: .2;
        }

        &:hover {
            opacity: .8;
            filter: grayscale(0);
        }

        i {
            font-size: 16px;
        }
    }

    &__chip {
        position: absolute;
        top: -6px;
        right: -6px;
        border-radius: 50%;
        height: 20px;
        min-width: 20px;
        width: max-content;
        padding: 0 3px;
        font-size: 11px;
        line-height: 11px;
        background-color: #f93154;
        color: #fff;
        font-weight: 600;
        border: 1px solid rgba(0, 0, 0, .2);
        @include mixins.flex-box($a: center, $j: center);
    }

    &__phone {
        background-color: #fff;
        border: 2px solid #f93154;
        color: #f93154;
    }

    &__icon  {
        font-size: 25px;
        width: 30px;
    }
}

.messenger-warning {
    font-weight: 500;
    color: #f93154!important;

    &--simple {
        color: #fff!important;
        opacity: .5;
    }

    &.bold {
        font-weight: 600;
    }

    &--animated {
        display: block;
        animation: shake 4s;
        animation-iteration-count: infinite;
    }
}

@keyframes shake {
    from, 50%, to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    40%, 60% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    43%, 49% {
        transform: translate3d(0, -3px, 0);
    }

    46%, 52% {
        transform: translate3d(0, 3px, 0);
    }

    54% {

    }

    45%, 55% {
        opacity: .3;
    }
}

.link {
    text-decoration: underline;
    color: inherit;
}

.messenger-attachment {
    &__footer {
        margin-top: 20px;
        @include mixins.flex-box($j: center, $gap: 10px);
    }
}

.modal-messenger-attachment {
    z-index: 4004;
}

.messenger-tabs {
    width: 40px;
    z-index: 11;
    flex-shrink: 0;

    &__tab {
        min-height: 120px;
        padding: 15px 5px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        background-color: #dfdfde;
        border: 1px solid rgba(0, 0, 0, .1);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        @include mixins.flex-box($a: center, $j: center, $gap: 5px);
        @include mixins.transition(background-color, color);

        @include mixins.hover {
            background-color:  #6fd2b1;
        }

        &.success {
            background-color: #6fd2b1;
            font-weight: 500;
        }

        &.active:not(.not-selectable) {
            background-color:  #6fd2b1;
            color: #000!important;

            @include mixins.hover {
                background-color: #28d39b;
            }
        }
    }

    &__count {
        writing-mode: initial;
        transform: rotateZ(180deg);
        padding: 3px;
        height: 24px;
        width: 24px;
        border: 1px solid #000;
        font-size: 12px;
        border-radius: 50%;
        background-color: #fff;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__loading {
        height: 169px;
    }
}

.messenger-page {
    background-color: #f8f8f8;
}

.messenger-column {
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: calc(100% - 40px);
        background-color: #f8f8f8;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

.messenger-task-previewer {
    position: relative;
    background-color: #fff;
    color: variables.$color_dark;
    max-height: 95%;
    min-width: 300px;
    overflow: hidden;
    margin: 20px;
    z-index: 4002;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: all 0.5s ease;
    padding: 10px;
    min-height: 390px;
    width: 1100px;
    max-width: 100%;
}

.messenger-opening-loader {
    position: fixed;
    top: 60px;
    right: 50px;
    z-index: 99;
    background-color: variables.$bg-primary;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);

    &__body {
        @include mixins.flex-box($a: center, $gap: 10px);
        padding: 10px 20px;
    }

    .spinner__clip {
        border-color: #ffffff #ececec transparent;
    }
}