@use '../../utils/mixins';
@use '../../utils/variables';

.modal-timeline {
    z-index: 200;

    .modal__header {
        align-items: start;
    }

    .modal__close {
        margin-top: 9px;
    }
}

.timeline-page {
    padding: 10px 0;

    .tabs-component {
        &-tabs {
            padding: 0;
            background-color: transparent;
        }
    }

    &__content {
        overflow-y: auto;
        scrollbar-gutter: stable;
        max-height: calc(100vh - 150px);
        padding-right: 5px;
    }

    &__current {
        overflow-x: hidden;
    }
}

.timeline-backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include mixins.flex-box($a: center, $j: center);
    backdrop-filter: blur(2px);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);

    &__message {
        padding: 20px;
        border-radius: 10px;
        background-color: variables.$color_grey_alt;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }
}

.timeline-page-header {
    width: 100%;
    @include mixins.flex-box($d: column, $gap: 10px);

    &__row {
        @include mixins.flex-box($gap: 10px, $j: space-between, $a: start);
    }

    &__info {
       max-width: calc(100% - 300px);
    }

    &__consultant {
        box-shadow: none;
        text-transform: none;
        font-weight: 500;
        padding: 7px 15px;
        font-size: 14px;

        &.active {
            background-color: #a3e9b6;
        }
    }

    &__tabs {
        @include mixins.flex-box($gap: 10px);
    }

    &__button {
        font-weight: 400;
        font-size: 15px;
        color: #000;
    }
}

.timeline-page-header-info {
    &__title {
        @include mixins.text-overflow();
    }

    &__properties {
        font-size: 14px;
        font-weight: 300;
        color: #595959;
        @include mixins.flex-box($a: center);

        i {
            color: #b2b2b2;
        }
    }

    &__group {
        font-weight: 500;
        color: #000;
        font-size: 16px;
    }

    &__chip {
        background-color: #b80000;
        color: #fff;
        padding: 3px 7px;
        border-radius: 3px;
        font-size: 14px;

        i {
            color: #fff;
        }
    }

    &__dot {
        font-weight: 600;
        opacity: .5;
    }
}

.timeline-page-header-status {
    padding: 7px 15px!important;
    border-radius: 2px!important;
    background-color: #a3e9b6;

    &.passive {
        background-color: #b80000;
        color: #fff;
    }
}

.timeline-page-header-actions {
    @include mixins.flex-box($gap: 5px, $a: center);
}

.timeline-info {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #369ecd;
    color: #fff;

    &.success {
        background-color: #a3e9b6;
        border-color: #48c78e;
        color: #555;
    }

    &.disabled {
        background-color: #e7e7e7;
        color: #000;
    }

    &.paused {
        background-color: #f88f01;
    }

    &.disabled &__title, &.disabled &__description, &.disabled &__footer {
        opacity: .5;
    }

    &__content {
        @include mixins.flex-box($gap: 5px)
    }

    &__icon {
        font-size: 40px;
        margin-top: 10px;
        margin-right: 5px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        @include mixins.flex-box($gap: 10px);
    }

    &__description {
        margin-bottom: 5px;
    }

    &__footer {
        padding: 5px 0 10px;
    }
}

.timeline-recommendations {
    &__title {
        font-weight: 500;
    }
}

.timeline-feedback-picker {
    &__title {
        font-size: 17px;
        font-weight: 500;
    }

    &__element {
        .checkbox-chip__label {
            flex-direction: column-reverse;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;
            width: 110px;
            font-size: 15px;
            font-weight: 500;
            background-color: variables.$bg-gray-l;

            i {
                font-size: 24px;
            }

            &.active {
                background-color: variables.$bg-success;
            }
        }
    }
}

.timeline-routes {
    padding: 10px;
    border-radius: 5px;
    background-color: variables.$bg-gray-l;

    &__item {
        margin: 5px 0;
        position: relative;
    }

    &__route {
        cursor: pointer;
        @include mixins.transition(background-color .3s, color .3s);

        &:hover {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }

    &__multiselect {
        width: 100%;
        margin-right: 40px;
    }

    &__chip {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #71b732;
        color: #fff;

        font-size: 16px!important;
        width: 35px!important;
        height: 35px;
        @include mixins.flex-box($a: center, $j: center);

        &.first {
            background-color: variables.$color_success_alt
        }

        &.last {
            background-color: variables.$color_danger;
        }
    }
}

.timeline-routes-error {
    font-size: 22px!important;
}

.timeline-deal {
    position: relative;

    .dashboard-card-view {
        min-height: 350px;
    }

    .dashboard-card__header {
        border-bottom: 1px solid #d9d9dc;
        z-index: 3;
        position: relative;
    }

    .dashboard-card__content {
        z-index: 3;
        position: relative;
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 10px);
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($wrap: true, $gap: 5px);
    }
}

.timeline-button {
    box-shadow: none;
    text-transform: none;
    border-width: 1px;
    font-weight: 400;

    &.active {
        background-color: #e7e7e7;
        font-weight: 500;

        &.button--success {
            background-color: rgb(159, 250, 214);
        }

        &.button--warning {
            background-color: #ffe7cc;
        }
    }
}

.timeline-step-comment {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: variables.$color_grey_light;
    max-width: 100%;
    width: max-content;
    @include mixins.flex-box($gap: 8px);

    &__content {
        max-width: 100%;
        width: max-content;
    }

    &__message {
        word-break: break-word;
    }

    &__header {
        font-size: 14px;
        @include mixins.flex-box($a: center);
    }

    &__username {
        font-weight: 500;
    }

    &__dot, &__date {
        color: #736969;
    }

    &__dot {
        font-weight: 600;
    }
}

.timeline-step-offers {
    &__button {
        font-size: 15px;
        color: #000;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, .25)!important;
        font-weight: 400;
        text-transform: none;
        padding: 6px 15px;
        @include mixins.transition(background-color, color);

        &.active {
            font-weight: 500;
        }

        &.button--warning {
            &:hover, &.active {
                color: #000!important;
                background-color: #fbd194!important;
            }
        }

        &.button--info {
            &:hover, &.active {
                color: #000!important;
                background-color: #e7e7e7!important;
            }
        }

        &--filters {
            padding: 5px 15px;

            &.active, &:hover {
                background-color: #a3e9b6!important;
            }
        }
    }

    &__button.active &__icon {
        background-color: #7ed692 !important;
    }

    &__icon  {
        font-size: 10px;
        border: 1px solid rgba(0, 0, 0, .3);
        padding: 1px 3px;
        margin-right: 5px;
        line-height: 1;
        @include mixins.flex-box($d: column);
    }
}

.offer-search__actions .button {
    text-transform: none;
}