.deal-info {
  &__body {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 35px;
  }
  &__content {
    padding-top: 15px;
  }
  &__detailed-info {
  }
  &__aside {
    border-left: 1px solid $color_light_grey;
  }
}
