.PropertyListItem {
  padding: 2px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;

  &-name {
    width: 55%;
    margin-right: 5%;
    color: $color_grey;
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
  }
  &-value {
    width: 40%;
    white-space: nowrap;
    font-weight: 400;
    overflow-x: clip;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: nowrap;
    p {
      font-weight: 400;
    }
    &-lift {
      display: flex;
      flex-wrap: nowrap;
      & span {
        color: $color_grey;
      }
    }
    & > p > span {
      color: $color_grey;
    }
    &_small {
      font-size: 12px;
    }
    &.not-filled {
      color: $color_grey;
    }
  }
  &:nth-child(odd) {
    background-color: $color_light_grey;
  }
}
