.PropertyListItem {
  padding: 2px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;

  &-name {
    width: 55%;
    margin-right: 5%;
    color: $color_grey;
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
    font-weight: normal;
  }
  &-value {
    width: 40%;
    font-weight: normal;
    color: $color_grey;

    & p {
      font-weight: normal;
      white-space: nowrap;
    }
  }
  &:nth-child(odd) {
    background-color: $color_light_grey;
  }
}
