.CompanyLogsList {
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-right: 8px;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: $color_light_grey;
  }
  
  &::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px;
    background: #7e7e7e;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #7e7e7e;
  }
}