@use '../utils/variables';

body.is-modal {
    overflow: hidden;
    padding-right: 5px;

    .header {
        padding-right: 5px;
    }
}

main {
    min-height: 100vh;
    background-color: variables.$color_overflow;
    padding: 75px 25px 50px 100px;
}

.animate {
    &--fast {
        animation-duration: 0.1s !important;
    }
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.list-leave-active {
    position: absolute;
}

.offer-search {

    &__functions {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__actions {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }
}

.offers-page {
    &__table {
        margin: 10px 0;
    }
}

.chip {
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    color: #2d2f34;
    display: flex;
    align-items: center;
    gap: 5px;

    &__icon {
        cursor: pointer;
    }
}

.tabs-component-panels {
    padding: 20px 0!important;
}

.with-unit-type {
    display: flex;
    gap: 3px;
}