@use '../utils/variables';
@use '../utils/mixins';

body {
    &.is-modal {
        overflow: hidden;
        padding-right: 5px;

        .header {
            padding-right: 5px;
        }
    }

    &:has(.messenger.active.has-panel) {
        overflow: hidden;
        padding-right: 5px;

        .header {
            padding-right: 5px;
        }
    }
}

main {
    min-height: 100vh;
    background-color: variables.$color_overflow;

    @include mixins.media("min", "md") {
        padding: 75px 25px 50px 100px;
    }
}

.animate {
    &--fast {
        animation-duration: 0.1s !important;
    }
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.list-leave-active {
    position: absolute;
}

.offer-search {

    &__functions {
        margin-top: 10px;
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__actions {
        @include mixins.flex-box($a: flex-end, $gap: 10px);
    }
}

.offers-page {
    &__table {
        margin: 10px 0;
    }
}

.chip {
    @include mixins.flex-box($a: center, $gap: 5px);
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    color: #2d2f34;

    &__icon {
        cursor: pointer;
    }
}

.tabs-component-panels {
    padding: 20px 0!important;
}

.with-unit-type {
    display: inline-block;
}

.row {
    row-gap: .5rem;
}