.ObjectHoldingsOwnerItem {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    &-header {
        font-weight: bold;
    }
    &-name {
        font-size: larger;
    }
    &-rating {
    }
    &-links {
        & > * {
            text-decoration: underline;
            color: $color_default_link;
        }
    }
}
