.ObjectHoldingsParameters {
  $color_left: #f8f8f8;
  $color_left-aside: #e1e8ec;
  $icon-size: 1.5em;
  $font-size: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  &-wrapper {
    padding: 20px;
    background-color: $color_left;
    border: 1px solid $color_light_grey;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    gap: 20px;
  }
  &-main {
    &-area {
      font-size: 22px;
      line-height: 30px;
      font-weight: bold;
      display: inline;
      & p {
        font-size: 22px;
        font-weight: bold;
        display: inline;
      }
    }
    &-address {
      font-weight: bold;
      font-size: 1em;
    }
  }
  &-types {
    .object-type-box {
      $middle_grey: darken(
        $color: $color_light_grey,
        $amount: 25,
      );
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      width: 31px;
      height: 31px;
      border-radius: 5px;
      border: 1px solid $middle_grey;
      margin-right: 1px;
      background-color: white;
      color: $middle_grey;
    }
  }

  &-provision {
    & .object-parameters {
      padding: 0px;
      column-gap: 35px;
      &__item {
        font-size: 14px;

        & .with-unit-type {
          font-size: 14px;
        }

        & i {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  &-equipment {
    &-label {
      margin-bottom: 5px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
    }
    &-item {
      background-color: inherit;
      border: 1px solid $color_grey;
      border-radius: 5px;
      padding: 2px 7px;
      margin-bottom: 5px;
    }
    &-item-button {
      margin-bottom: 5px;
    }
    &-text {
      font-size: 14px;
    }
    &-button {
      font-size: 14px;
      background-color: white;
      border: 1px solid $color_grey;
      border-radius: 5px;
      padding: 4px 7px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-floors {
    padding: 10px 20px;
    background-color: $color_left-aside;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid $color_light_grey;
  }
  &-floor {
    color: $color_success;
    border: 2px solid $color_success;
    padding: 5px 15px;
    background-color: $color_light;
    position: relative;
    &.danger {
      border-color: $color_danger;
      color: $color_danger;
    }
    & > i {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-10%, -50%);
      border-radius: 50%;
      background-color: white;
    }
  }
}
