@use '../utils/variables';
@use '../utils/mixins';

.company-table {
    .badge {
        font-size: 14px;
        text-transform: uppercase;
    }

    &__filters {
        @include mixins.flex-box($gap: 5px 10px, $wrap: true);
    }

    &__actions {
        @include mixins.flex-box($j: flex-end, $gap: 10px);
    }

    width: 100%;

    tbody {
        position: relative;

        tr {
            &.passive {
                background-color: rgba(variables.$color_dark, 0.2);
                border-color: rgba(variables.$color_dark, 0.2);
                border-left: 2px solid lighten(variables.$color_grey, 30);
            }

            td {
                &.name {
                    text-transform: none;
                    font-weight: 500;

                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: variables.$color_primary;

                        h4 {
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        p {
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

                &.categories {
                    div {
                        max-width: 300px;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                &.count {
                    span {
                        background-color: variables.$color_success_alt;
                        color: variables.$color_light;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }

                &.requests {
                    padding: 3px 0;

                    .scroller {
                        @include mixins.flex-box($a: center, $j: center);
                        height: 60px;
                    }

                    span {
                        font-size: 12px;
                        margin-bottom: 1px;
                    }
                }

                &.date {
                    width: 100px;
                    font-size: 12px;
                }

                &.contacts {
                    a {
                        display: block;
                        font-size: 15px;
                        color: variables.$color_primary;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .name {
                        font-weight: normal;
                    }

                    .position {
                        font-weight: normal;
                        color: darken(variables.$color_grey, 10);
                    }
                }
            }
        }
    }

    &-sharp {
        width: 3%;
    }

    &-name {
        width: 30%;
    }

    &-category {
        width: 17%;
    }

    &-contact {
        width: 10%;
    }

    &-qa {
        width: 10%;
    }

    &-consultant {
        width: 10%;
    }

    &-tasks {
        width: 10%;
    }

    &-date {
        width: 10%;
    }
}

.company-table-item {
    &__actions {
        width: max-content;

        button {
            border: medium none;
            background: transparent;
            width: min-content;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

// ********** COMPANY TABLE ITEM ***********
.CompanyTableItem {
    &-block {
        margin-bottom: 10px;

        .company-objects-list__item .image-container {
            height: 100px;
            width: 100%;

            a {
                width: 100%;
            }
        }

        &-timeline {
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }

            &:active {
                // border: 2px solid black;
                opacity: 0.5;
            }
        }
    }

    &-dropdown {
        height: auto !important;
        min-height: auto !important;
    }

    .name {
        &-type {
            color: variables.$color_grey;
            font-size: 12px;
            font-weight: normal;
        }
    }

    &-notif {
        // white-space: nowrap;
        font-size: 11px;
        text-align: center !important;
        border-right: variables.$grey_thin_border;
        border-left: variables.$grey_thin_border;
    }

    &-consultant {
        white-space: nowrap;
    }
}

table {
    tr.CompanyTableItem {
        td {
            padding: 10px;
            vertical-align: top;
        }
    }
}

tr.CompanyTableOdd {
    background-color: darken(variables.$color_light, 3) !important;
    border-color: darken(variables.$color_light, 3) !important;
}

tr.CompanyTableEven {
    background-color: variables.$color_light !important;
    border-color: variables.$color_light !important;
}

.CompanyTableObjectOffer {
    background-color: variables.$color_success_dark;
    color: variables.$color_light;
    font-size: 12px;

    @media screen and (max-width: variables.$laptop_size) {
        font-size: 10px;
    }

    @media screen and (max-width: variables.$tablet_size) {
        font-size: 8px;
    }
}