@use '../utils/variables';
@use 'sass:color';

.comments-panel {
    cursor: default !important;
    z-index: 99;
    width: 460px;
    // max-height: 600px;
    background-color: variables.$color_light;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid color.adjust(variables.$color_grey, $lightness: 30%);
    border-top: none;
    position: absolute;
    top: 50px;
    right: 0;
    overflow-y: hidden;

    .comments-item {
        max-height: 580px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .row {
        height: max-content !important;
    }

    &__content {
        &.loading {
            min-height: 300px;
        }

        .heading {
            border-bottom: 1px solid variables.$color_light_grey;

            &.new {
                border-bottom: none;
            }

            &.old {
                border-top: 1px solid variables.$color_light_grey;
                border-bottom: none;
            }

            padding: 2px 10px;

            .title {
                color: variables.$color_dark;
                font-weight: 400;
                line-height: 25px;
                font-size: 13px;

                p {
                    font-size: 13px;
                }

                &.no-data {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }

            .readAll {
                a {
                    color: variables.$color_primary;
                    font-size: 13px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .item {
            position: relative;

            .badge {
                position: absolute;
                top: 10px;
                right: 10px !important;
                left: unset !important;
                border: 1px solid variables.$color_success !important;
                width: auto !important;
                height: 20px !important;
                display: flex;
                align-items: center;
                align-self: center;
                font-size: 13px;
                font-weight: normal;
                border-radius: 2px;
                color: variables.$color_success;
            }

            border-top: 1px solid variables.$color_light_grey;

            .notify-icon {
                padding-top: 14px;

                .image-circle {
                    margin: 0 auto;
                    display: block;
                    width: 45px;
                    height: 45px;
                }

                i {
                    font-size: 36px;
                }
            }

            .message {
                padding: 5px 5px 10px 0;
                // line-height: 100px;
                color: black;

                p {
                    font-size: 13px;
                    font-weight: normal;

                    a {
                        color: variables.$color_primary;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .title {
                    font-weight: 500;
                    display: inline-block;
                }

                .time {
                    display: inline-block;
                    color: variables.$color_grey;
                    font-size: 10px;
                }

                .text {
                    span {
                        text-decoration: underline dotted;
                        font-style: italic;
                    }
                }
            }

            .actions {
                p {
                    display: inline;
                }

                a {
                    font-size: 13px;
                    font-weight: normal;

                    &:hover {
                        color: variables.$color_light !important;
                        text-decoration: underline;
                    }

                    cursor: pointer;
                }
            }
        }
    }

    &.calls {
        .comments-panel__content {
            .item {
                .notify-icon {
                    i {
                        color: black;
                    }
                }

                .call-status {
                    p {
                        display: inline-block;
                    }
                }
            }
        }
    }
}