@use "../utils/mixins";
@use "../utils/variables";
@use 'sass:color';

.company-element {
    padding: 5px;
    @include mixins.light-border;
    border-radius: 5px;

    &__main {
        @include mixins.flex-box($gap: 5px);
    }

    &__body {
        @include mixins.flex-box($d: column);
    }

    &__name {
        font-weight: 500;
        @include mixins.text-overflow(2);
    }
}

.company-contact {
    padding: 5px;
    @include mixins.light-border;
    border-radius: 5px;

    &.inactive {
        opacity: .5;
    }

    &__name {
        font-weight: 500;
    }

    &__position {
        margin-bottom: 3px;
    }

    &__list {
        @include mixins.flex-box($wrap: wrap, $gap: 5px);
        position: relative;
    }

    &__phone {
        padding: 2px 5px;
        background-color: #F3F3F3;
        width: max-content;
        border-radius: 5px;
        color: #000;
        max-width: 100%;
        overflow-x: auto;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05);
        @include mixins.transition(background-color);
        @include mixins.hover {
            background-color: #d7d7d7;
        }

        &::-webkit-scrollbar {
            height: 3px;
            background-color: color.adjust(variables.$color_grey, $lightness: 30%);
        }
    }
}