@use '../utils/variables';
@use '../utils/mixins';

.company-table {
    width: 100%;

    &__filters {
        @include mixins.flex-box($gap: 5px 10px, $wrap: true);
    }

    &__actions {
        @include mixins.flex-box($j: flex-end, $gap: 10px);
        @include mixins.media('max', 'md') {
            justify-content: center;
        }
    }

    tbody {
        position: relative;

        tr {
            &.passive {
                background-color: rgba(variables.$color_dark, 0.2);
                border-color: rgba(variables.$color_dark, 0.2);
                border-left: 2px solid lighten(variables.$color_grey, 30);
            }

            td {

                &.count {
                    span {
                        background-color: variables.$color_success_alt;
                        color: variables.$color_light;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }

                &.requests {
                    padding: 3px 0;

                    .scroller {
                        @include mixins.flex-box($a: center, $j: center);
                        height: 60px;
                    }

                    span {
                        font-size: 12px;
                        margin-bottom: 1px;
                    }
                }

                &.date {
                    width: 100px;
                    font-size: 12px;
                }
            }
        }
    }

    &-sharp {
        width: 3%;
    }

    &-name {
        width: 30%;
    }

    &-category {
        width: 17%;
    }

    &-contact {
        width: 10%;
    }

    &-qa {
        width: 10%;
    }

    &-consultant {
        width: 10%;
    }

    &-tasks {
        width: 10%;
    }
}

.company-table-item {
    vertical-align: top;

    td {
        padding: 10px!important;
    }

    &__id {
        width: 100px;
    }

    &__buttons {
        @include mixins.flex-box($d: column, $gap: 5px, $a: center);
    }

    &__actions {
        width: max-content;
    }

    &__name {
        text-transform: none;
        font-weight: 500;
    }

    &__main {
        @include mixins.flex-box($gap: 10px);
    }

    &__title {
        width: 100%;
        color: variables.$color_primary;

        &:hover {
            text-decoration: underline;
        }
    }

    &__profile {
        color: variables.$color_grey;
        font-size: 12px;
    }

    &__categories {
        text-align: center;
        width: 250px;
    }

    &__contacts {
        width: 250px;
        font-size: 14px;

        .company-element {
            max-width: 230px;
        }

        .company-contact {
            border: none;
        }
    }

    &__consultant {
        width: 100px;
    }

    &__notify {
        width: 100px;
    }

    &__survey {
        width: 100px;
    }

    &__date {
        width: 160px;
        min-width: 160px;
    }

    &__consultant-wrapper {
        @include mixins.flex-box($a: center, $j: center, $gap: 10px);
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $wrap: wrap, $j: center);
    }

    &__timeline {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__product-ranges {
        @include mixins.flex-box($gap: 5px, $wrap: wrap);
        max-width: 500px;
    }

    &__product-range {
        @include mixins.text-overflow(1);
    }

    &__company-group {
        font-size: 14px;
    }
}

.dropdown-switcher {
    cursor: pointer;
    border: none;
    @include mixins.flex-box($gap: 5px, $a: center, $j: center);
    @include mixins.transition(opacity);

    &__side {
        color: gray!important;
    }

    &:hover {
        opacity: .7;
    }
}

.dropdown-container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;

    &.open {
        max-height: 9999px;
        transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
        transition-delay: 0s;
    }
}

// legacy...

tr.CompanyTableOdd {
    background-color: darken(variables.$color_light, 3) !important;
    border-color: darken(variables.$color_light, 3) !important;
}

tr.CompanyTableEven {
    background-color: variables.$color_light !important;
    border-color: variables.$color_light !important;
}

.dropdown-switcher-row {
    height: 110% !important;
    min-height: 80% !important;

    td {
        padding-bottom: 5px !important;
    }
}

.table-request-row {
    height: 1px !important;
    min-height: 80% !important;

    td {
        padding: 0 0 10px 0 !important;
        height: inherit;

        & > div {
            border-top: variables.$grey_thin_border;
            border-bottom: variables.$grey_thin_border;
            height: 100%;
        }
    }
}

.company-table-object-item {
    padding: 10px;
    max-height: 160px;

    &__thumb {
        display: block;
    }

    &__image {
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        @include mixins.flex-box($gap: 5px, $wrap: wrap);
    }

    &__scroller {
        overflow-y: auto;
        max-height: 130px;
    }
}

.company-table-object-offer {
    background-color: variables.$bg-success;
    padding: 3px;
    color: variables.$color_light;
    font-size: 12px;

    @include mixins.media('max', 'xxl') {
        font-size: 10px;
    }

    @include mixins.media('max', 'md') {
        font-size: 8px;
    }
}

.company-logo {
    display: block;
    flex-shrink: 0;
    border: 1px solid rgba(194, 194, 194, 0.45);
    @include mixins.transition(opacity);

    &__image {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}