@use '../utils/variables';

.DealFloorHead {
    &-text {
        font-size: 14px;
        line-height: 14px;
        &_label {
            color: white;
            font-weight: 700;
        }

        &_area {
            color: white;
            line-height: 16px;
            font-weight: 100;
        }
    }

    &-button {
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }

    }

    &-checkbox {
        border-radius: 50%;
        position: relative;
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
        &-label {
            width: 13px;
            height: 13px;
            background-color: inherit;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid black;
            box-sizing: border-box;

            input[type="checkbox"]:checked + & {
                background-color: variables.$checkbox_active;
            }
        }
    }

    & p {
        white-space: nowrap;
    }

    border: 1px solid black;

    &-top {
        background-color: variables.$color_dark_grey;
        padding: 5px 15px;
        text-align: center;
        width: 100px;
    }

    &-bottom .edit {
        padding: 7px 6px;
    }

    .form.edit {
        & .form-container {
            width: auto;
        }
        & > .form-container > form {
            display: flex;
            justify-content: flex-end;
            gap: 7px;
            align-items: center;
        }
    }
}


.DealFloors {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-body {
        display: flex;

        gap: 10px;
    }

    &-head-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;

        &-item {
            display: flex;
            gap: 13px;
            align-items: center;
        }
    }

    &-separator {
    }

    &-sections {
        overflow-x: scroll;
        padding-bottom: 10px;
        // height: 100%;
        flex-grow: 2;
        &-body {
            padding-left: 14px;
            box-shadow: inset 0 0px 15px -10px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 1000px;
            height: 100%;
            width: 100%;
        }

        &-line {
            position: relative;
            height: 100%;

            display: flex;
            gap: 4px;

            width: 100%;
        }
    }
}


.DealFloorSection {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 4px 4px 15px;

    border: 1px solid;
    border-left: 14px solid;

    height: 100%;
    min-width: 100px;

    &_purple {
        border-color: variables.$floor_section_purple;
    }
    &_grey {
        border-color: lighten(variables.$color_grey, 5);
    }
    &_green {
        // border-left: 1px;
        background-color: #56a03c;
        border-color: #56a03c;
    }

    &_green &-text {
        color: white;
    }

    .form.edit {
        & .form-container {
            position: absolute;
            bottom: 7px;
            right: 6px;
            width: auto;
        }
        & > .form-container > form {
            display: flex;
            justify-content: flex-end;
            gap: 7px;
            align-items: center;
        }
    }

    &-status {
        color: variables.$color_grey;
        font-weight: 400;
        font-size: 13px;

        &.success {
            color: variables.$color_success;
        }

        &.danger {
            color: variables.$color_danger;
        }
        &.white {
            color: white;
        }
        &.black {
            color: #ffde00;
            display: inline-block;
            width: 24ch;
            margin: 2px 0;
            padding: 0 1px;
            background-color: black;
        }
    }

    &-checkbox {
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
        &-label {
            width: 13px;
            height: 13px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid black;
            box-sizing: border-box;

            input[type="checkbox"]:checked + & {
                background-color: variables.$checkbox_active;
            }
        }
    }

    &-text {
        font-size: 14px;
        line-height: 14px;

        &_label {
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        &_area {
            font-weight: 600;
        }
    }
}

.ObjectDeals {
    &-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        &-label {
            color: variables.$color_grey;
            font-size: 13px;
        }
        &-list {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        &-item {
        }

        &-button {
            background: none;
            border: none;
            font-size: 13px;
            color: variables.$color_default_link;
            text-decoration: underline;
            cursor: pointer;
            padding: 0px;
        }
    }

    &-list {
        display: flex;

        margin-top: 10px;
        margin-bottom: 40px;
        background-color: lighten(variables.$color_light_grey, 9);
        width: 100%;
    }
}

.deal-info {
    &__body {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        gap: 35px;
    }
    &__content {
        padding-top: 15px;
    }
    &__detailed-info {
    }
    &__aside {
        border-left: 1px solid variables.$color_light_grey;
    }
}


.deal-info-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 340px;
    padding: 30px 15px;
    margin-top: 25px;
    align-items: center;
    background-color: #e1e8ec;
    &__text {
        font-size: 14px;
        font-weight: 900;
        line-height: 17px;

        &_color_red {
            color: variables.$color_danger;
        }
        &_size_small {
            font-weight: 400;
            font-size: 13px;
        }
    }
    &__list {
    }
    &__item {
    }
    &__button {
        background: none;
        border: none;
        cursor: pointer;
        line-height: 22px;
        color: variables.$color_default_link;
        text-decoration: underline;
        font-size: 13px;

        &.active {
            background-color: variables.$color_danger;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}

.deal-detailed-info {
    &__building-info {
    }
    &__trade-offer-tabs {
        margin-top: 55px;
    }
}

.deal-owner {
    margin-top: 40px;
    background-color: variables.$color_olive_light;
    padding: 20px 20px 30px;
    &__text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        max-width: 35ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &_weigth_bold {
            font-weight: 600;
        }
        &_color_grey {
            color: variables.$color_grey;
        }

        &_link {
            text-decoration: underline;
            color: variables.$color_default_link;
            display: inline;
        }
    }
    &__rating {
        margin: 5px 0;
    }
    &__links {
        margin-bottom: 30px;
    }
}
.deal_owner {
    &__phone-numbers {
    }
}

.building-info {
    border-bottom: 1px solid variables.$color_light_grey;
    &__table-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    &__table {
    }
    &__heading {
        font-size: 22px;
        font-weight: 900;
        line-height: 35px;
        padding-left: 15px;
        height: 42px;
        display: table-cell;
        vertical-align: middle;
    }
    &__line {
        display: flex;
        & .object-parameters {
            background-color: variables.$color_light;
            border: 1px solid variables.$color_light_grey;
            margin-top: 10px;
            margin-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }
    }
    &__tabs {
    }
    &__buttons {
    }
}

.additional-details {
    padding: 15px 20px;
    &__list {
        margin-top: 15px;
    }
    &__item {
        display: flex;
        gap: 25px;
        &_color_red {
            color: variables.$color_danger;
        }
        &_heading {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            & i {
                color: variables.$color_success;
            }
        }
    }
    &__item-label {
        // text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
        color: variables.$color_grey;
        max-width: 25ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__item-value {
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        & span:last-of-type {
            font-weight: 400;
            font-size: 12px;
            color: variables.$color_grey;
        }
    }
}
.additonal-deatils {
    &__heading {
    }
}
.additional-deatils {
    &__list {
        &_business {
        }
    }
}
.fa-solid {
}
.fa-briefcase-blank {
}
.DealPreviewCard {
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 10px;

    width: 225px;

    background-color: lighten(variables.$color_light_grey, 9);
    border-right: 1px solid #989898;
    &:first-of-type {
        border-left: 1px solid #989898;
    }

    font-size: 13px;
    line-height: 17px;
    &:hover &-edit {
        visibility: visible;
        display: block;
    }

    &-edit {
        position: absolute;
        top: 7px;
        right: 5px;
        background: inherit;
        border: 1px solid variables.$color_light_grey;
        border-radius: 50%;
        height: 26px;
        width: 26px;
        cursor: pointer;
        visibility: hidden;
        &:hover {
            opacity: 0.6;
        }
    }

    &-type {
        color: #989898;
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    &-company {
        white-space: nowrap; /* Текст не переносится */
        overflow: hidden; /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis;
        max-width: 18ch;
    }

    &-area {
        font-weight: 600;
    }

    &-price {
        font-weight: 500;
        &-unit {
            font-size: 10px;
            &::before {
                content: " ";
            }
        }
    }

    &-status {
        color: variables.$color_grey;
        font-weight: 700;
        font-size: 13px;

        &.success {
            color: variables.$color_success;
        }

        &.danger {
            color: variables.$color_danger;
        }
    }

    &:hover {
        background-color: variables.$color_light_grey;

        cursor: pointer;
    }

    &.active {
        position: relative;
        z-index: 2;

        background-color: variables.$color_olive_light;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        border: none;
    }

    &.active &-triangle {
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -13px;
        left: 35px;

        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            bottom: 9px;
            width: 15px;
            height: 15px;
            background-color: variables.$color_olive_light;
            transform: rotate(45deg);
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        }
    }
}
