@use '../utils/variables';
@use '../utils/mixins';

.deal-floor {
    font-size: 14px;
    border: 1px solid black;
    width: 130px;
    height: 90px;

    &__top {
        @include mixins.flex-box($a: center, $d: column);
        background-color: variables.$color_dark_grey;
        padding: 5px 15px;
    }

    &__label {
        color: #fff;
        font-weight: 700;
        @include mixins.text-overflow();

        &:nth-child(2) {
            font-weight: 300;
        }
    }

    &__bottom {
        @include mixins.flex-box($a: center, $j: center, $gap: 10px);
        padding: 5px 0;
    }
}

.deal-floors {
    @include mixins.flex-box($gap: 10px);

    &__list {
        @include mixins.flex-box($gap: 10px, $d: column);
        padding-bottom: 20px;
    }

    &__item {
        @include mixins.flex-box($a: center, $gap: 13px);
    }

    &__sections {
        overflow-x: auto;
        padding-bottom: 10px;
        flex-grow: 2;
    }

    &__body {
        @include mixins.flex-box($d: column, $gap: 10px);
        padding-left: 14px;
        box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    &__line {
        @include mixins.flex-box($gap: 4px);
        position: relative;
        width: 100%;
    }
}

.deal-section {
    @include mixins.flex-box($d: column);
    position: relative;
    padding: 5px 15px 15px 5px;
    border: 1px solid;
    border-left: 14px solid;
    height: 90px;
    min-width: 200px;

    &__area {
        font-weight: 600;
    }

    &--single {
        max-width: 300px;
    }

    &--purple {
        border-color: variables.$floor_section_purple;
    }

    &--grey {
        border-color: lighten(variables.$color_grey, 5);
    }

    &--green {
        background-color: #56a03c;
        border-color: #56a03c;
    }

    &--green {
        color: #fff;
    }

    &__status {
        color: variables.$color_grey;
        font-weight: 500;
        font-size: 14px;

        &--success {
            color: variables.$color_success;
        }

        &--danger {
            color: variables.$color_danger;
        }

        &--white {
            color: white;
        }

        &--black {
            color: #ffde00;
            display: inline-block;
            width: 24ch;
            margin: 2px 0;
            padding: 0 1px;
            background-color: black;
        }
    }

    &__checkbox {
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    &__checkbox-label {
        display: block;
        width: 16px;
        height: 16px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid black;
        box-sizing: border-box;

        input[type="checkbox"]:checked + & {
            background-color: variables.$checkbox_active;
        }
    }

    &__functions {
        @include mixins.flex-box($a: center, $gap: 5px);
        margin-top: 5px;
        margin-left: auto;
    }

    &__button {
        cursor: pointer;
    }
}

.object-deals {
    &__list {
        display: flex;

        margin-top: 10px;
        margin-bottom: 40px;
        background-color: #e1e8ec;
        width: 100%;
    }
}

.object-deals-actions {
    @include mixins.flex-box($j: flex-end, $gap: 15px);
    margin-left: auto;
    margin-bottom: 10px;

    &__label {
        color: variables.$color_grey;
        font-size: 14px;
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($j: center, $gap: 5px);

        @include mixins.media('max', 'md') {
            flex-wrap: wrap;
            justify-content: unset;

            li {
                flex-basis: calc(50% - 5px);

                .button {
                    width: 100%;
                }
            }
        }
    }
}

.deal-info {
    margin-top: 20px;

    &__body {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        gap: 35px;
    }

    &__content {
        padding-top: 15px;
    }

    &__aside {
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);

        .object-holding-company {
            padding: 20px;
            background-color: #e6eedd;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            overflow-y: auto;
        }
    }

    &__block {
        padding: 20px;
    }

    &__block-title {
        font-weight: 500;
        margin-bottom: 5px;
    }
}


.deal-info-header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 65px;
    padding: 30px 15px;
    align-items: center;
    background-color: #e1e8ec;

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
    }

    &__agent {
        font-size: 14px;
        display: flex;
        background-color: #d1d1d7;
        border-radius: 5px;
        color: #000;
        width: max-content;
    }

    &__username {
        font-weight: 500;
        padding: 5px 10px;
    }

    &__visit {
        @include mixins.flex-box($a: center, $gap: 10px);
        padding: 5px 10px;
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
        line-height: 22px;
        color: variables.$color_default_link;
        text-decoration: underline;
        font-size: 13px;
        width: max-content;

        &.active {
            background-color: variables.$color_danger;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}

.deal-detailed-info {
    &__trade-offer-tabs {
        margin-top: 25px;
    }
}

.deal-owner {
    margin-top: 40px;
    background-color: variables.$color_olive_light;
    padding: 20px 20px 30px;

    &__text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        max-width: 35ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &_weigth_bold {
            font-weight: 600;
        }

        &_color_grey {
            color: variables.$color_grey;
        }

        &_link {
            text-decoration: underline;
            color: variables.$color_default_link;
            display: inline;
        }
    }

    &__rating {
        margin: 5px 0;
    }

    &__links {
        margin-bottom: 30px;
    }
}

.building-info {
    border-bottom: 1px solid variables.$color_light_grey;

    &__heading {
        font-size: 22px;
        font-weight: 900;
        line-height: 35px;
        padding-left: 15px;
        height: 42px;
        display: table-cell;
        vertical-align: middle;
    }

    &__line {
        position: relative;
        background-color: #e7e7e7;

        @include mixins.media('max', 'xxl') {
            padding-top: 5px;
        }
    }

    &__buttons {
        z-index: 2;

        @include mixins.media('min', 'xxl') {
            position: absolute;
            top: 2px;
            right: 10px;
        }
    }

    &__tabs {
        width: 100%;
    }

    &__empty {
        margin-bottom: 20px;
    }

    &__content {
        @include mixins.flex-box($d: column, $gap: 10px);
        margin-bottom: 20px;
    }

    &__tables {
        display: grid;
        margin-bottom: 5px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    &__table {
        padding: 24px!important;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 15px 2px rgba(13, 31, 47, .1);

        .complex-deal-table {
            &__heading {
                font-size: 22px;
                margin-bottom: 10px;
            }

            &__title {
                font-size: 22px;
            }

            &__table:not(:has(.complex-deal-table__heading)) {
                .complex-deal-table__title {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.deal-preview {
    @include mixins.flex-box($d: column);

    position: relative;
    padding: 10px;
    width: 225px;

    background-color: lighten(variables.$color_light_grey, 9);
    border-right: 1px solid #989898;

    font-size: 13px;
    line-height: 17px;

    &:first-of-type {
        border-left: 1px solid #989898;
    }

    &:hover &__button {
        visibility: visible;
        display: block;
    }

    &__button {
        position: absolute;
        top: 7px;
        right: 5px;
        background: inherit;
        border: 1px solid variables.$color_light_grey;
        border-radius: 50%;
        height: 26px;
        width: 26px;
        cursor: pointer;
        visibility: hidden;

        &:hover {
            opacity: 0.6;
        }
    }

    &__type {
        color: #989898;
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    &__company {
        white-space: nowrap; /* Текст не переносится */
        overflow: hidden; /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis;
        max-width: 18ch;
    }

    &__area {
        font-weight: 600;
    }

    &__unit {
        font-size: 12px;
    }

    &__status {
        color: variables.$color_grey;
        font-weight: 700;
        font-size: 13px;

        &--success {
            color: variables.$color_success;
        }

        &--danger {
            color: variables.$color_danger;
        }
    }

    &:hover {
        background-color: variables.$color_light_grey;
        cursor: pointer;
    }

    &.active {
        position: relative;
        z-index: 2;

        background-color: variables.$color_olive_light;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        border: none;
    }

    &.active &__triangle {
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -13px;
        left: 35px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            bottom: 9px;
            width: 15px;
            height: 15px;
            background-color: variables.$color_olive_light;
            transform: rotate(45deg);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        }
    }
}

.additional-details {
    padding: 15px 20px;

    &__chip {
        padding: 5px;
        background-color: variables.$color_grey_alt;
        color: #000;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 500;
    }

    &__title {
        background-color: variables.$color_grey_alt;
        color: #000;
        border-radius: 5px;
        padding: 5px 10px;
        width: max-content;
        font-weight: 500;
        font-size: 20px;
    }

    &__item-label {
        // text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
        color: variables.$color_grey;
        max-width: 25ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__item-value {
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;

        & span:last-of-type {
            font-weight: 400;
            font-size: 12px;
            color: variables.$color_grey;
        }
    }

    &__specials {
        margin: 10px 0;
    }

    &__category {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
    }

    &__services {
        @include mixins.flex-box($d: column, $gap: 25px);
        margin: 25px 0 20px;
    }

    &__service {
        padding: 5px;
        background-color: #268e50;
        opacity: .9;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }

    &__item {
        @include mixins.flex-box($j: space-between, $a: center);
        font-size: 14px;
    }

    &__elements {
        @include mixins.flex-box($a: center, $gap: 5px, $wrap: wrap);
    }

    &__element {
        padding: 3px 5px;
        background-color: variables.$color_grey_alt;
        border-radius: 5px;
        @include mixins.flex-box($a: center, $gap: 5px);
    }
}

.additional-details-service {
    padding: 10px;
    box-shadow: 0 0 15px 2px rgba(13, 31, 47, .15);
    border-radius: 5px;
    position: relative;
    font-size: 14px;

    &__header {
        @include mixins.flex-box($j: space-between);
        position: absolute;
        top: -16px;
        font-weight: 500;
        width: calc(100% - 20px);

        span {
            padding: 5px;
            background-color: #0f6674;
            color: #fff;
            border-radius: 5px;

            &:last-child {
                background-color: rgba(203, 17, 50, 0.85);
                font-weight: 400;
            }
        }
    }

    &__item   {
        @include mixins.flex-box($j: space-between);
        margin-top: 10px;
    }

    &__elements {
        @include mixins.flex-box($gap: 10px, $wrap: true);
        margin-top: 20px;
    }

    &__element {
        @include mixins.flex-box($a: center, $gap: 5px);
        padding: 5px;
        background-color: #268e50;
        color: #fff;
        border-radius: 5px;
    }
}

.additional-details-business {
    box-shadow: 0 0 15px 2px rgba(13, 31, 47, .1);
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow: hidden;

    &__title {
        padding: 5px;
        background-color: #0f6674;
        color: #fff;
        border-radius: 5px 5px 0 0;
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($d: column);
    }

    &__item {
        @include mixins.flex-box($j: space-between);
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__label {
        color: #757070;
    }
}

.deal-info-commission {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
        font-size: 14px;
    }

    &__item {
        @include mixins.flex-box($a: center, $gap: 10px);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: variables.$bg-success-l;
        color: #000;

        &.cancel {
            background-color: variables.$bg-danger-l;
        }
    }

    &__value {
        margin-left: auto;
        display: flex;
        font-weight: 500;
    }
}

.deal-info-contract {
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &__item {
        @include mixins.flex-box($a: center, $j: center, $gap: 10px);
        background-color: rgba(211, 211, 211, .8);
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;

        &--exclusive {
            background-color: rgba(254, 106, 73, 0.7);
            color: #000;
        }

        i {
            font-size: 22px;
        }
    }
}

.deal-info-description {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &__body {
        overflow-wrap: anywhere;
    }
}

.complex-deal-specials {
    @include mixins.flex-box($a: center);
    border-radius: 5px;
    background-color: #d1d1d7;
    color: #000;
    width: max-content;
    font-size: 14px;

    &__body {
        padding: 5px 10px;
        font-weight: 500;
    }

    &__plan {
        @include mixins.flex-box($a: center, $gap: 10px);
        padding: 5px 10px;
        border-left: 1px solid rgba(255, 255, 255, .1);
    }
}

.property-grid {
    display: grid;
    gap: 40px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    @include mixins.media('max', 'md') {
        grid-auto-flow: unset;
    }

    &__column {
        @include mixins.flex-box($d: column, $gap: 20px);
    }
}

.property-table {
    box-shadow: 0 0 5px 1px rgba(13, 31, 47, .1);
    border-radius: 4px;
    overflow: hidden;
    height: max-content;
    font-size: 14px;
    width: 100%;

    &__element {
        display: flex;
    }

    &__title {
        font-weight: 500;
        border-radius: 4px 4px 0 0;
        padding: 5px 10px;
        background-color: #0f6674;
        color: #fff;
    }

    &__name {
        flex-basis: 55%;
        color: #7c7c86;
    }

    &__item {
        @include mixins.flex-box($a: center, $j: space-between);
        padding: 5px 10px;

        &:nth-child(odd) {
            background-color: #d6d6d6;
        }
    }

    &__value {
        flex-basis: 40%;
    }
}