@use '../utils/mixins';
@use '../utils/variables';
@use 'sass:color';

.deal-list {
    &__vertical {
        @include mixins.flex-box($gap: 10px, $d: column);
        overflow-y: auto;
        padding: 0 5px;
        margin: 0 -5px;
        max-height: 500px;
    }
}

.deal-item {
    padding: 10px 0;
    position: relative;
    font-size: 12px;
    border: 2px dashed color.adjust(variables.$color_dark, $lightness: 40%);

    &__delete, &__edit {
        @include mixins.transition(opacity, background-color, color);
        opacity: 0;
        position: absolute;
        top: 10px;
        z-index: 2;
    }

    &:hover {
        .deal-item__edit, .deal-item__delete {
            opacity: 1;
        }
    }

    &__edit {
        right: 10px;
    }

    &__delete {
        left: 10px;
    }

    &__icon {
        font-size: 45px;
    }

    strong {
        word-wrap: break-word;
    }

    p {
        font-size: 13px;
        font-weight: normal;
    }

    a {
        color: variables.$color_primary;

        &:hover {
            text-decoration: underline;
        }
    }
}