@use '../utils/mixins';

.equipment {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);

    &__header {
        @include mixins.flex-box($a: center, $gap: 10px);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 5px 15px;
    }

    &__chip {
        padding: 5px;
        background-color: #d1d5db;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

    &__badges {
        @include mixins.flex-box($d: column, $gap: 5px);
        text-align: center;
        margin-top: 5px;
    }

    &__badge {
        padding: 5px;
        background-color: #F3F3F3;
        border-radius: 5px;

        i {
            margin-right: 5px;
        }
    }

    &__actions {
        @include mixins.flex-box($a: center, $gap: 5px);
        margin-left: auto;
    }

    &__body {
        @include mixins.flex-box($gap: 10px);
        padding: 15px;
        min-height: 210px;
    }

    &__aside {
        width: 250px;
        flex-shrink: 0;
    }

    &__preview {
        width: 250px;
        height: 180px;
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__meta {
        width: 220px;
        flex-shrink: 0;
    }

    &__price {
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin-bottom: 5px;
    }

    &__price-value {
        font-size: 18px;
        font-weight: 600;
    }

    &__statuses {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__status {
        background-color: #10b981;
        color: #fff;
    }

    &__address {
        margin-left: auto;
        width: 240px;
        padding: 0 10px;
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
        flex-shrink: 0;
    }

    &__contact {
        @include mixins.flex-box($d: column, $gap: 5px);
        width: 280px;
        max-width: 25%;
        border-right: 1px solid rgba(0, 0, 0, .1);
        padding: 0 10px 0 0;
        font-size: 14px;
        flex-shrink: 0;
    }

    &__text {
        color: #444444;
        font-size: 14px;
    }

    &__delivery {
        font-size: 14px;
    }

    &__title {
        font-weight: 500;
        @include mixins.text-overflow(2);
    }
}

.company-element {
    padding: 5px;
    @include mixins.light-border;
    border-radius: 5px;

    &__name {
        font-weight: 500;
        @include mixins.text-overflow();
    }
}

.company-contact {
    padding: 5px;
    @include mixins.light-border;
    border-radius: 5px;

    &__name {
        font-weight: 500;
    }

    &__position {
        margin-bottom: 3px;
    }

    &__phone {
        padding: 2px 5px;
        background-color: #F3F3F3;
        width: max-content;
        border-radius: 5px;

        &:not(&:last-child) {
            margin-bottom: 3px;
        }
    }
}