@use '../utils/variables';
@use '../utils/mixins';

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: variables.$color_light;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid variables.$color_light_grey;
    z-index: 8;

    &__wrapper {
        height: 100%;
        padding-left: 50px;

        .row {
            height: 100%;
        }
    }

    &__icon {
        font-size: 18px;
    }

    &__right {
        @include mixins.flex-box($a: center, $j: flex-end);
    }

    &__actions {
        @include mixins.flex-box($gap: 20px)
    }
}