@use '../utils/variables';
@use '../utils/mixins';

.header {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: variables.$color_light;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid variables.$color_light_grey;
    z-index: 8;

    &__wrapper {
        height: 100%;
        padding-left: 86px;

        .row {
            height: 100%;
        }
    }

    &__icon {
        font-size: 18px;
    }

    &__right {
        @include mixins.flex-box($a: center, $j: flex-end);
        margin-right: 30px;
    }

    &__actions {
        @include mixins.flex-box($gap: 20px)
    }

    &__list {
        @include mixins.flex-box($gap: 5px);
        margin-left: 40px;
    }

    &__functions {
        @include mixins.flex-box($gap: 10px);
        margin-left: 30px;
    }

    &__button {
        position: relative;

        &.current-call-exist {
            z-index: 10;
            animation: called_scale 1.5s cubic-bezier(0, 0.31, 1, 0.67) infinite;

            i {
                color: darken(variables.$color_danger, 20);
                animation: called_rotate 0.3s cubic-bezier(0, 0.31, 1, 0.67) infinite;
            }
        }
    }

    &__badge {
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        font-size: 12px;
    }

    &__online {
        width: max-content;
        padding: 5px 10px;
        border-radius: 20px;
        gap: 5px;

        &.active {
            .header__count {
                background-color: rgb(24, 131, 100)
            }
        }
    }

    &__count {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: variables.$color_grey;
        color: #fff;
        flex-shrink: 0;
        font-size: 13px;
        @include mixins.transition(background-color);
        @include mixins.flex-box($a: center, $j: center);
    }
}

.header-link {
    display: inline;
    color: inherit;

    &.active {
        cursor: default;
        pointer-events: none;
    }

    &__chip {
        @include mixins.transition(background-color, color);

        &:hover {
            background-color: variables.$bg-success-l;
        }
    }

    &.active &__chip {
        background-color: variables.$bg-success;
        color: #fff;
    }
}

@keyframes called_rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes called_scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.mobile-header {
    &__wrapper {
        width: 100%;
        height: 65px;
        border-bottom: 1px solid  rgba(0, 0, 0, .2);
        padding: 10px 15px;
        background-color: #243539;
        @include mixins.flex-box($gap: 10px, $a: center);
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, .5);
        z-index: 5000;
    }

    .avatar {
        border: 1px solid rgba(0, 0, 0, .6);
    }

    &__button {
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #fff;
        width: max-content;
        cursor: pointer;
    }
}

.header-activity {
    padding: 10px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
        max-height: 500px;
        overflow-y: auto;
        padding-right: 5px;
        margin-right: -5px;
    }

    &__label {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
    }
}

.header-summary {
    @include mixins.flex-box();

    &__list {
        max-height: 500px;
        overflow-y: auto;
        padding: 25px 10px 10px;
        border: 1px solid rgba(0, 0, 0, .1);
    }

    &__empty {
        @include mixins.flex-box($a: center, $j: center, $d: column);
        font-weight: 500;

        .dashboard-chip {
            font-size: 16px!important;
        }
    }
}

.header-summary-section {
    height: 75px;
    width: 130px;
    padding: 5px 25px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    line-height: 1;
    text-align: center;
    cursor: pointer;
    @include mixins.transition(background-color, color);
    @include mixins.flex-box($a: center, $j: center, $d: column);

    &.disabled {
        pointer-events: none;
    }

    &.active:hover {
        background-color: variables.$color_danger;
        color: #fff;
    }

    &.active:hover &__indicator {
        background-color: #fff;
        color: variables.$color_danger;
    }

    &:not(.active):hover {
        background-color: variables.$color_grey_alt;
    }

    &__label {
        font-size: 13px;
    }

    &__indicator {
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, .1);
        height: 35px;
        width: 35px;
        margin-bottom: 2px;
        font-size: 14px;
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(background-color, color);
    }

    &.active &__indicator {
        background-color: variables.$color_danger;
        color: #fff;
        font-weight: 500;
    }

    &.warning.active {
        .header-summary-section__indicator {
            background-color: variables.$color_warning;
        }

        &:hover {
            background-color: variables.$color_warning;

            .header-summary-section__indicator {
                background-color: #fff;
                color: variables.$color_warning;
            }
        }
    }
}

.header-summary-messages-content {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}

.header-summary-dialogs {
    padding: 10px;
    background-color: variables.$color_grey_alt;
    border-radius: 5px;

    &__header {
        @include mixins.flex-box($j: space-between);
        margin-bottom: 5px;
    }

    &__title {
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
        max-height: 500px;
        min-height: 150px;
        overflow-y: auto;
        padding-right: 10px;
        margin-right: -10px;
        position: relative;
    }

    &__grid {
        max-height: 400px;
        min-height: 150px;
        overflow-y: auto;
        padding-right: 10px;
        margin-right: -10px;
        position: relative;

        &:not(.disabled) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }

    &__dialog {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
    }
}