.form {
    &__input {
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        padding: 0 15px;
        min-height: 40px;
        outline: none;
        width: 100%;
        margin-top: 3px;
    }

    &__textarea {
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        padding: 0 15px;
        outline: none;
        width: 100%;
    }

    &__label {
        font-weight: 500;
    }

    &__subtitle {
        font-weight: 500;
    }

    &__group {
        height: min-content;
        margin-bottom: 10px;

        &--list {
            gap: 5px;
        }
    }
}

.checkbox {
    &__label {
        font-size: 18px!important;
    }
}

.checkbox-chip {
    height: max-content;

    input {
        display: none;
    }

    &__label {
        padding: 5px 10px;
        border: 1px solid #d1d5db;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .5s ease;
        min-height: 35px;
        min-width: 35px;

        &:hover {
            background-color: rgba(16, 185, 129, .6);
            color: #fff;
        }

        &.active {
            background-color: #10b981;
            border-color: #10b981;
            color: #fff;
        }
    }
}