.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(247, 247, 247, 0.678);
    z-index: 9;

    &.center {
        .loader-box {
            bottom: 0 !important;
        }
    }

    &.small {
        .loader {
            &__container {
                width: 60px !important;
                height: 60px !important;

            }

            &__item {
                width: 30px !important;
                height: 30px !important;

                &:nth-child(1) {
                    animation: item-1_move-small 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite !important;
                }

                &:nth-child(2) {
                    animation: item-2_move-small 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite !important;
                }

                &:nth-child(3) {
                    animation: item-3_move-small 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite !important;
                }

                &:nth-child(4) {
                    animation: item-4_move-small 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite !important;
                }
            }
        }
    }

    &.no-absolute {
        position: relative !important;
    }

    &__container {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        bottom: 50%;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__item {
        width: 100px;
        height: 100px;
        position: absolute;

        &:nth-child(1) {
            background-color: darken(#fa5667, 35);
            top: 0;
            left: 0;
            z-index: 1;
            animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
        }

        &:nth-child(2) {
            background-color: darken(teal, 10);
            top: 0;
            right: 0;
            animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
        }

        &:nth-child(3) {
            background-color: darken(#1b91f7, 35);
            bottom: 0;
            right: 0;
            z-index: 1;
            animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
        }

        &:nth-child(4) {
            background-color: darken(#fac24c, 0);
            bottom: 0;
            left: 0;
            animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
        }
    }

    @keyframes item-1_move {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(0, 100px);
        }

        50% {
            transform: translate(100px, 100px);
        }

        75% {
            transform: translate(100px, 0);
        }
    }

    @keyframes item-2_move {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-100px, 0);
        }

        50% {
            transform: translate(-100px, 100px);
        }

        75% {
            transform: translate(0, 100px);
        }
    }

    @keyframes item-3_move {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(0, -100px);
        }

        50% {
            transform: translate(-100px, -100px);
        }

        75% {
            transform: translate(-100px, 0);
        }
    }

    @keyframes item-4_move {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(100px, 0);
        }

        50% {
            transform: translate(100px, -100px);
        }

        75% {
            transform: translate(0, -100px);
        }
    }

    @keyframes item-1_move-small {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(0, 30px);
        }

        50% {
            transform: translate(30px, 30px);
        }

        75% {
            transform: translate(30px, 0);
        }
    }

    @keyframes item-2_move-small {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-30px, 0);
        }

        50% {
            transform: translate(-30px, 30px);
        }

        75% {
            transform: translate(0, 30px);
        }
    }

    @keyframes item-3_move-small {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(0, -30px);
        }

        50% {
            transform: translate(-30px, -30px);
        }

        75% {
            transform: translate(-30px, 0);
        }
    }

    @keyframes item-4_move-small {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(30px, 0);
        }

        50% {
            transform: translate(30px, -30px);
        }

        75% {
            transform: translate(0, -30px);
        }
    }
}