@use "../utils/variables";
@use "../utils/mixins";
@use 'sass:color';

.object-offer {
    &__content {
        font-size: 14px;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px, $j: center)
    }

    &__unselect {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 2;

        i {
            padding: 0 4px;
            font-weight: bold;
            font-size: 64px;
            color: variables.$color_success;
        }
    }

    &__comment {
        &.current {
            color: variables.$color_primary;
            font-weight: bold;
        }
    }

    &__info {
        background-color: variables.$color_light;
        border: 1px solid variables.$color_dark;
    }

    &__block {
        font-style: italic;
        font-size: 14px;
    }

    &__block-title {
        font-weight: bold;
        font-style: normal;
    }

    &__preview {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo {
        width: 100%;

        img {
            z-index: 1;
            height: 200px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__location {
        text-transform: uppercase;
        font-weight: bold;
    }


    &__chips {
        position: absolute;
        top: 5px;
        padding: 0 5px;
        z-index: 3;
        width: 100%;
        @include mixins.flex-box($gap: 5px)
    }

    &__chip {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 16px !important;
    }

    &__duplicate {
        background-color: rgba($color: variables.$color_warning, $alpha: 0.8);
        color: variables.$color_dark;
    }

    &__object-class {
        margin-left: 5px;
        padding: 5px 10px;
        background-color: rgba($color: variables.$color_danger, $alpha: 0.8);
        color: variables.$color_light;
    }

    &.passive {
        opacity: .5;
        @include mixins.transition(opacity);

        &:hover {
            opacity: 1;
        }
    }

    &__price {
        @include mixins.flex-box($wrap: wrap, $gap: 5px, $j: center);
    }

    &--only {
        border: none;
        padding: 0;
        margin-bottom: 20px;

        &.selected {
            transform: scale(1.02);

            .object-offer__unselect {
                display: flex;
                cursor: pointer;
            }
        }

        &.general {
            .object-offer__info {
                background-color: color.adjust(variables.$color_secondary, $lightness: 40%);
            }
        }
    }


    &__badge {
        font-size: 11px;
        text-transform: uppercase;
        color: variables.$color_light;
        position: absolute;
        padding: 3px 7px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    &__test-only {
        font-size: 14px;
        left: 5px;
        bottom: 5px;
        letter-spacing: 2px;
        background-color: variables.$color_danger;
    }

    &__is-main {
        background-color: variables.$color_secondary;
        right: 5px;
        bottom: 5px;
    }

    &__is-block {
        background-color: variables.$color_info;
        right: 5px;
        bottom: 5px;
    }

    &__is-undefined {
        background-color: variables.$color_warning;
        right: 5px;
        bottom: 5px;
    }

    &__external {
        font-size: 14px;
        padding: 10px;
    }

    &__params {
        @include mixins.flex-box($d: column);
    }
}

.object-offer-param {
    display: inline-block;

    &__title {
        display: inline;
        margin-right: 5px;
        font-style: normal;
    }

    &__value {
        font-weight: bold;
        font-style: italic;
        display: inline;

        .with-unit-type {
            display: inline-flex;
        }
    }
}