@use '../utils/variables';
@use '../utils/mixins';

$basic_step_border: 0.5px solid black;
$basic_step_color: variables.$color_grey_alt;
$done_step_border: 2px solid variables.$color_success;
$done_step_thin_border: 1px solid variables.$color_success;
$warning_step_border: 2px solid variables.$color_warning;
$warning_step_thin_border: 1px solid variables.$color_warning;

.offer-table-item {
    .passive {
        color: variables.$color_warning!important;
    }

    &:nth-child(even) {
        background-color: variables.$color_light !important;
        border-color: variables.$color_light !important;
    }

    &:nth-child(odd) {
        background-color: darken(variables.$color_light, 3) !important;
        border-color: darken(variables.$color_light, 3) !important;
    }

    &__id {
        width: 75px;
    }

    &__actions {
        @include mixins.flex-box($d: column, $a: center, $gap: 5px);
    }

    &__button {
        margin-bottom: 10px;
        width: 100%;
        color: #fff!important;
    }

    &__preview {
        width: 280px;
        position: relative;
    }

    &__region {
        width: 280px;
        text-transform: capitalize;
    }

    &__from-mkad {
        width: 80px;
    }

    &__area {
        width: 250px;
    }

    &__price {
        width: 250px;
    }

    &__consultant {
        width: 240px;
    }

    &__company {
        width: 300px;
        font-size: 15px;
    }

    &__company-element {
        max-width: 280px;
        background-color: rgba(255, 255, 255, .5);

        .company-contact__phone {
            background-color: #e7e7e7;
        }
    }

    &__advertisement {
        width: 200px;
    }

    &__advertisements {
        @include mixins.flex-box($gap: 5px, $wrap: wrap, $j: center);
    }

    &__publish-type {
        position: absolute;
        bottom: 5px;
        left: 5px;
        @include mixins.flex-box($gap: 5px);
    }

    &__date {
        width: 100px;
    }

    &__visited {
        color: variables.$color_danger_dark;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
    }

    &__loader {
        height: 130px!important;
    }
}

.offer-table-item-area {
    &__title {
        font-weight: 500;
    }

    &__additional {
        font-size: 14px;
        color: variables.$color_grey;
        @include mixins.flex-box($d: column);
    }

    &__item {
        display: inline-block;
    }
}

.offer-table-item-date {
    &__name {
        color: variables.$color_grey;
        font-size: 12px;
    }

    &__value {
        font-size: 14px;
    }

    &__time {
        font-size: 12px;
        color: variables.$color_grey;
    }
}

.offer-table-item-preview {
    &__header {
        @include mixins.flex-box($gap: 5px);
    }

    &__object-type {
        width: 100%!important;
        text-align: center;
    }

    &__container {
        position: relative;
    }

    &__parameters, &__publishes {
        position: absolute;
        top: 5px;
        left: 5px;
        @include mixins.flex-box($gap: 5px);
    }

    &__publishes {
        top: unset;
        bottom: 5px;
    }

    &__chip {
        padding: 5px;
        font-size: 14px;
        font-weight: 500;
        color: variables.$color_light;
        background-color: rgba($color:variables.$color_danger, $alpha: 0.7);
    }
}

.offer-table-item-price {
    @include mixins.flex-box($d: column);

    &__additional  {
        color: variables.$color_grey;
        font-size: 14px;
    }

    &__built {
        color: variables.$color_success;
        font-weight: 500;
        font-size: 14px;
    }
}

.offer-table {
    tr {
        padding: 5px 0;
        position: relative;

        &.passive {
            color: variables.$color_dark!important;

            td {
                opacity: 0.5;

                &.sortable {
                    opacity: 1;
                }

                &:first-child {
                    opacity: 1;
                }

                &:last-child {
                    opacity: 1;
                }
            }
        }
    }

    td {
        padding: 10px!important;
    }
}

.offer-table-item-dropdown {
    border-top: 3px solid #000!important;
    border-bottom: 1px solid #000!important;

    .offer-table-item-dropdown__wrapper {
        padding: 0!important;
    }

    .tabs-component {
        &-panels {
            padding: 0!important;
        }

        &-tabs {
            padding: 0;
            gap: 0;
        }

        &-tab-a {
            padding: 20px 25px 15px;
            height: 100%;
            border-right: 1px solid rgba(0, 0, 0, .1);
            text-transform: unset;

            &::before {
                display: none;
            }

            &.is-active {
                background-color: rgba(0, 183, 74, 0.3);
                color: #000;
            }
        }
    }

    &__center {
        text-align: center;
    }

    &__sale {
        .tabs-component-tab-a {
            color: #c03!important;
        }
    }

    &__suffix {
        @include mixins.flex-box($a: center, $j: center);
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: #c03;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        flex-shrink: 0;
        height: 20px;
        width: 20px;
    }
}

.offer-mini {
    &__advertisement {
        @include mixins.flex-box($gap: 5px, $a: center);
    }
}

.offer-mini-list {
    width: 100%;
    box-shadow: none;
    border-top: 2px solid #000;

    tr {
        background-color: #f3f3f3;
    }

    thead {
        color: variables.$color_primary;
        text-transform: unset;

        th {
            font-weight: 600!important;
            text-align: left;
            font-size: 16px!important;
        }

        tr {
            th {
                border-right: 1px dotted rgba(0, 0, 0, .4);
                border-bottom: 1px dotted rgba(0, 0, 0, .4);
            }
        }
    }

    tr {
        td:not(:last-child) {
            border-right-color: rgba(0, 0, 0, .4);
        }

        &:not(:last-child) td {
            border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
        }
    }
}

.offer-mini-list-empty {
    width: max-content;
    margin: 0 auto;
    padding: 5px 15px!important;
}

.offer-table-item-mobile {
    @include mixins.media('max', 'md') {
        font-size: 14px;
    }

    &.passive {
        opacity: .5;
    }

    &__address {
        @include mixins.text-overflow(2);
        font-weight: 500;
    }

    &__address-block {
        span:not(:last-child)::after {
            content: ', '
        }
    }

    &__label {
        font-weight: 600;
    }

    &__advertisements {
        @include mixins.flex-box($j: space-between, $wrap: wrap);
        row-gap: 5px;
    }

    &__header {
        @include mixins.flex-box($a: center, $j: space-between);
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
    }

    &__dropdown {
        width: 100%!important;
        text-align: center;

        @include mixins.transition(background-color);
        @include mixins.hover {
            background-color: variables.$color_light_grey;
        }
    }

    @include mixins.media('min', 'sm') {
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }
}

// ************** MINI TIMELINE *************
.MiniTimeline {
    $step_height: 34px;
    font-size: 10px;
    color: black;
    overflow-x: clip;

    &-arrow {
        width: 100%;
        height: 50%;
        background-color: variables.$color_grey_alt;

        &-top {
            transform: skew(45deg, 0deg);
            border-left: variables.$color_grey_alt;
        }

        &-bottom {
            transform: skew(-45deg, 0deg);
            border-left: variables.$color_grey_alt;
        }
    }

    &-step {
        @include mixins.flex-box($a: center, $j: center, $d: column);
        position: relative;
        height: $step_height;

        .step-name {
            @include mixins.flex-box($a: center);
        }

        i {
            margin-left: 3px;
            font-size: 15px;
        }

        &-content {
            position: absolute;
            z-index: 5;
        }

        &:first-child {
            .MiniTimeline-arrow {
                border-left: none !important;
            }

            &::before {
                content: "";
                height: $step_height;
                width: calc($step_height / 2);
                background-color: variables.$color_grey_alt;
                position: absolute;
                z-index: 2;
                left: 0;
            }
        }

        &:last-child {
            .MiniTimeline-arrow {
                border-right: none !important;
            }

            &::after {
                content: "";
                height: $step_height;
                width: calc($step_height / 2);
                background-color: variables.$color_grey_alt;
                position: absolute;
                z-index: 2;
                right: 0;
            }
        }

        &-done {
            // &::before {
            //     border-left: $done_step_border;
            //     border-bottom: $done_step_border;
            //     border-top: $done_step_border;
            // }

            // &::after {
            //     border-right: $done_step_border;
            //     border-bottom: $done_step_border;
            //     border-top: $done_step_border;
            // }

            .MiniTimeline-arrow {
                &-top {
                    border-left: $done_step_thin_border;
                    border-right: $done_step_thin_border;
                    // border-top: $done_step_border;
                }

                &-bottom {
                    border-left: $done_step_thin_border;
                    border-right: $done_step_thin_border;
                    // border-bottom: $done_step_border;
                }
            }

            i {
                color: variables.$color_success;
                background: rgb(255, 255, 255);
                background: radial-gradient(circle,
                        rgba(255, 255, 255, 1) 50%,
                        rgba(253, 29, 29, 0) 49%,
                        rgba(252, 176, 69, 0) 52%);
            }
        }

        &-in_process {
            &::before {
                background-color: variables.$color_warning_dark !important;
                // border-left: $warning_step_border;
                // border-top: $warning_step_border;
                // border-bottom: $warning_step_border;
            }

            &::after {
                background-color: variables.$color_warning_dark !important;
                // border-top: $warning_step_border;
                // border-right: $warning_step_border;
                // border-bottom: $warning_step_border;
            }

            .MiniTimeline-arrow {
                &-top {
                    background-color: variables.$color_warning_dark;
                    border-left: $warning_step_thin_border;
                    border-right: $warning_step_thin_border;
                    // border-top: $warning_step_thin_border;
                }

                &-bottom {
                    background-color: variables.$color_warning_dark;
                    border-left: $warning_step_thin_border;
                    border-right: $warning_step_thin_border;
                    // border-bottom: $warning_step_thin_border;
                }
            }

            i {
                color: black;
            }
        }
    }

    &-big_size {
        font-size: 14px;
        $step_height: 60px;
        margin-top: 15px;

        .MiniTimeline-step {
            height: $step_height;

            i {
                margin-left: 5px;
                font-size: 20px;
            }

            &-done {
                .MiniTimeline-arrow {
                    &-top {
                        border-left: $done_step_border;
                        border-right: $done_step_border;
                        // border-top: $done_step_border;
                    }

                    &-bottom {
                        border-left: $done_step_border;
                        border-right: $done_step_border;
                        // border-bottom: $done_step_border;
                    }
                }
            }

            &-in_process {
                .MiniTimeline-arrow {
                    &-top {
                        border-left: $warning_step_border;
                        border-right: $warning_step_border;
                    }

                    &-bottom {
                        border-left: $warning_step_border;
                        border-right: $warning_step_border;
                    }
                }
            }

            &-current {
                cursor: pointer;

                &:hover {
                    .step-name {
                        font-weight: bolder;
                        transition: all 0.3s;
                    }
                }
            }

            &-content {
                margin-left: calc($step_height / 4);
            }

            &:first-child {
                &::before {
                    height: $step_height;
                    width: $step_height;
                }
            }

            &:last-child {
                &::after {
                    height: $step_height;
                    width: $step_height;
                }
            }

            &-parallelogram {
                content: "";
                width: 100%;
                height: 15px;
                transform: skew(45deg);
                background: #d86f57;
                position: absolute;
                bottom: $step_height;
                left: calc(($step_height / 2.9) * -1);
            }
        }
    }

    &.media {
        white-space: nowrap;

        .MiniTimeline-step-content {
            width: 84%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;

            .step-name {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media screen and (max-width: 1560px) {
    .MiniTimeline.media {
        .MiniTimeline-step {
            white-space: nowrap;

            &-content {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .step-name {
                max-width: 80px;
            }
        }
    }

    .MiniTimeline-big_size {
        .MiniTimeline-step {
            white-space: unset;
        }

        i {
            display: none;
        }
    }
}

@media screen and (max-width: 1390px) {
    .MiniTimeline.media {
        i {
            display: none;
        }
    }

    .MiniTimeline-big_size {
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px) {
    .MiniTimeline-big_size {
        font-size: 10px;
        $step_height: 40px;

        .MiniTimeline-step {
            height: $step_height;

            &:first-child {
                &::before {
                    height: $step_height;
                }
            }

            &:last-child {
                &::after {
                    height: $step_height;
                }
            }

            &-parallelogram {
                height: 7px;
                bottom: $step_height;
                left: calc(($step_height / 3.2) * -1);
            }
        }
    }
}