@use '../utils/variables';
@use '../utils/mixins';

.offer-table-item {
    vertical-align: top;

    .passive {
        color: variables.$color_warning!important;
    }

    &:nth-child(even) {
        background-color: variables.$color_light !important;
        border-color: variables.$color_light !important;
    }

    &:nth-child(odd) {
        background-color: darken(variables.$color_light, 3) !important;
        border-color: darken(variables.$color_light, 3) !important;
    }

    &__id {
        width: 90px;
        height: 1px;
    }

    &__aside {
        @include mixins.flex-box($d: column, $gap: 5px);
        height: 100%;
    }

    &__actions {
        @include mixins.flex-box($d: column, $a: center, $gap: 5px);
    }

    &__button {
        margin-bottom: 10px;
        width: 100%;
        color: #fff!important;
    }

    &__preview {
        width: 270px;
        position: relative;
    }

    &__region {
        width: 280px;
        text-transform: capitalize;

        a {
            color: inherit;
        }
    }

    &__from-mkad {
        font-weight: 700;
        width: 80px;
    }

    &__area {
        width: 250px;
    }

    &__price {
        width: 250px;
    }

    &__consultant {
        width: 80px;
    }

    &__company {
        width: 300px;
        font-size: 15px;
    }

    &__company-element {
        max-width: 280px;
        border: none!important;
        padding: 0!important;

        .company-contact__phone {
            background-color: #e7e7e7;
        }

        .company-element {
            &__name {
                font-weight: 700;
                color: #000;
                text-decoration: underline;
            }

            &__info {
                color: variables.$color_grey;
            }
        }
    }

    &__advertisement {
        width: 200px;
    }

    &__advertisements {
        @include mixins.flex-box($gap: 5px, $wrap: wrap, $j: center);
    }

    &__publish-type {
        position: absolute;
        bottom: 5px;
        left: 5px;
        @include mixins.flex-box($gap: 5px);
    }

    &__date {
        width: 140px;
        min-width: 140px;
    }

    &__icon {
        border: 1px solid rgba(0, 0, 0, .1);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 22px;
        @include mixins.flex-box($a: center, $j: center);

        &.exclusive {
            background-color: variables.$bg-warning-l;
        }
    }

    &__relations {
        @include mixins.flex-box($gap: 1px,  $a: flex-end);
    }

    &__relation-button {
        border-radius: 20px;
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        writing-mode: vertical-rl;
        transform: rotateZ(180deg);
        cursor: pointer;
        height: 125px;
        width: max-content;
        text-align: left;
        opacity: .5;
        @include mixins.transition(background-color, opacity);
        @include mixins.flex-box($a: center);

        &--sale {
            background-color: #e35790;

            @include mixins.hover {
                background-color: #b9356a;
            }
        }

        &--rent {
            background-color: #5461b6;

            @include mixins.hover {
                background-color: #2f3e96;
            }
        }

        &--storage {
            background-color: #a82c94;

            @include mixins.hover {
                background-color: #8c1a79;
            }
        }

        &--sublease {
            background-color: #d59857;

            @include mixins.hover {
                background-color: #a97236;
            }
        }

        @include mixins.hover {
            opacity: 1;
        }

        &.active {
            opacity: 1;
            box-shadow: 0 0 1px 4px rgba(0, 0, 0, .2);
        }
    }

    &__relation-icon {
        margin-top: auto;
    }

    &__close {
        border-bottom: 1px solid #000;
        border-radius: 0;
    }

    &__chip {
        width: 100%!important;
        text-align: center;
    }

    &__chat {
        margin: 10px auto;
        background-color: variables.$bg-success-l;
        height: 50px;
        width: 50px;

        i {
            font-size: 18px;
        }

        span {
            font-size: 14px;
        }
    }

    &__checkbox input {
        height: 35px;
        width: 35px;
    }

    &.selected {
        background-color: #a3e9b6!important;

        td:not(:last-child) {
            border-right-color: #a3e9b6!important;
            border-left-color: #a3e9b6!important;
        }

        .company-contact__phone {
            background-color: transparent;
        }

        .offer-table-item-preview__header .ui-field {
            background-color: variables.$color_grey_light!important;
        }
    }
}

.offer-table-item-area {
    &__title {
        font-weight: 700;
    }

    &__additional {
        font-size: 14px;
        color: variables.$color_grey;
        @include mixins.flex-box($d: column);
    }

    &__item {
        display: inline-block;
    }

    &__label {
        font-size: 14px;
        font-weight: 500;
        padding: 3px 5px;
        border: 2px solid rgba(16, 185, 129, 0.4);
        border-radius: 5px;
        color: #10b981;
        cursor: pointer;
        width: max-content;
        @include mixins.transition(background-color, color);
        @include mixins.hover {
            background-color: variables.$bg-success;
            color: #fff;
        }

        &.active {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }
}

.table-date-block {
    width: 100%!important;
    padding: 5px 7px!important;
    justify-content: center;
    color: variables.$color_grey;

    &__value {
        font-size: 12px;
    }
}

.offer-table-item-preview {
    &__header {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__types {
        @include mixins.flex-box($gap: 5px);
        margin-top: 5px;
    }

    &__container {
        position: relative;
        height: 180px;
        min-width: 270px;
        display: block;

        img {
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__parameters, &__publishes {
        position: absolute;
        top: 5px;
        left: 5px;
        @include mixins.flex-box($gap: 5px);
    }

    &__publishes {
        top: unset;
        bottom: 10px;
    }

    &__chip {
        padding: 5px;
        font-size: 14px;
        font-weight: 500;
        color: variables.$color_light;
        background-color: rgba($color:variables.$color_danger, $alpha: 0.7);
    }

    &__area {
        cursor: pointer;
        font-size: 16px;
    }

    &__complex {
        position: relative;
        z-index: 6;
    }
}

.offer-table-item-price {
    @include mixins.flex-box($d: column);

    &__additional  {
        color: variables.$color_grey;
        font-size: 14px;
    }

    &__built {
        color: variables.$color_success;
        font-weight: 500;
        font-size: 14px;
    }
}

.offer-table {
    tr {
        padding: 5px 0;
        position: relative;

        &.passive {
            color: variables.$color_dark!important;

            td {
                opacity: 0.5;

                &.sortable {
                    opacity: 1;
                }

                &:first-child {
                    opacity: 1;
                }

                &:last-child {
                    opacity: 1;
                }
            }
        }
    }

    td {
        padding: 10px!important;
    }
}

.offer-table-item-dropdown {
    border-top: 3px solid #000!important;
    border-bottom: 1px solid #000!important;

    .offer-table-item-dropdown__wrapper {
        padding: 0!important;
    }


    &__list {
        display: table;
        width: 100%;

        .offer-table-item {
            background-color: rgba(#e4eddb, .8)!important;
        }
    }
}

.offer-mini {
    &__advertisement {
        @include mixins.flex-box($gap: 5px, $a: center);
    }
}

.offer-mini-list {
    width: 100%;
    box-shadow: none;
    border-top: 2px solid #000;

    tr {
        background-color: #f3f3f3;
    }

    thead {
        color: variables.$color_primary;
        text-transform: unset;
        height: 40px!important;

        th {
            font-weight: 600!important;
            text-align: left;
            font-size: 16px!important;
        }

        tr {
            height: 40px;

            th {
                border-right: 1px dotted rgba(0, 0, 0, .4);
                border-bottom: 1px dotted rgba(0, 0, 0, .4);
            }
        }
    }

    tr {
        td:not(:last-child) {
            border-right-color: rgba(0, 0, 0, .4);
        }

        &:not(:last-child) td {
            border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
        }
    }

    th, td {
        padding-left: 20px!important;
    }
}

.offer-mini-list-item {
    background-color: #f3f3f3;
    height: 50px!important;

    &.archived {
        opacity: .25;
    }

    td {
        padding: 0 10px 0 20px!important;
    }

    &__functions {
        @include mixins.flex-box($gap: 5px);
    }
}

.offer-table-item-mobile {
    position: relative;

    @include mixins.media('max', 'md') {
        font-size: 14px;
    }

    &.passive {
        opacity: .5;
    }

    &__address {
        @include mixins.text-overflow(2);
        font-weight: 500;
    }

    &__address-block {
        span:not(:last-child)::after {
            content: ', '
        }
    }

    &__label {
        font-weight: 600;
    }

    &__advertisements {
        @include mixins.flex-box($j: space-between, $wrap: wrap);
        row-gap: 5px;
    }

    &__header {
        @include mixins.flex-box($a: center, $j: space-between);
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
    }

    &__dropdown {
        width: 100%!important;
        text-align: center;

        @include mixins.transition(background-color);
        @include mixins.hover {
            background-color: variables.$color_light_grey;
        }
    }

    @include mixins.media('min', 'sm') {
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }

    &.general {
        background-color: lighten($color: variables.$color_secondary, $amount: 45);;

        .offer-table-item-mobile__button {
            border: 1px solid #fff;
        }
    }

    &.selected {
        background-color: rgba(16, 185, 129, 0.25);
    }

    &__unselect {
        position: absolute;
        top: 90px;
        left: 15px;
        background-color: rgba(0, 0, 0, 0.4);
        @include mixins.flex-box($a: center, $j: center);
        width: calc(100% - 30px);
        height: 180px;
        z-index: 10;
        cursor: pointer;

        i {
            padding: 0 4px;
            font-weight: bold;
            font-size: 64px;
            color: variables.$color_success;
        }
    }

    &__extra {
        font-size: 14px;
    }

    &__block {
        position: absolute;
        top: -30px;
        right: 0;
    }

    &--no-offer &__block {
        top: 0;
    }
}

.offer-table-item-preview-slider {
    @include mixins.flex-box($a: center, $j: center);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 45px;
    background-color: rgba(variables.$color_light_grey, .5);
    backdrop-filter: blur(1px);
    color: #000;
    font-size: 20px;
}

.offer-table-item-motion-slider {
    height: 100%;
    position: relative;

    &__list {
        @include mixins.flex-box($gap: 5px);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0 5px;
    }

    &__image {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.active {
            display: block;
        }
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include mixins.flex-box($a: center, $j: center, $d: column);
        z-index: 4;
        background-color: rgba(0, 0, 0, .4);
        color: #fff;
    }

    &__ghost {
        position: relative;
        z-index: 5;
        height: calc(100% - 4px);
        border-bottom: 4px solid rgba(255, 255, 255, .5);

        &.active {
            border-bottom-color: variables.$color_light_blue;
        }
    }

    &__main {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.offer-table-item-preview-area {
    &__description {
        color: #afafaf
    }
}

.offer-table-item-call {
    &__chip {
        text-align: center;
        width: 100%!important;
        cursor: pointer;
        background-color: variables.$bg-success-l;
        justify-content: center;

        @include mixins.hover {
            background-color: variables.$bg-success;
            color: #fff;
        }

        &.expired {
            background-color: variables.$bg-danger;
            color: #fff;

            @include mixins.hover {
                background-color: variables.$bg-danger-l;
                color: #000;
            }
        }

        &.warning {
            background-color: variables.$bg-warning;
        }
    }

    &__help {
        font-weight: 400;
        font-size: 12px;
    }
}