@use '../utils/variables';
@use '../utils/mixins';

.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 9;
    background-color: variables.$color_sidebar_bg;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);

    &__avatar {
        padding: 10px 5px 5px;
    }

    &__nav {
        text-align: center;
        align-content: center;
        margin-top: 20px;
    }

    hr {
        margin: 0 auto;
        width: 80%;
        color: variables.$color_light;
        opacity: 0.5;
    }

    &__link {
        @include mixins.flex-box($a: center, $d: column, $gap: 10px);
        padding: 7px 0 7px 0;
        color: #f7f7f7;
        font-weight: 700;
        font-size: 11px;
        letter-spacing: .3px;
        width: 100%;
        height: 100%;
        transition: color .15s ease;

        &:hover {
            color: #46cdcf;
        }

        &.active {
            background-color: #f7f7f7;
            color: #11698e;
            font-weight: 700;
        }
    }

    &__icon {
        font-size: 22px;
        margin-top: 5px;
        display: block;
    }
}

.avatar {
    @include mixins.flex-box($a: center);
    border-radius: 50%;
    background-color: variables.$color_light_grey;
    overflow: hidden;
    flex-shrink: 0;

    height: var(--size);
    width: var(--size);

    &__image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--empty {
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        color: rgba(0, 0, 0, .4)
    }
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5001;
    width: 270px;
    transform: translateX(-270px);
    @include mixins.transition(transform);
    background-color: #f1eded;

    &.active {
        transform: translateX(0);
    }

    &__wrapper {
        @include mixins.flex-box($d: column);
    }

    &__close {
        background-color: transparent;
        border: none;
        padding: 0;
        height: max-content;
        width: max-content;
        cursor: pointer;
    }

    &__top {
        padding: 10px 20px;
        @include mixins.flex-box($gap: 20px, $a: center);
        font-size: 24px;
        height: 65px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}

.sidebar-mobile-menu {
    padding: 5px 10px;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-gutter: stable;

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__link {
        padding: 7px 15px;
        width: 100%;
        color: #000;
        border-radius: 10px;
        font-weight: 500;
        @include mixins.flex-box($gap: 15px, $a: center);
        @include mixins.transition(background-color);

        @include mixins.hover {
            background-color: rgba(16, 185, 129, 0.4);
        }

        &.active {
            background-color: rgba(16, 185, 129, 0.3);
        }

        i {
            width: 20px;
            font-size: 18px;
        }
    }

    &__accordion {
        padding: 7px 15px;
        color: #000;
        border-radius: 10px;
        font-weight: 500;
        @include mixins.flex-box($j: space-between, $a: center);
        @include mixins.transition(background-color);

        @include mixins.hover {
            background-color: rgba(16, 185, 129, 0.4);
        }

        &.current {
            background-color: rgba(16, 185, 129, 0.3);
        }

    }

    &__accordion-label {
        @include mixins.flex-box($gap: 15px, $a: center);

        i {
            width: 20px;
            font-size: 18px;
        }
    }

    &__accordion-body {
        margin: 5px 0 5px 20px;
        padding: 5px 0 5px 15px;
        border-left: 1px solid rgba(0, 0, 0, .1);
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__submenu {
        border-left: 1px solid rgba(0, 0, 0, .1);
        margin: 5px 0;
    }
}