@use '../utils/mixins';
@use '../utils/variables';

.task-card {
    background-color: #fff;
    min-height: 390px;
    width: 1100px;

    &__content {
        @include mixins.flex-box();
    }

    &__header {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #afaeae;
        @include mixins.flex-box($j: space-between);
    }

    &__column {
        padding: 10px 5px 0 0;
        width: 50%;
        position: relative;
        max-height: 800px;

        &:first-child {
            padding-right: 9px;
            border-right: 1px solid #afaeae;
        }

        &:last-child {
            padding-left: 9px;
        }
    }

    &__actions {
        @include mixins.flex-box($gap: 10px);
    }

    &__description {
        margin-bottom: 10px;
    }

    &__label {
        color: #888686;
        font-weight: 500;
    }

    &__message {
        background-color: #e8e5e5;
        border-radius: 5px;
        padding: 10px;
        word-break: break-word;
        max-height: 300px;
        overflow-y: auto;
    }

    &__chip {
        background-color: #d6d6d6;
    }

    &__tag {
        color: #fff;
    }

    &__chips {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5px;
    }

    &__category {
        color: #837f7f;
    }

    &__relation {
        margin-top: 10px;
    }

    .messenger-dialog {
        background-color: #d6d6d6;
    }

    .messenger-dialog-request__id, .messenger-dialog-offer__id {
        color: #000;
    }

    &__button {
        background-color: #c0bbbb;
        width: max-content;
        color: #000;
        border: none;
        border-radius: 5px;
        padding: 5px 7px;
        @include mixins.transition(background-color);
        @include mixins.clear-button;

        @include mixins.hover {
            background-color: #B3D7C6;
        }

        &[disabled] {
            opacity: .6;
        }
    }

    &__comments {
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
        position: absolute;
        width: calc(100% - 20px);
        top: 20px;
        left: 10px;
        height: calc(100% - 40px);
        border-radius: 10px;
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__comments-list {
        height: 100%;
        overflow-y: auto;
        padding-right: 5px;
        max-height: 200px;
    }

    &__list {
        @include mixins.flex-box($d: column, $j: flex-end, $gap: 15px);
    }

    &__chat-message {
        color: #000!important;

        .messenger-chat-message__wrapper {
            max-width: 100%;
        }

        .messenger-chat-message__content {
            background-color: #d6d6d6;
            box-shadow: unset;
        }
    }

    &__chat-notification {
        max-height: 250px;
        overflow-y: auto;
    }

    &__form {
        border-top: 1px solid #afaeae;
        margin: 7px 0;
        padding: 7px 0;
    }

    &__textarea {
        .form__textarea {
            border-color: #b9b0b0;
            height: 50px;
            min-height: 50px;
            max-height: 100px;
        }

        .form__label {
            color: #888686;
        }
    }

    &__status {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__close {
        font-size: 20px;
        color: #837f7f;
        cursor: pointer;
        @include mixins.transition(color);

        &:hover {
            color: #625c5c;
        }
    }

    &__users {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__arrow {
        font-size: 20px;
    }

    &__observers {
        height: 100%;
        padding: 6px 8px;
        border: 1px solid #afaeae;
        border-radius: 20px;
        font-weight: 500;
        font-size: 16px;
        @include mixins.flex-box($a: center, $gap: 5px);

        i {
            font-size: 20px;
        }
    }

    .messenger-chat-message__body {
        max-height: 200px;
        overflow-y: auto;
    }

    &__empty {
        height: 100%;
    }

    &__tabs {
        margin-top: 10px;
        position: relative;
        @include mixins.flex-box($gap: 5px);

        &::before {
            content: "";
            display: block;
            height: 2px;
            background-color: variables.$bg-gray-l;
            width: 100%;
            position: absolute;
            bottom: -4px;
        }
    }

    &__tab-link {
        color: variables.$color_dark_grey;
        padding: 5px;
        font-weight: 500;
        @include mixins.transition(color);
    }

    &__tab-link.is-active {
        color: variables.$cl-success;
        border-bottom: 2px solid variables.$bg-success;
    }

    &__tab-link:hover  {
        color: variables.$color_success-dark;
    }

    &__files {
        max-height: 450px;
        overflow-y: auto;
    }

    &__histories {
        max-height: 300px;
    }
}

.task-card-modal {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    position: absolute;
    width: calc(100% - 10px);
    top: 10px;
    height: calc(100% - 10px);
    border-radius: 10px;
    overflow-y: auto;
    @include mixins.flex-box($d: column, $gap: 10px);

    &__header {
        @include mixins.flex-box($j: space-between);
        padding-bottom: 7px;
        border-bottom: 1px solid #afaeae;
    }

    &__form {
        border-top: 1px solid #afaeae;
        margin-top: 7px;
        padding-top: 7px;
    }

    &__element {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $a: center, $j: space-between);
    }

    &__arrow {
        font-size: 20px;
    }

    .form__label {
        color: #ada8a8;
    }

    .form__textarea, .form__input {
        border-color: #b9b0b0;
    }
}

.task-card-comment {
    position: relative;

    &::before {
        background: rgb(206, 197, 197);
        z-index: -1;
        bottom: 0;
        content: "";
        left: 14px;
        position: absolute;
        top: -20px;
        width: 2px;
    }

    &:last-of-type {
        &::before {
            bottom: auto;
            height: 20px;
        }
    }

    @include mixins.flex-box($gap: 7px);

    &__content {
        width: 100%;
    }

    &__message {
        word-break: break-word;
    }

    &__header {
        font-size: 14px;
        @include mixins.flex-box($a: center);
    }

    &__username {
        font-weight: 500;
    }

    &__dot, &__date {
        color: #736969;
    }

    &__dot {
        font-weight: 600;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
    }

    &__button {
        background-color: variables.$bg-gray-l;
        padding: 2px 4px;
        font-size: 12px;
    }

    &__type {
        font-weight: 500;
    }

    &__body {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__files {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__file {
        width: calc(20% - 4px);
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
    }
}

.task-card-contacts {
    padding: 5px 0;
    min-width: 400px;
    min-height: 350px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
        max-height: 400px;
        overflow-y: auto;
        scrollbar-gutter: stable;
        padding-right: 5px;
    }
}

.task-card-history-event {
    &__content {
        font-size: 13px;
    }

    &__row {
        width: 100%;
        @include mixins.flex-box($j: space-between);
    }

    &__data {
        width: 60%;
    }

    &__assigner {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__tag {
        font-size: 12px;
        padding: 2px 4px;

        &.added {
            background-color: variables.$bg-success-l;
        }

        &.deleted {
            background-color: variables.$bg-danger-l;
        }
    }

    &__column {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__help {
        background-color: variables.$bg-gray-l;
        padding: 2px 5px;
        font-size: 12px;

        &.success {
            background-color: variables.$bg-success-l;
        }

        &.danger {
            background-color: variables.$bg-danger-l;
        }
    }

    &__observers {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }
}