@use '../utils/mixins';
@use '../utils/variables';

.task-card {
    background-color: #fff;
    min-height: 390px;
    width: 1100px;

    &__content {
        @include mixins.flex-box();
    }

    &__header {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        @include mixins.flex-box($gap: 10px, $a: center);

        &--completed {
            background-color: variables.$color_success_dark;

            .task-card__chip, .ui-button-icon {
                background-color: variables.$color_grey_alt;
            }
        }

        &--expired {
            background-color: variables.$bg-danger-l;

            .task-card__chip, .ui-button-icon {
                background-color: #fff;
            }
        }

        &--already-expired {
            background-color: variables.$color_danger;

            .task-card__chip, .ui-button-icon {
                background-color: variables.$color_grey_alt;
            }
        }
    }

    &__column {
        padding: 10px;
        width: 50%;
        position: relative;
        max-height: 800px;

        &:first-child {
            padding-right: 9px;
            background-color: #f5f5f5;
        }

        &:last-child {
            padding-left: 9px;
        }

        .tabs-component {
            height: 100%;

            &-panels, &-panel {
                height: 100%;
            }
        }
    }

    &__actions {
        @include mixins.flex-box($gap: 10px);
    }

    &__description {
        margin-bottom: 10px;
    }

    &__label {
        color: #989696;
        font-weight: 500;
        font-size: 15px;
    }

    &__message {
        word-break: break-word;
        max-height: 300px;
        font-size: 15px;
        overflow-y: auto;
        overscroll-behavior-y: contain;
    }

    &__title {
        word-break: break-word;
        max-height: 300px;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        font-weight: 500;
    }

    &__chip {
        background-color: variables.$color_light_grey;
    }

    &__tag {
        color: #fff;
        font-weight: 400!important;
        padding: 3px 10px!important;
    }

    &__chips {
        @include mixins.flex-box($gap: 5px, $wrap: true, $a: center);
    }

    &__info {
        border-top: 1px solid rgba(0, 0, 0, .1);
        font-size: 14px;
        color: variables.$color_dark_grey;
        padding: 0 10px;
        @include mixins.flex-box($j: flex-end);
    }

    &__date {
        padding: 3px 5px;
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__category {
        color: #837f7f;
    }

    &__relations {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding-bottom: 20px;
    }

    &__relation {
        margin-top: 10px;
        position: relative;

        .messenger-dialog {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 4px;
            padding: 5px;
        }
    }

    &__relation-message {
        padding-left: 15px;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 50px;
            position: absolute;
            top: -10px;
            left: 5px;
            border-left: 1px solid rgba(0, 0, 0, .15);
            border-bottom: 1px solid rgba(0, 0, 0, .15);
        }
    }

    .messenger-dialog-request__id, .messenger-dialog-offer__id {
        color: #000;
    }

    &__button {
        background-color: #c0bbbb;
        width: max-content;
        color: #000;
        border: none;
        border-radius: 5px;
        padding: 5px 7px;
        @include mixins.transition(background-color);
        @include mixins.clear-button;

        &--bordered {
            border: 1px solid rgba(0, 0, 0, .1);
            background-color: #ebebeb;
            padding: 3px 7px;
        }

        @include mixins.hover {
            background-color: #B3D7C6;
        }

        &[disabled] {
            opacity: .6;
        }
    }

    &__buttons {
        @include mixins.flex-box($gap: 5px, $a: center);

        .task-card__button {
            flex-grow: 1;
        }
    }

    &__comments {
        @include mixins.flex-box($d: column, $j: space-between);
    }

    &__comments-list {
        height: max-content;
        overflow-y: auto;
        padding-right: 5px;
        max-height: 460px;

        &--shorted {
            max-height: 360px;
        }
    }

    .tabs-component-panels {
        padding: 20px 0 0 0!important;
    }

    &__list {
        @include mixins.flex-box($d: column, $j: flex-end, $gap: 15px);
    }

    &__chat-message {
        color: #000!important;

        .messenger-chat-message__wrapper {
            max-width: 100%;
        }

        .messenger-chat-message__content {
            background-color: variables.$color_light_grey;
            box-shadow: unset;
        }
    }

    &__chat-notification {
        max-height: 250px;
        overflow-y: auto;
        margin: 0;
    }

    &__form {
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__form-files {
        max-height: 200px;
        overflow-y: auto;
    }

    &__textarea {
        .form__textarea {
            border-color: #b9b0b0;
            height: 50px;
            min-height: 50px;
            max-height: 100px;
        }

        .form__label {
            color: #888686;
        }
    }

    &__status {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__close {
        font-size: 20px;
        color: #837f7f;
        cursor: pointer;
        @include mixins.transition(color);

        &:hover {
            color: #625c5c;
        }
    }

    &__users {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__arrow {
        font-size: 20px;
    }

    &__observers {
        height: 100%;
        padding: 6px 8px;
        border: 1px solid #afaeae;
        border-radius: 20px;
        font-weight: 500;
        font-size: 16px;
        @include mixins.flex-box($a: center, $gap: 5px);

        i {
            font-size: 20px;
        }
    }

    .messenger-chat-message__body {
        max-height: 200px;
        overflow-y: auto;
    }

    &__empty {
        height: 100%;
    }

    &__tabs {
        position: relative;
        @include mixins.flex-box($gap: 5px);

        &::before {
            content: "";
            display: block;
            height: 2px;
            background-color: variables.$bg-gray-l;
            width: 100%;
            position: absolute;
            bottom: -4px;
        }
    }

    &__tab-link {
        color: variables.$color_dark_grey;
        padding: 5px;
        font-weight: 500;
        @include mixins.transition(color);
    }

    &__tab-link.is-active {
        color: variables.$cl-success;
        border-bottom: 2px solid variables.$bg-success;
    }

    &__tab-link:hover  {
        color: variables.$color_success-dark;
    }

    &__files {
        max-height: 580px;
        overflow-y: auto;
    }

    &__histories {
        max-height: 580px;
    }

    &__dropdown {
        z-index: 4001!important;
    }

    &__relations-dropdown {
        position: absolute;
        top: 35px;
        right: 7px;
    }
}

.task-card-comments {
    height: calc(100% - 20px);
}

.task-card-files {
    &__form {
        max-height: 400px;
        overflow-y: auto;
    }
}

.task-card-form {
    @include mixins.flex-box($gap: 10px, $a: flex-end);

    &__button {
        height: 50px;
        width: 50px!important;
        font-size: 25px;
        border-radius: 50%;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__editor {
        width: 100%;

        .form__textarea {
            height: 50px;
            border: 1px solid transparent;
            background-color: #F3F3F3;
            padding: 10px 15px;
            border-radius: 5px;
            outline: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.task-card-modal {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    border-radius: 10px;
    overflow-y: auto;
    @include mixins.flex-box($d: column, $gap: 10px);

    &__header {
        @include mixins.flex-box($j: space-between);
        padding-bottom: 7px;
        border-bottom: 1px solid #afaeae;
    }

    &__element {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $a: center, $j: space-between);
    }

    &__arrow {
        font-size: 20px;
    }

    .form__label {
        color: #ada8a8;
        font-size: 15px;
    }

    &__status-icon {
        width: 18px;
        font-size: 16px;
        text-align: center;
    }

    .form__textarea, .form__input, .dp__input {
        border-color: #b9b0b0;
    }
}

.task-card-comment {
    position: relative;

    &::before {
        background: rgb(206, 197, 197);
        z-index: -1;
        bottom: 0;
        content: "";
        left: 14px;
        position: absolute;
        top: -20px;
        width: 2px;
    }

    &:last-of-type {
        &::before {
            bottom: auto;
            height: 20px;
        }
    }

    @include mixins.flex-box($gap: 7px);

    &__content {
        width: 100%;
    }

    &__message {
        word-break: break-word;
    }

    &__header {
        font-size: 14px;
        @include mixins.flex-box($a: center);
    }

    &__username {
        font-weight: 500;
    }

    &__dot, &__date {
        color: #736969;
    }

    &__dot {
        font-weight: 600;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
    }

    &__button {
        background-color: variables.$bg-gray-l;
        padding: 2px 4px;
        font-size: 12px;
    }

    &__type {
        font-weight: 500;
    }

    &__body {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__files {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__file {
        width: calc(20% - 4px);
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
    }
}

.task-card-contacts {
    padding: 5px 0;
    min-width: 400px;
    min-height: 350px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
        max-height: 400px;
        overflow-y: auto;
        scrollbar-gutter: stable;
        padding-right: 5px;
    }

    &__element {
        max-width: none!important;
        color: #000;

        .contact-card {
            &__label {
                color: #000;
            }

            &__element {
                color: #000;
            }

            &__way {
                background-color: variables.$bg-gray-l
            }
        }
    }
}

.task-card-history-event {
    &__content {
        font-size: 13px;
    }

    &__row {
        width: 100%;
        @include mixins.flex-box($j: space-between);
    }

    &__data {
        width: 60%;
    }

    &__assigner {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__tag {
        font-size: 12px;
        padding: 2px 4px;

        &.added {
            background-color: variables.$bg-success-l;
        }

        &.deleted {
            background-color: variables.$bg-danger-l;
        }
    }

    &__column {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__help {
        background-color: variables.$bg-gray-l;
        padding: 2px 5px;
        font-size: 12px;

        &.success {
            background-color: variables.$bg-success-l;
        }

        &.danger {
            background-color: variables.$bg-danger-l;
        }
    }

    &__observers {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }
}

.task-form {
    &__dates {
        position: relative;
        @include mixins.flex-box($j: space-between);
    }

    &__dates-divider {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
        text-align: center;
    }
}