@use '../utils/variables';
@use '../utils/mixins';

.UserProfile {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: variables.$color_light;
    border: 0.5px solid black;
    width: 50%;

    &-logout {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &-name {
        font-size: x-large;
        font-weight: 600;
    }

    &-table {
        @include mixins.flex-box($d: column);
        width: 100%;
    }

    &-row {
        padding-bottom: 15px;
        display: block;
        width: 100%;

        .label {
            width: 170px;
            padding: 0 10px;
            float: left;
            text-align: right;
            color: variables.$color_grey;
            // line-height: 16px;
        }

        .data {
            @include mixins.flex-box($d: column);
            float: left;
            word-wrap: break-word;
            // width: 360px;
            // overflow: auto;
            // line-height: 16px;
        }
    }
}

.user-folders {
    &:has(.user-folder.chosen) {
        .user-folder:hover {
            background-color: variables.$color_grey_light;
        }
    }
}

.user-folder {
    @include mixins.transition(width, background-color, padding-right);
    overflow-x: hidden;
    position: relative;

    &__actions {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: variables.$color_dark_grey;
        @include mixins.flex-box($a: center, $gap: 6px);
    }

    &.move, &.edit {
        padding-right: 30px;
    }

    &.move.edit {
        padding-right: 55px;
    }

    &__edit-icon {
        @include mixins.transition(color);
    }

    &__edit-icon:hover {
        color: variables.$color_success;
    }

    &.chosen {
        pointer-events: none;
    }

    &.placeholder {
        background-color: variables.$bg-success-l;
    }

    &.ghost {
        display: none;
    }

    &.active {
        background-color: variables.$bg-success-l;
    }
}