@use '../utils/variables';
@use '../utils/mixins';

.UserProfile {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: variables.$color_light;
    border: 0.5px solid black;
    width: 50%;

    &-logout {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &-name {
        font-size: x-large;
        font-weight: 600;
    }

    &-table {
        @include mixins.flex-box($d: column);
        width: 100%;
    }

    &-row {
        padding-bottom: 15px;
        display: block;
        width: 100%;

        .label {
            width: 170px;
            padding: 0 10px;
            float: left;
            text-align: right;
            color: variables.$color_grey;
            // line-height: 16px;
        }

        .data {
            @include mixins.flex-box($d: column);
            float: left;
            word-wrap: break-word;
            // width: 360px;
            // overflow: auto;
            // line-height: 16px;
        }
    }
}
