@use '../../utils/variables';

.accordion {
    &__item {
        &__title {
            .badge {
                &-warning {
                    background-color: variables.$color_warning_dark;
                }

                padding: 12px 5px;
                font-size: 16px;
                font-weight: normal;
                display: block;
                width: 100%;
                cursor: pointer;
                user-select: none;
                position: relative;
                text-align: unset;

                i {
                    position: absolute;
                    top: 25%;
                    right: 15px;
                }

                &:hover {
                    background-color: #d2d2d2;
                }

                transition: background-color 0.2s ease;
            }
        }

        &__body {
            max-height: 0;
            overflow: hidden;
            transition: all 0.25s cubic-bezier(0, 1, 0, 1) -0.1s;
        }

        &.open {
            .accordion__item__body {
                max-height: 9999px;
                transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
                transition-delay: 0s;
            }
        }

        &.disabled {
            .accordion__item__title {
                .badge {
                    cursor: default;

                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
}