@use '../../utils/mixins';

.button {
    @include mixins.flex-box($a: center, $j: center);
    @include mixins.transition(background-color .2s, opacity .3s);
    font-weight: 600;
    font-size: 14px;
    border: unset;
    border-radius: 2px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 39.2%, .5);
    background-color: #11698e;
    color: #f7f7f7;
    text-transform: uppercase;
    height: max-content;
    position: relative;

    &:not(:disabled) {
        cursor: pointer;
    }

    @include mixins.hover {
        background-color: #085373;
    }

    &__badge {
        position: absolute;
        left: -8px;
        top: -8px;
    }

    &--icon {
        gap: 10px;

        svg {
            font-size: 20px;
        }
    }

    @include mixins.bg-color-scheme(warning #f88f01 #a46104, success #10b981 #009665, danger #f93154 #cb1132);

    &--info {
        background-color: #f8f9fa;
        color: #000;
    }

    &--small {
        padding: 5px 10px;
    }

    &:disabled, &--disabled {
        opacity: .4;
    }
}