@use '../../utils/mixins';

.button {
    @include mixins.flex-box($a: center, $j: center);
    @include mixins.transition(background-color .2s, opacity .3s);
    font-weight: 600;
    font-size: 14px;
    border: unset;
    border-radius: 2px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 39.2%, .5);
    background-color: #11698e;
    color: #f7f7f7;
    text-transform: uppercase;
    height: max-content;
    position: relative;
    width: max-content;

    &:disabled {
        pointer-events: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    @include mixins.hover {
        background-color: #085373;
    }

    &__badge {
        position: absolute;
        left: -8px;
        top: -8px;
    }

    &--icon {
        gap: 10px;

        svg {
            font-size: 20px;
        }
    }

    @include mixins.bg-color-scheme(warning #f88f01 #a46104, success #10b981 #009665, danger #f93154 #cb1132, info #e7e7e7 #d3d3d3 #000);

    &--small {
        padding: 5px 10px;
    }

    &:disabled {
        opacity: .4;
    }

    &--disabled:not(:disabled):not(&--solid) {
        opacity: .6;
    }

    &--disabled:not(:disabled):hover {
        opacity: 1;
    }

    &--solid {
        border: 2px solid #11698e;
        color: #11698e;
        background-color: #fff;

        &:disabled {
            border-color: transparent;
        }

        &:hover {
            color: #fff!important;
        }

        &.button {
            &--warning {
                border-color: #f88f01;
                color: #f88f01;
            }

            &--success {
                border-color: #10b981;
                color: #10b981;
            }

            &--danger {
                border-color: #f93154;
                color: #f93154;
            }

            &--info {
                border-color: #e7e7e7;
                color: #4e4e4e;

                &:hover {
                    color: #000!important;
                }
            }
        }
    }
}