.button {
    font-weight: 600;
    font-size: 14px;
    border: unset;
    border-radius: 2px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 39.2%, .5);
    background-color: #11698e;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: max-content;
    position: relative;
    transition: background-color .2s ease;

    &:hover {
        background-color: #085373;
    }

    &__badge {
        position: absolute;
        left: -8px;
        top: -8px;
    }

    &--icon {
        gap: 10px;

        svg {
            font-size: 20px;
        }
    }

    &--warning {
        background-color: #f88f01;

        &:hover {
            background-color: #a46104;
        }
    }

    &--success {
        background-color: #10b981;

        &:hover {
            background-color: #009665;
        }
    }

    &--info {
        background-color: #f8f9fa;
        color: #000;
    }

    &--danger {
        background-color: #f93154;

        &:hover {
            background-color: #cb1132;
        }
    }

    &--small {
        padding: 5px 10px;
    }

    &--disabled {
        opacity: .4;
    }
}