.carousel {
    &__modal {
        .modal__body {
            width: 900px;
        }
    }

    &__scroll {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scroll-behavior: smooth;
        height: 180px;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .carousel__item {
            width: 180px;
            height: 110px;
            object-fit: cover;
        }
    }

    &__item {
        cursor: pointer;
        height: 100%;
    }

    &__thumbnails {
        position: relative;
        margin-top: 20px;
        padding: 0 20px;

        .agile__nav-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: max-content;

            &--prev {
                left: -10px;
            }

            &--next {
                right: -10px;
            }
        }
    }

    &__slides {
        margin: 0 30px;
    }

    &__slide {
        align-items: center;
        color: #fff;
        display: flex;
        height: 500px;
        justify-content: center;
    }

    &__thumbnail {
        cursor: pointer;
        height: 200px;
        transition: opacity 0.3s;
        padding: 0 10px;

        &:hover {
            opacity: 0.75;
        }
    }

    &__image {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.agile {
    &__nav-button {
        background: transparent;
        border: none;
        color: #ccc;
        cursor: pointer;
        font-size: 32px;
        transition-duration: .3s;

        &:hover {
            color: #888;
        }
    }

    &__dot {
        margin: 0 10px;

        button {
            background-color: #eee;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 10px;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            transition-duration: 0.3s;
            width: 10px;
        }

        &--current button, &:hover button {
            background-color: #888;
        }
    }
}
