@use "../../utils/mixins";

.carousel {
    &__modal {
        .modal__body {
            width: 900px;
        }
    }

    &__scroll {
        @include mixins.flex-box($gap: 10px);
        overflow-x: auto;
        scroll-behavior: smooth;
        height: 180px;
    }

    &__grid {
        @include mixins.flex-box($gap: 10px, $wrap: true);

        .carousel__item {
            width: 180px;
            height: 110px;
            object-fit: cover;
        }
    }

    &__item {
        cursor: pointer;
        height: 100%;
        width: 320px;
        object-fit: cover;
    }

    &__thumbnails {
        position: relative;
        margin-top: 20px;
        padding: 0 20px;

        .agile__nav-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: max-content;

            &--prev {
                left: -10px;
            }

            &--next {
                right: -10px;
            }
        }
    }

    &__slides {
        margin: 0 30px;
    }

    &__slide {
        @include mixins.flex-box($a: center, $j: center);
        color: #fff;
        height: 500px;
    }

    &__thumbnail {
        cursor: pointer;
        height: 200px;
        transition: opacity 0.3s;
        padding: 0 10px;

        &:hover {
            opacity: 0.75;
        }
    }

    &__image {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__cell {
        width: 50%;
        height: 50%;
        border: 1px solid rgba(0, 0, 0, .1);

        &:nth-child(n + 2) {
            border-top: unset;
        }

        &:nth-child(odd) {
            border-right: unset;
        }
    }

    &__helper {
        width: 50%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .4);
        @include mixins.flex-box($a: center, $j: center, $d: column);
        color: #fff;
    }
}

.agile {
    &__nav-button {
        background: transparent;
        border: none;
        color: #ccc;
        cursor: pointer;
        font-size: 32px;
        transition-duration: .3s;

        &:hover {
            color: #888;
        }
    }

    &__dot {
        margin: 0 10px;

        button {
            background-color: #eee;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 10px;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            transition-duration: 0.3s;
            width: 10px;
        }

        &--current button, &:hover button {
            background-color: #888;
        }
    }
}
