@use '../../utils/variables';
@use '../../utils/mixins';

.invalid:not(:disabled):not(.is-disabled) {
    border-bottom: 2px solid variables.$color_danger !important;

    &:focus {
        border: 1px solid variables.$color_danger !important;
    }
}

.valid:not(:disabled):not(.is-disabled) {
    border: 1px solid rgba(175, 175, 175, 0.733) !important;
    border-bottom: 2px solid variables.$color_success !important;
    outline: unset !important;
}

.form {
    .searchable {
        display: block;
        width: 100%;
        position: relative;
        background-color: black;
        z-index: 1;

        &-container {
            position: absolute;
            left: 0;
            right: 0;
            background-color: variables.$color_light;
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            border: 1px solid variables.$color_grey;
            border-top: none;
        }

        ul {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            li {
                color: variables.$color_dark;
                padding: 10px 10px;
                font-weight: 500;
                width: 100%;
                list-style: none;
                cursor: pointer;

                &:hover {
                    background-color: darken(variables.$color_light, 5);
                }
            }
        }
    }

    .error-container {
        padding: 2px 0 0;
        text-align: center;

        p {
            font-size: 11px;
            font-weight: normal;
            text-transform: uppercase;
            color: variables.$color_danger;
        }
    }


    &-item {
        &-label {
            display: inline !important;
            font-size: 15px;
            width: 100%;
            font-weight: 600;
            letter-spacing: 0.4px;
            padding-bottom: 10px;
            color: variables.$color_sidebar_bg;
            position: relative;

            & > p:first-child {
                display: inline;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 0.4px;
                color: variables.$color_sidebar_bg;
                position: relative;
            }

            &.required {
                & > p:first-child {
                    &::before {
                        content: "*";
                        position: absolute;
                        right: -10px;
                        color: variables.$color_danger;
                        font-size: 16px;
                    }
                }
            }
        }

        input,
        select,
        textarea,
        .multiselect {
            width: 100%;
            letter-spacing: 0.35px;
            resize: none;
            font-size: 18px;
            font-weight: 500;
            padding: 2px 5px;
            // color: darken(variables.$color_secondary, 15);
            color: variables.$color_secondary;
            border: 1px solid variables.$color_grey;
            border-radius: unset;
            max-width: 100%;

            &:not(textarea) {
                min-height: 34px;
                max-height: 34px;
            }

            &:not([type="checkbox"]) {
                &:not([type="radio"]) {
                    &:focus {
                        border-radius: unset;
                        outline: 1px solid variables.$color_primary;
                    }

                    &:disabled {
                        background-color: rgba($color: variables.$color_grey, $alpha: 0.2);
                    }
                }
            }
        }

        input,
        textarea {
            display: block;
        }

        textarea {
            height: 200px;
        }

        &.checkbox {
            &.inline {
                label {
                    font-size: 12px;
                    font-weight: normal;
                    color: variables.$color_grey;

                    div {
                        display: flex;
                        align-items: flex-end;
                    }
                }
            }

            &.bg {
                div {
                    display: flex;
                    justify-content: space-around;

                    label {
                        display: flex;
                        justify-content: center;
                        outline: 1px dashed black;
                        width: 100%;
                        text-align: center;
                        padding: 5px 0;
                        font-weight: bold;
                        border-radius: 3px;
                        font-size: 12px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.checked {
                            background-color: variables.$color_success_alt;
                            color: variables.$color_light;
                            outline: none;
                        }
                    }

                    input {
                        display: none !important;
                    }
                }
            }
        }

        &.checkbox,
        &.radio {
            &.small {
                label {
                    // text-transform: lowercase;
                    font-size: 11px !important;

                    input[type="radio"] {
                        // display: inline-block;
                        min-height: 18px;
                    }
                }
            }

            &.large {
                input[type="radio"],
                input[type="checkbox"] {
                    display: inline;
                    width: 33px;
                }
            }

            label {
                display: inline-flex;
                align-self: center;
                align-items: center;

                &:not(.form-item-label) {
                    cursor: pointer;
                    font-weight: normal;
                    text-transform: uppercase;
                    font-size: 13px;
                    margin-right: 4px;
                }
            }

            input[type="radio"],
            input[type="checkbox"] {
                display: inline;
                width: 18px;
                margin: 0 4px 0 0;
            }

            &.text {
                input {
                    display: none;
                }

                label.clicked-label {
                    text-transform: none;
                    border: 1px solid variables.$color_primary;
                    border-radius: 10px;
                    color: variables.$color_primary;
                    padding: 5px 9px;
                    background-color: variables.$color_light;
                    margin-bottom: 4px;

                    &.checked {
                        background-color: variables.$color_primary;
                        color: variables.$color_light;
                    }
                }
            }
        }
    }
}

.form {
    position: relative;

    label {
        position: relative;

        &:has(.form__multiselect).required > span {
            position: relative;
            width: max-content;

            &::after {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                font-size: 18px;
                color: variables.$color_danger;
            }
        }
    }

    &__row {
        @include mixins.flex-box($a: center, $gap: 5px, $wrap: true);
    }

    &__delimiter {
        font-weight: 500;
    }

    &__control {
        &--disabled {
            opacity: .6;
        }

        &:has(.invalid) ~ .checkbox-chip {
            align-self: flex-start;
            margin-top: 5px;
        }

        &:has(.form__tooltip) {
            position: relative;
        }

        &:has(.form__tooltip) .form__input {
            padding-right: 45px;
        }

        &:not(&--reactive) {
            label {
                &:has(.invalid), &:has(.valid) {
                    .form__unit {
                        right: 35px;
                    }
                }
            }
        }

        &.required .form__label {
            position: relative;
            display: inline-block;
            width: max-content;

            &::after {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                font-size: 18px;
                color: variables.$color_danger;
            }
        }

        label:has(.form__input[required]) .form__label {
            position: relative;
            width: max-content;

            &::after {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                font-size: 18px;
                color: variables.$color_danger;
            }
        }
    }

    &__column {
        @include mixins.flex-box($a: center, $gap: 5px, $d: column);
    }

    &__block {
        margin-bottom: 10px;
        font-weight: 700;
        color: darken($color: variables.$color_success, $amount: 12);
        letter-spacing: 0.4px;

        &:nth-child(n + 2) {
            margin-top: 20px;
        }
    }

    &__input {
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        padding: 0 15px;
        min-height: 40px;
        outline: none;
        width: 100%;

        &--rounded {
            border-radius: 20px;
            background-color: #F3F3F3;
            border: none;

            &:active, &:focus {
                outline: 2px solid rgba(0, 0, 0, .3);
            }
        }

        &:not(:disabled):focus, &:not(:disabled):active {
            border-color: #186a8d!important;
        }

        &--unit {
            padding-right: 40px;
        }

        &--additional {
            width: 30%;
        }

        &--title {
            padding-left: 40px;
        }

        &.filled {
            background-color: #f0f0f0;
        }
    }


    &__unit {
        position: absolute;
        bottom: 8px;
        right: 15px;
        color: #91939b;
    }

    &__caption {
        @include mixins.flex-box($a: center);
        padding: 0 6px 0 8px;
        height: calc(100% - 2px);
        position: absolute;
        bottom: 1px;
        left: 0;
        border-right: 1px solid #d1d5db;
        color: #91939b;
    }

    &__textarea {
        margin-top: 3px;
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        padding: 5px 15px;
        outline: none;
        width: 100%;
        resize: none;

        &:not(:disabled):focus, &:not(:disabled):active {
            border-color: #186a8d!important;
        }
    }

    &__multiselect {
        margin-top: 3px;
    }

    &__label {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 3px;
        width: 100%;

        &--row {
            @include mixins.flex-box($gap: 5px);
        }
    }

    &__subtitle {
        font-weight: 500;
    }

    &__group {
        height: min-content;

        &:not(&:last-child) {
            margin-bottom: 10px;
        }

        &--list {
            gap: 5px;
        }
    }

    &__close {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: -10px;
        bottom: 30px;
    }

    &__stars {
        @include mixins.flex-box($gap: 5px, $a: center);
        width: max-content;
    }

    &__star {
        background-color: unset;
        border: none;
        font-size: 30px;
        cursor: pointer;

        &:hover {
            opacity: .6;
        }
    }

    &__chips {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__tooltip {
        font-size: 20px;
        color: variables.$color_danger;
        position: absolute;
        right: 25px;
        top: 37px;
        display: flex;
        cursor: pointer;

        &--success {
            color: variables.$color_success;
            cursor: default;
        }
    }

    &__error {
        margin-top: 4px;
        font-size: 14px;
        color: variables.$color_danger;
    }
}

.tooltip-validation {
    &__title {
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($gap: 3px, $d: column);
        list-style: decimal;
        font-size: 14px;
        padding-left: 15px;
    }

    &__message {
        &:last-child::after {
            content: '.';
        }

        &:not(:last-child)::after {
            content: ';';
        }
    }
}

.checkbox {
    cursor: pointer;
    @include mixins.flex-box($d: column, $gap: 5px);

    &__label {
        font-size: 18px !important;
    }

    &__row {
        cursor: pointer;
        @include mixins.flex-box($gap: 5px);

        input {
            width: 20px;
            height: 20px;
            margin: 0!important;
            cursor: pointer;
        }
    }
}

.checkbox-chip {
    height: max-content;

    i {
        margin-left: 5px;
        font-size: 18px;
    }

    input {
        display: none;
    }

    &__label {
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(background-color .5s, border-color .5s, color .5s);
        padding: 5px 15px;
        border: 1px solid #d1d5db;
        border-radius: 15px;
        min-height: 35px;
        min-width: 35px;
        background-color: #fff;

        &:has(input:disabled) {
            opacity: .6;
        }

        &.invalid {
            border: 1px solid #f93154!important;
        }

        &:hover:not(:has(input:disabled)) {
            cursor: pointer;
            background-color: rgba(16, 185, 129, .6);
            border-color: transparent;
            color: #fff;

            &.disabled {
                background-color: rgba(249, 49, 84, .5);
            }
        }

        &.active {
            background-color: #10b981;
            border-color: #10b981;
            color: #fff;
        }

        &.disabled {
            background-color: #f93154;
            color: #fff;
            border-color: #f93154;
        }

        &--danger {
            &:hover {
                background-color: rgba(249, 49, 84, .5);
                color: #fff;
            }

            &.active {
                background-color: #f93154;
                color: #fff;
                border-color: #f93154;
            }
        }

        &--icon {
            height: 40px;
            width: 40px;
            border-radius: 4px;
            margin-bottom: 3px;
            font-size: 20px;

            i {
                margin-left: 0;
            }
        }
    }
}

.form-company-deal {
    .form__textarea {
        height: 100px;
    }

    &__offer {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__thumb {
        height: 40px;
        width: 40px;
    }
}

.form-complex-floor {
    .modal__container {
        width: 1100px;
    }
}

.radio-chip {
    @include mixins.transition(background-color .5s, border-color .5s, color .5s);
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid #d1d5db;
    border-radius: 15px;
    min-height: 35px;
    min-width: 35px;
    background-color: #fff;

    &__input {
        display: none;
    }

    &:hover {
        background-color: rgba(16, 185, 129, .6);
        color: #fff;
    }

    &.active {
        background-color: #10b981;
        border-color: #10b981;
        color: #fff;
    }

    &:has(.invalid) {
        border-bottom: 2px solid variables.$color_danger !important;
    }

    &:has(input:disabled) {
        opacity: .6;
        pointer-events: none;
    }
}

.radio-icon {
    @include mixins.flex-box($a: center, $j: center, $d: column, $gap: 5px);
    font-size: 14px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    opacity: .4;
    cursor: pointer;
    padding: 5px;

    @include mixins.transition(opacity, color);

    &__input {
        display: none;
    }

    &:hover {
        opacity: 1;
        color: #fff;
    }

    &.active {
        opacity: 1;
        color: #fff;
    }

    &__icon  {
        font-size: 30px;
    }

    &__label {
        text-align: center;
        font-weight: 500;
    }
}

.multiselect {
    max-height: unset !important;
    box-shadow: none !important;

    &.is-disabled {
        background: #fff;
    }

    &-caret {
        padding: 9px 15px;
        margin-right: 0 !important;
    }

    &-dropdown {
        max-height: 300px !important;
    }

    &-options {
        max-height: 300px !important;
    }

    &-option {
        margin: 2.5px 0;

        &.is-selected {
            background-color: #0075ff !important;
        }

    }

    &-search {
        border: none !important;
        min-height: 25px !important;
        max-height: unset !important;

        &:focus {
            border: 1px solid variables.$color_grey !important;
        }
    }

    &-tag {
        padding: 5px 10px!important;
        margin: 0!important;
        overflow: hidden;
        max-width: 100%;
        line-break: anywhere;
        white-space: break-spaces !important;

        &-remove {
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 5px!important;

            &-icon {
                height: 1.15rem!important;
            }
        }
    }

    &-tags {
        margin: 0!important;
        gap: 5px;

        input {
            background-color: lighten(variables.$color_grey, 40);
            border-radius: 5px;
            // color: black;

            margin: 0;
            padding: 5px 10px;
            border: none;
            height: 28px;
            max-height: unset !important;
            max-width: 100% !important;
            word-wrap: break-word;
            min-height: 25px !important;
            line-height: normal;

            &:focus {
                outline: none !important;
            }
        }
    }

    &-single-label {
        width: calc(100% - 60px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.is-active &-single-label {
        opacity: .7;

        &.custom {
            opacity: .2;
        }
    }

    &.filled {
        background-color: #f0f0f0;

        .multiselect-search {
            background-color: #f0f0f0;
        }
    }

    &-placeholder {
        text-wrap-mode: nowrap;
    }
}

.double-input {
    @include mixins.flex-box($gap: 6px, $a: center, $wrap: true);

    label {
        flex-basis: calc(50% - 3px);
        min-width: 150px;
        flex-grow: 1;
    }

    &:has(.form__separator) label {
        flex-basis: calc(50% - 12px);
    }

    label:has(.form__input.invalid:not(:focus)) .form__caption {
        bottom: 2px;
    }

    .form__tooltip {
        top: 10px;
        right: 10px;
    }
}

.propogation-input {
    .form__control:not(:last-of-type) {
        margin-bottom: 5px;
    }

    .form__input {
        padding: 0 15px;
    }
}

.form__textarea {
    min-height: 100px;
}

.checkbox-icons {
    //&__body {
    //    @include mixins.flex-box($gap: 5px, $d: column);
    //}

    &__extra-label {
        padding: 5px;
        color: variables.$color_dark;
        outline: 1px dashed variables.$color_dark;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .5s ease, color .5s ease, outline-color .5s ease;

        p {
            font-size: 12px;
            text-align: center;
        }

        &:hover {
            background-color: rgba(16, 185, 129, 0.7);
        }

        &.active {
            background-color: rgba(16, 185, 129, 1);
            color: #fff;
            outline-color: transparent;
        }
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        max-width: 100%;
    }

    &__label {
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(background-color .5s, color .5s);
        height: 45px;
        width: 45px;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgba(211, 211, 211, 0.7);

        &:hover {
            background-color: rgba(16, 185, 129, 0.7);
        }

        &.active {
            background-color: rgba(16, 185, 129, 1);
            color: variables.$color_light;
        }
    }

    &__input {
        display: none;
    }

    &__icon {
        font-size: 24px;
        display: block;
    }

    &__title {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 3px;
    }
}

.radio-group {
    &__label {
        font-weight: 500;
        position: relative;
        display: inline-block;
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $wrap: true);

        &:not(:first-child) {
            margin-top: 0.25rem;
        }
    }

    &.required &__label::after {
        content: '*';
        position: absolute;
        right: -10px;
        top: -5px;
        color: variables.$color_danger;
        font-size: 18px;
    }
}

.modal-form-delete {
    .modal__body {
        padding: 0;

        .container-fluid {
            padding: 0;
        }
    }
}

.form-delete {
    &__body {
        @include mixins.flex-box($a: center, $gap: 20px);
        padding: 30px 50px;
    }

    &__icon {
        font-size: 60px;
        color: variables.$color_danger;
    }

    &__text {
        font-weight: 500;
    }

    &__actions {
        display: flex;
    }

    &__action {
        padding: 15px 0!important;
        flex: 0 0 50%;
        border-radius: 0!important;
    }
}

.file-input {
    &__label {
        font-weight: 500;
        position: relative;
        display: inline-block;
        margin-bottom: 5px;

        &:empty {
            display: block;
        }
    }

    &__field {
        @include mixins.flex-box($a: center, $d: column);
        margin: 0 auto  ;
        padding: 20px;
        border: 1px dashed #b8becb;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color .4s ease;
        max-width: 100%;

        &:hover {
            background-color: rgba(16, 185, 129, 0.3);
        }

        &--dragenter {
            background-color: rgba(16, 185, 129, 0.3);
        }
    }

    &__icon {
        margin-bottom: 10px;
        font-size: 40px;
        color: rgba(16, 185, 129, 1);
    }

    &__title {
        font-weight: 500;
    }

    &:has(input:focus) &__field {
        background-color: rgba(16, 185, 129, 0.3);
    }

    input {
        width: 0;
        height: 0;
    }

    &__list {
        margin-top: 10px;
    }
}

.file {
    &__body {
        @include mixins.flex-box($d: column);
        aspect-ratio: 1 / 1;
        background-color: rgba(211, 211, 211, 0.7);
        border-radius: 4px;
        position: relative;
        transition: background-color .5s ease;
        width: initial!important;

        &:hover {
            background-color: rgba(16, 185, 129, 0.3);

            .file__actions {
                visibility: visible;
                opacity: 1;
            }
        }

        &--loading {
            background-color: #d7d3d3;
            @include mixins.flex-box($a: center, $j: center);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__icon {
        font-size: 50px;
        flex-grow: 1;
        @include mixins.flex-box($a: center, $j: center);
    }

    &__description {
        margin-top: 3px;
        text-align: center;
        font-size: 14px;
    }

    &__actions {
        @include mixins.flex-box($a: center, $gap: 5px);
        @include mixins.transition(visibility .5s, opacity .5s);
        position: absolute;
        top: 5px;
        right: 5px;
        visibility: hidden;
        opacity: 0;
    }

    &__action {
        @include mixins.flex-box($a: center, $j: center);
        cursor: pointer;
        border-radius: 50%;
        border: none;
        height: 25px;
        width: 25px;
    }

    &__description {
        @include mixins.flex-box($j: flex-start, $gap: 5px, $d: column);
        text-align: start;
    }

    &__description-list {
        @include mixins.flex-box($gap: 5px, $d: column);
    }

    &__subtitle {
        font-weight: 500;
    }

    &__option {
        @include mixins.flex-box($gap: 5px);

        span:nth-child(2) {
            word-break: break-word;
        }
    }

    &__name {
        width: 100%;
        padding: 0 5px;
        text-align: center;
        color: #000;
        @include mixins.text-overflow();
    }

    &--new .file__body {
        margin: 3px;
        outline: 3px solid #10b981;
    }
}

.switch {
    @include mixins.flex-box($gap: 10px, $a: center);

    &__wrapper {
        height: 24px;
        width: 50px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, .1);
        position: relative;
        transition: background-color .2s ease-in-out;
        background-color: #dcdfe6;
        display: block;
        flex-shrink: 0;

        &:not(.disabled) {
            cursor: pointer;
        }

        &.disabled {
            opacity: .6;
        }
    }

    &__input {
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__circle {
        left: 2px;
        top: 2px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        transition: 0.1s ease-in-out;
    }

    &__label {
        padding: 0;
        display: inline;
        background-color: unset;
        border: unset;
        width: unset;
        cursor: pointer;

        @include mixins.transition(color);
        @include mixins.hover {
            color: variables.$bg_success;
        }
    }

    &:not(&:has(&__input:checked)) {
        .switch__label--false {
            color: variables.$bg_success;
            font-weight: 500;
        }
    }

    &:has(&__input:checked) {
        .switch {
            &__wrapper {
                background-color: variables.$bg_success;
            }

            &__circle {
                transform: translateX(26px);
            }

            &__label--true {
                color: variables.$bg_success;
                font-weight: 500;
            }
        }
    }
}

.color-picker {
    @include mixins.flex-box($a: center, $gap: 10px, $wrap: wrap);

    &__label {
        font-weight: 500;
    }

    &__element {
        border: 2px solid rgba(0, 0, 0, .2);
        aspect-ratio: 1 / 1;
        @include mixins.transition(opacity);
        @include mixins.hover {
            cursor: pointer;
            opacity: .7;
        }

        &--circle {
            border-radius: 50%;
        }
    }
}

.color-picker-popup {
    z-index: 4005!important;
}

.vue-editor {
    &__label {
        font-weight: 500;
    }

    .ql-editor {
        font-size: 16px;
        min-height: 200px;
        max-height: 400px;
    }
}


.object-type-picker {
    &__wrapper {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__extra {
        padding: 5px;
        color: variables.$color_dark;
        outline: 1px dashed variables.$color_dark;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        font-size: 13px;
        text-align: center;
        background-color: transparent;
        @include mixins.transition(background-color, color, outline-color);

        @include mixins.hover {
            background-color: rgba(16, 185, 129, 0.7);
        }

        &.active {
            background-color: rgba(16, 185, 129, 1);
            color: #fff;
            outline-color: transparent;
        }
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $wrap: true);
        max-width: 100%;
    }

    &__button {
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(background-color .5s, color .5s);
        height: 45px;
        width: 45px;
        border-radius: 4px;
        border: none;
        background-color: rgba(211, 211, 211, 0.7);
        font-size: 22px;

        &:not([disabled]) {
            cursor: pointer;
        }

        @include mixins.hover {
            background-color: rgba(16, 185, 129, 0.7);
        }

        &.active {
            background-color: rgba(16, 185, 129, 1);
            color: variables.$color_light;
        }
    }
}

.floor-picker {
    &__label {
        margin-bottom: 5px;
        font-weight: 500;
    }

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__button {
        @include mixins.transition(background-color, border-color, color);
        cursor: pointer;
        padding: 5px 15px;
        border: 1px solid #d1d5db;
        border-radius: 5px;
        min-height: 35px;
        min-width: 35px;
        background-color: #fff;

        @include mixins.hover {
            background-color: rgba(16, 185, 129, 0.6);
            color: #fff;
        }

        &.active {
            background-color: #10b981;
            border-color: #10b981;
            color: #fff;
        }
    }
}

.building-picker {
    &__header {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }

    &__list {
        @include mixins.flex-box($wrap: true, $gap: 10px);
    }
}

.building-picker-object {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    opacity: .6;
    @include mixins.transition(opacity);
    @include mixins.flex-box($d: column);
    width: 200px;

    &.selected {
        opacity: 1;
        outline: 3px solid variables.$cl-success;
    }

    &:not(.disabled) {
        cursor: pointer;
    }

    &__id {
        position: absolute;
        top: 5px;
        left: 5px;
        color: #fff;
        font-size: 12px!important;
    }

    &__preview {
        height: 150px;
        width: 100%;
        position: relative;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    &__content {
        padding: 5px;
    }

    &__description {
        font-size: 14px;
        @include mixins.text-overflow(2);
    }
}

.input-relation {
    margin-top: 27px;

    .dashboard-chip {
        padding: 9px 10px;
        @include mixins.transition(background-color);
    }
}

.radio-options, .checkbox-options {
    .form__label.required::after {
        content: '*';
        font-size: 18px;
        color: variables.$color_danger;
        margin-left: 3px;
    }
}

.gate-types-picker {
    &__label {
        padding: 5px;
        background-color: variables.$color_grey_alt;
        border-radius: 5px;

        @include mixins.flex-box($gap: 5px);
    }

    &__select {
        max-width: 350px;
    }

    &__input {
        max-width: 200px;
    }

    &__buttons {
        @include mixins.flex-box($gap: 10px);
    }
}

.file-picker {
    &__header {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }

    &__preview {
        aspect-ratio: 1 / 1;
        opacity: .5;
        @include mixins.transition(opacity);
        border-radius: 5px;

        &.active {
            opacity: 1;
            outline: 3px solid variables.$cl-success;
        }
    }

    &:not(.disabled) &__preview {
        cursor: pointer;
    }

    &__image {
        border-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.switch-slider {
    &.disabled &__wrapper {
        opacity: .5;
    }

    &__wrapper {
        @include mixins.flex-box($gap: 15px, $a: center);
    }

    &__label {
        font-weight: 500;
        display: inline;
        width: 120px;
    }

    &__buttons {
        @include mixins.flex-box($gap: 5px);
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(211, 211, 211, 0.4);
    }

    &__button {
        border: none;
        background-color: #fff;
        width: max-content;
        padding: 5px 10px;
        border-radius: 5px;
        opacity: .8;

        &:not(.disabled) {
            cursor: pointer;
        }

        @include mixins.transition(background-color, color, opacity);
        @include mixins.hover {
            background-color: variables.$cl-success;
            color: #fff;
            opacity: 1;
        }

        &.active {
            background-color: rgba(16, 185, 129, 0.8);
            color: #fff;
            opacity: 1;
        }

        &--unknown {
            &.active {
                color: #000;
                background-color: rgba(16, 185, 129, 0.3);
                opacity: .8;
            }

            @include mixins.hover {
                color: #000;
                background-color: rgba(16, 185, 129, 0.3);
                opacity: .8;
            }
        }
    }
}

.consultant-picker-option {
    @include mixins.flex-box($gap: 5px, $a: center);
}

.consultant-picker-option-chip {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: variables.$bg-gray-l;
    font-size: 14px;

    &__avatar {
        border: 1px solid rgba(0, 0, 0, .5);
    }

    &__close {
        font-size: 18px;
        cursor: pointer;
        @include mixins.transition(color);

        &:hover {
            color: variables.$cl-danger;
        }
    }
}

.consultant-picker-option-label {
    &__username {
        font-weight: 500;
    }

    &__parameter {
        color: #9f9999;
    }

    &__role {
        color: #9f9999;
        font-size: 12px;
    }
}

.form-company-logo {
    &__deleted-logo {
        opacity: .3;
    }

    &__picker {
    }

    &__picked {
        width: 300px;
        height: 300px;
    }

    &__preview {
        @include mixins.flex-box($gap: 5px);
    }

    &__company {
        font-weight: 500;
        @include mixins.text-overflow(1);
    }

    &__categories {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__category {
        font-size: 12px;
        padding: 3px 6px!important;
    }

    &__address {
        font-size: 14px;
    }

    &__button {
        width: calc(200px - .25rem)!important;
    }

    &__control {
        width: 100%!important;
    }
}

.image-cropper {
    &__container {
        @include mixins.flex-box($gap: 10px, $a: flex-start);
        overflow: hidden;
    }

    &__controls {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__footer {
        margin-top: 10px;
    }
}

.company-picker-option {
    @include mixins.flex-box($gap: 5px);
    width: 100%;

    &__label {
        margin-top: 3px;
    }

    &__id {
        opacity: .7;
        font-size: 13px;
    }
}