@use '../../utils/variables';

.invalid:not(:disabled):not(.is-disabled) {
    border-bottom: 2px solid variables.$color_danger !important;

    &:focus {
        border: 1px solid variables.$color_danger !important;
    }
}

.valid:not(:disabled):not(.is-disabled) {
    border: 1px solid rgba(175, 175, 175, 0.733) !important;
    border-bottom: 2px solid variables.$color_success !important;
    outline: unset !important;
}

.form {
    position: relative;

    label {
        position: relative;

        &:has(.form__multiselect).required > span {
            position: relative;

            &::after {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                font-size: 18px;
                color: variables.$color_danger;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    &__delimiter {
        font-weight: 500;
    }

    &__control {
        &--disabled {
            opacity: .6;
        }

        &:has(.invalid) ~ .checkbox-chip {
            align-self: flex-start;
            margin-top: 5px;
        }

        &:has(.form__tooltip) .form__input {
            padding-right: 35px;
        }

        &:not(&--reactive) {
            label {
                &:has(.invalid), &:has(.valid) {
                    .form__unit {
                        right: 35px;
                    }
                }
            }
        }

        &.required .form__label {
            position: relative;
            display: inline-block;
            width: max-content;

            &::after {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                font-size: 18px;
                color: variables.$color_danger;
            }
        }

        label:has(.form__input[required]) .form__label {
            position: relative;
            width: max-content;

            &::after {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                font-size: 18px;
                color: variables.$color_danger;
            }
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    &__block {
        margin-bottom: 10px;
        font-weight: 700;
        color: darken($color: variables.$color_success, $amount: 12);
        letter-spacing: 0.4px;

        &:nth-child(n + 2) {
            margin-top: 20px;
        }
    }

    &__input {
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        padding: 0 15px;
        min-height: 40px;
        outline: none;
        width: 100%;

        &:not(:disabled):focus, &:not(:disabled):active {
            border-color: #186a8d;
        }

        &--unit {
            padding-right: 40px;
        }

        &--additional {
            width: 30%;
        }

        &--title {
            padding-left: 40px;
        }
    }


    &__unit {
        position: absolute;
        bottom: 8px;
        right: 15px;
        color: #91939b;
    }

    &__caption {
        padding: 0 6px 0 8px;
        height: calc(100% - 2px);
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 1px;
        left: 0;
        border-right: 1px solid #d1d5db;
        color: #91939b;
    }

    &__textarea {
        margin-top: 3px;
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        padding: 5px 15px;
        outline: none;
        width: 100%;
        resize: none;

        &:focus, &:active {
            border-color: #186a8d;
        }
    }

    &__multiselect {
        margin-top: 3px;
    }

    &__label {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 3px;
        width: 100%;

        &--row {
            display: flex;
            gap: 5px;
        }
    }

    &__subtitle {
        font-weight: 500;
    }

    &__group {
        height: min-content;
        margin-bottom: 10px;

        &--list {
            gap: 5px;
        }
    }

    &__close {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: -10px;
        bottom: 30px;
    }

    &__stars {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__star {
        cursor: pointer;
        font-size: 30px;
    }

    &__chips {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__tooltip {
        font-size: 20px;
        color: variables.$color_danger;
        position: absolute;
        right: 25px;
        top: 37px;
        display: flex;
        cursor: pointer;

        &--success {
            color: variables.$color_success;
            cursor: default;
        }
    }

    &__error {
        margin-top: 4px;
        font-size: 14px;
        color: variables.$color_danger;
    }
}

.tooltip-validation {
    &__title {
        font-weight: 500;
    }

    &__list {
        list-style: decimal;
        display: flex;
        flex-direction: column;
        gap: 3px;
        font-size: 14px;
        padding-left: 15px;
    }

    &__message {
        &:last-child::after {
            content: '.';
        }

        &:not(:last-child)::after {
            content: ';';
        }
    }
}

.checkbox {
    &__label {
        font-size: 18px !important;
    }
}

.checkbox-chip {
    height: max-content;

    i {
        margin-left: 5px;
    }

    input {
        display: none;
    }

    &__label {
        padding: 5px 15px;
        border: 1px solid #d1d5db;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
        min-height: 35px;
        min-width: 35px;
        background-color: #fff;

        &:has(input:disabled) {
            opacity: .6;
        }

        &.invalid {
            border: 1px solid #f93154!important;
        }

        &:hover:not(:has(input:disabled)) {
            cursor: pointer;
            background-color: rgba(16, 185, 129, .6);
            border-color: transparent;
            color: #fff;

            &.disabled {
                background-color: rgba(249, 49, 84, .5);
            }
        }

        &.active {
            background-color: #10b981;
            border-color: #10b981;
            color: #fff;
        }

        &.disabled {
            background-color: #f93154;
            color: #fff;
            border-color: #f93154;
        }

        &--danger {
            &:hover {
                background-color: rgba(249, 49, 84, .5);
                color: #fff;
            }

            &.active {
                background-color: #f93154;
                color: #fff;
                border-color: #f93154;
            }
        }

        &--icon {
            height: 40px;
            width: 40px;
            border-radius: 4px;
            margin-bottom: 3px;
            font-size: 20px;

            i {
                margin-left: 0;
            }
        }
    }
}

.form-company-deal {
    .form__textarea {
        height: 100px;
    }
}

.form-complex-floor {
    .modal__container {
        width: 1100px;
    }
}

.radio-chip {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid #d1d5db;
    border-radius: 15px;
    transition: all .5s ease;
    min-height: 35px;
    min-width: 35px;
    background-color: #fff;

    &__input {
        display: none;
    }

    &:hover {
        background-color: rgba(16, 185, 129, .6);
        color: #fff;
    }

    &.active {
        background-color: #10b981;
        border-color: #10b981;
        color: #fff;
    }

    &:has(.invalid) {
        border-bottom: 2px solid variables.$color_danger !important;
    }
}

.multiselect {
    max-height: unset !important;
    box-shadow: none !important;

    &.is-disabled {
        background: #fff;
    }

    &-caret {
        padding: 9px 15px;
        margin-right: 0 !important;
    }

    &-dropdown {
        max-height: 300px !important;
    }

    &-options {
        max-height: 300px !important;
    }

    &-option {
        &.is-selected {
            background-color: #0075ff !important;
        }

        margin: 2.5px 0 2.5px 0;
    }

    &-search {
        border: none !important;
        min-height: 25px !important;
        max-height: unset !important;

        &:focus {
            border: 1px solid variables.$color_grey !important;
        }
    }

    &-tag {
        overflow: hidden;
        max-width: 100%;
        line-break: anywhere;
        white-space: break-spaces !important;

        &-remove {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    &-tags {
        max-width: 80% !important;
        padding-left: 0 !important;
        margin: .25rem auto .25rem .25rem;

        input {
            background-color: lighten(variables.$color_grey, 40);
            border-radius: 5px;
            // color: black;

            margin: 0;
            padding: 0;
            border: none;
            height: 25px;
            max-height: unset !important;
            max-width: 100% !important;
            word-wrap: break-word;
            min-height: 25px !important;

            &:focus {
                outline: none !important;
            }
        }
    }

    &-single-label {
        width: calc(100% - 60px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.double-input {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;

    label {
        flex-basis: calc(50% - 3px);
        min-width: 150px;
    }

    &:has(.form__separator) label {
        flex-basis: calc(50% - 12px);
    }

    label:has(.form__input.invalid:not(:focus)) .form__caption {
        bottom: 2px;
    }

    .form__tooltip {
        top: 10px;
        right: 10px;
    }
}

.propogation-input {
    .form__control:not(:last-of-type) {
        margin-bottom: 5px;
    }

    .form__input {
        padding: 0 15px;
    }
}

.form__textarea {
    min-height: 100px;
}

.checkbox-icons {
    &__body {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__extra-label {
        padding: 5px;
        color: variables.$color_dark;
        outline: 1px dashed variables.$color_dark;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .5s ease, color .5s ease, outline-color .5s ease;

        p {
            font-size: 12px;
            text-align: center;
        }

        &:hover {
            background-color: rgba(16, 185, 129, 0.7);
        }

        &.active {
            background-color: rgba(16, 185, 129, 1);
            color: #fff;
            outline-color: transparent;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 100%;
    }

    &__label {
        display: flex;
        justify-content: center;
        height: 45px;
        width: 45px;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .5s ease, color .5s ease;
        background-color: rgba(211, 211, 211, 0.7);

        &:hover {
            background-color: rgba(16, 185, 129, 0.7);
        }

        &.active {
            background-color: rgba(16, 185, 129, 1);
            color: variables.$color_light;
        }
    }

    &__input {
        display: none;
    }

    &__icon {
        font-size: 24px;
        display: block;
    }

    &__title {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 3px;
    }
}

.radio-group {
    &__label {
        font-weight: 500;
        position: relative;
        display: inline-block;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &.required &__label::after {
        content: '*';
        position: absolute;
        right: -10px;
        top: -5px;
        color: variables.$color_danger;
        font-size: 18px;
    }
}