@use '../../utils/mixins';

.hover-actions {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -55px;
    margin: 5px 0;
    will-change: opacity, max-height;
    @include mixins.transition(opacity .5s, max-height .5s);

    &.small {
        top: -50px;
    }

    &__content {
        @include mixins.flex-box($gap: 10px);
        width: max-content;
        margin-left: auto;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 5px 1px rgba(13, 31, 47, 0.2);

        &--vertical {
            flex-direction: column;
            padding: 5px 7px;
        }
    }

    &__button {
        @include mixins.flex-box($a: center, $j: center);
        @include mixins.transition(background-color .5s, color .5s);
        height: 35px;
        width: 35px;
        outline: none;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: rgb(211, 211, 211);
        text-align: center;
        flex-shrink: 0;

        &:not([disabled]) {
            cursor: pointer;
        }

        &.active {
            background-color: #10b981;
            color: #fff;
        }

        @include mixins.hover {
            background-color: rgba(15, 102, 116, 0.9);
            color: #fff;
        }

        &.small {
            height: 28px;
            width: 28px;
            font-size: 14px;
        }
    }
}

.hover-actions-trigger {
    position: relative;

    &:hover {
        .hover-actions {
            opacity: 1;
            max-height: 1000px;
            overflow: initial;
            padding-bottom: 10px;
        }
    }
}