.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(247, 247, 247, 0.678);
    z-index: 100;

    &.no-absolute {
        position: relative !important;
        margin: auto;
    }

    &__container {
        position: absolute;
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

    &.small &__container {
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
    }
}

.modal .loader {
    z-index: 5000;
}