@use '../../utils/variables';
@use '../../utils/mixins';
@use 'sass:color';

.pagination-classic {
    @include mixins.flex-box($a: flex-end, $gap: 10px, $wrap: true);

    &.disabled {
        opacity: .5;
    }

    &.disabled &__button {
        cursor: default;
        pointer-events: none;
    }

    &__pages {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__button {
        cursor: pointer;
        border-radius: 2px;
        height: 35px;
        width: 35px;
        background-color: color.adjust(variables.$color_grey, $lightness: 50%);
        color: variables.$color_primary;
        font-size: 14px;
        font-weight: bold;
        border: unset;
        outline: 1px solid rgba(0, 0, 0, .1);
        transition: background-color .2s ease;

        &:not(:disabled):not(.active):hover {
            background-color: variables.$color_grey_light;
        }

        &:disabled {
            cursor: default;
            background-color: #b1b1b7;
            opacity: .7;
        }

        &.active {
            background-color: variables.$color_grey_light;
            cursor: default;
            outline-color: variables.$bg-primary-l;
            color: #000;
        }

        &.loading {
            animation: wave 1s infinite alternate;
        }

        &.skeleton {
            outline: none;
        }
    }

    @keyframes wave {
        from {
            background-color: #b1b1b7;
            color: variables.$color_primary;
        }
        to {
            color: #000;
            background-color: variables.$color_grey_light;
        }
    }

    &__description {
        font-size: 14px;
        margin-top: 5px;
    }
}