@use '../../utils/variables';
@use '../../utils/mixins';

.pagination-classic {
    @include mixins.flex-box($a: flex-end, $gap: 10px, $wrap: true);

    &.disabled {
        opacity: .5;
    }

    &.disabled &__button {
        cursor: default;
        pointer-events: none;
    }

    &__pages {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__button {
        cursor: pointer;
        border-radius: 0;
        height: 35px;
        width: 35px;
        background-color: lighten(variables.$color_grey, 50);
        color: variables.$color_primary;
        font-size: 14px;
        font-weight: bold;
        border: unset;
        outline: 1px solid variables.$color_dark;
        transition: background-color .2s ease;

        &:not(:disabled):not(.active):hover {
            background-color: #86c5e0;
        }

        &:disabled {
            cursor: default;
            background-color: #b1b1b7;
            border: none;
            outline: none;
        }

        &.active {
            background-color: #11698e;
            cursor: default;
            outline: 1px solid #11698e;
            border: 1px solid #11698e;
            color: #f7f7f7;
        }

        &.loading {
            animation: wave 1s infinite alternate;
        }

        &.skeleton {
            outline: none;
        }
    }

    @keyframes wave {
        from {
            background-color: #b1b1b7;
            color: variables.$color_primary;
        }
        to {
            color: #f7f7f7;
            background-color: #11698e;
        }
    }

    &__description {
        font-size: 14px;
        margin-top: 5px;
    }
}