@use '../../utils/variables';
@use '../../utils/mixins';

.PropertyList {
    &-header {
        padding: 2px 10px;
        font-size: 14px;
    }
}

.PropertyListItem {
    @include mixins.flex-box($a: center);
    padding: 2px 10px;
    font-size: 14px;

    &-name {
        width: 55%;
        margin-right: 5%;
        color: variables.$color_grey;
        white-space: nowrap;
        overflow-x: clip;
        text-overflow: ellipsis;
        font-weight: normal;
    }

    &-value {
        width: 40%;
        font-weight: normal;
        color: variables.$color_grey;

        & p {
            font-weight: normal;
            white-space: nowrap;
        }
    }

    &:nth-child(odd) {
        background-color: variables.$color_light_grey;
    }
}
