@use "../../utils/variables";

.progress {
    &-bar {
        height: 4px;
        width: 100%;
        background-color: lighten(variables.$color_grey, 25);
        border-radius: 3px;

        .percent {
            height: 100%;
            border-radius: 3px;
        }
    }

    &-label {
        p {
            font-weight: 400;
            color: variables.$color_grey;
            font-size: 12px;
        }
    }
}