@use '../../utils/variables';

.rating {
    letter-spacing: 3px;
    font-size: 12px;
    color: variables.$color_grey;

    i.fill {
        color: darken($color: variables.$color_danger, $amount: 25);
    }

    &--yellow {
        i.fill {
            color: #f88f01;
        }
    }
}
