@use '../../utils/mixins';
@use '../../utils/variables';

.spinner {
    text-align: center;
    @include mixins.flex-box($d: column, $a: center, $j: center);

    &.center {
        margin: 0 auto;
    }

    &.absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 5000;
    }

    &__clip {
        animation: v-clipDelay 1.2s 0s infinite linear;
        animation-fill-mode: both;
        display: inline-block;
        border-width: 4px;
        border-style: solid;
        border-color: #10b981 #10b981 transparent;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: transparent;
    }

    &.small {
        .spinner__clip {
            height: 50px;
            width: 50px;
        }
    }

    &.mini {
        .spinner__clip {
            height: 25px;
            width: 25px;
        }
    }

    &__label {
        margin-top: 10px;
        background-color: variables.$bg-success-l;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        padding: 5px 10px;
        animation: opacity 1.2s ease-in-out infinite alternate;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes v-clipDelay {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
        opacity: .7;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}