@use '../../utils/variables';
@use '../../utils/mixins';

.table {
    border-collapse: collapse;
    position: relative;

    &--shadow {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    &--fluid {
        width: 100%;
    }

    thead {
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: variables.$color_sidebar_bg;
        color: variables.$color_light;
        text-transform: uppercase;
        height: 60px;

        tr {
            th {
                font-weight: normal;
                font-size: 14px;
                padding: 0 10px;

                &:first-child {
                    border-top-left-radius: 3px;
                }

                &:last-child {
                    border-top-right-radius: 3px;
                }

                &.sortable {
                    .th__content {
                        color: variables.$color_info;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            text-decoration: underline;
                        }

                        .sortable__icon {
                            color: variables.$color_light;
                        }
                    }
                }

                .th__wrapper {
                    &:has(.th__filter) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &.text-left .th__wrapper {
                    &:has(.th__filter) {
                        justify-content: flex-start;
                    }
                }

                .th__filter {
                    margin-left: 2px;
                    cursor: pointer;
                    border-radius: 50%;
                    padding: 8px;
                    height: 26px;
                    width: 26px;
                    font-size: 13px;
                    position: relative;
                    display: inline-block;
                    @include mixins.flex-box($a: center, $j: center);
                    @include mixins.transition(color, background-color);

                    &.active {
                        background-color: rgba(45, 255, 79, 0.2);
                    }

                    &:hover {
                        background-color: rgba(248, 250, 252, 0.2);
                    }
                }

                .th__filter-badge {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    border-radius: 50%;
                    font-size: 12px;
                    background-color: variables.$color_danger;
                    height: 18px;
                    width: 18px;
                    font-weight: 500;
                    @include mixins.flex-box($a: center, $j: center)
                }
            }
        }
    }

    tbody {
        tr {
            height: 60px;
            min-height: 60px;
            border-color: variables.$color_light;

            &:nth-child(odd) {
                background-color: darken(variables.$color_light, 3);
                border-color: darken(variables.$color_light, 3);

                &:nth-child(odd) {
                    td.sortable {
                        &.sort_asc {
                            background-color: lighten(#a02121, 45);
                        }

                        &.sort_desc {
                            background-color: lighten(variables.$color_warning, 35);
                        }
                    }
                }
            }
        }

        td {
            padding: 0 10px;

            &:not(:last-child) {
                border-right: 1px dotted rgba(0, 0, 0, .15);
            }

            &.sortable {
                border-right: 1px solid;
                border-left: 1px solid;
                border-color: lighten(variables.$color_grey, 35);

                &.sort_asc {
                    background-color: lighten(#a02121, 50);
                }

                &.sort_desc {
                    background-color: lighten(variables.$color_warning, 40);
                }
            }
        }
    }
}

.th-dd-content {
    overflow: visible !important;

    &__sort {
        min-width: 400px;
    }

    &__filter {
        min-width: 350px;
    }
}

.table__progress {
    position: absolute;
    right: 10px;
    top: 30px;
    transform: translateY(-50%);

    .ui-button {
        opacity: 1 !important;
    }
}