@use '../../utils/variables';

.table {
    border-collapse: collapse;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    position: relative;

    &--fluid {
        width: 100%;
    }

    thead {
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: variables.$color_sidebar_bg;
        color: variables.$color_light;
        text-transform: uppercase;
        height: 60px;

        tr {
            th {
                font-weight: normal;
                font-size: 14px;
                padding: 0 10px;

                &:first-child {
                    border-top-left-radius: 3px;
                }

                &:last-child {
                    border-top-right-radius: 3px;
                }

                &.sortable {
                    .th__content {
                        color: variables.$color_info;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            text-decoration: underline;
                        }

                        .sortable__icon {
                            position: absolute;
                            top: 4px;
                            right: -20px;
                            color: variables.$color_light;
                        }
                    }
                }
            }
        }
    }

    tbody {
        tr {
            height: 60px;
            min-height: 60px;
            border-color: variables.$color_light;

            &:nth-child(odd) {
                background-color: darken(variables.$color_light, 3);
                border-color: darken(variables.$color_light, 3);

                &:nth-child(odd) {
                    td.sortable {
                        &.sort_asc {
                            background-color: lighten(#a02121, 45);
                        }

                        &.sort_desc {
                            background-color: lighten(variables.$color_warning, 35);
                        }
                    }
                }
            }
        }

        td {
            padding: 0 10px;

            &:not(:last-child) {
                border-right: 1px dotted rgba(0, 0, 0, .15);
            }

            &.sortable {
                border-right: 1px solid;
                border-left: 1px solid;
                border-color: lighten(variables.$color_grey, 35);

                &.sort_asc {
                    background-color: lighten(#a02121, 50);
                }

                &.sort_desc {
                    background-color: lighten(variables.$color_warning, 40);
                }
            }
        }
    }
}