.trade-offer-details-table {
  border-left: 1px solid $color_light_grey;
  border-right: 1px solid $color_light_grey;
  border-bottom: 1px dashed $color_grey;
  border-top: 1px dashed $color_grey;
  &__column {
    width: 140px;
    &_head {
    }
  }
  &__text {
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: $color_grey;
    &_weight_bold {
      font-weight: bold;
      color: black;
    }
  }

  &__section {
    border-top: 1px dashed $color_grey;
    border-right: 1px dashed $color_grey;
    padding: 5px 9px;

    &_label {
      width: 200px;
    }
  }
  &__head {
    text-align: start;
    padding: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    border-right: 1px dashed $color_grey;
    &:last-of-type {
      border-right: none;
    }
    &_color_grey {
      background-color: #e1e1e1;
      color: black;
      min-width: 200px;
    }
    &_color_green {
      background-color: #3ca96f;
    }
    &_color_blue {
      background-color: #3574a5;
    }
    &_color_cyan {
      background-color: #72b6ea;
    }
    &_color_orange {
      background-color: #ccab90;
    }
    &_color_red {
      background-color: #9f3f56;
    }
  }
}
