.trade-offer-status {
  flex-grow: 2;
  &__text {
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    &_label {
      color: $color_success;
    }
    &_color_red {
      color: $color_danger;
      font-weight: 500;
    }
  }
}
