.ObjectHoldings {
  $gap: 2em;
  &-header {
    @include black-header;

    display: flex;
    justify-content: space-between;

    font-size: 14px;
    line-height: 53px;
    font-weight: 900;
    font-family: $fontfamily;

    position: sticky;
    top: 50px;
    z-index: 6;
    margin-bottom: 20px;

    height: 50px;

    color: $color_light;

    &-icons {
      display: flex;
      gap: 15px;
    }
    &-button {
      padding: 0;
      align-items: center;
      display: flex;
      width: 20px;
      justify-content: center;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
}
