.ObjectHoldings {
    $gap: 1em;
    &-header {
        @include black-header;
        font-size: 17px;
        display: flex;
        span {
            width: 50%;
        }
        margin-bottom: 20px;
    }
    &-body {
        padding: $gap;
        background-color: $color_grey_alt;
        position: relative;
    }
    &-carousel {
        margin-bottom: 20px;
        &-label {
            position: absolute;
            z-index: 3;
            top: $gap;
            padding: 10px;
            width: 100px;
            background-color: #982e06;
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
        }
    }
    &-info {
        display: flex;
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
        }
        &-right {
            width: 30%;
        }
    }
}
