.ObjectHoldingsTabs {
    margin-bottom: 20px;
    &-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .tabs-component-panels {
        padding: 10px;
    }
    .tabs-component-tab-a::before {
        background-color: $color_success;
    }
    .tabs-component-tab-a.is-active {
        color: $color_success;
    }
    @media screen and (max-width: $laptop_size) {
        .ObjectAbout {
            &-info {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: $tablet_size) {
        .ObjectAbout {
            &-info {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: $phone_size) {
        .ObjectAbout {
            &-info {
                grid-template-columns: 1fr;
            }
        }
    }
}
