.DealFloorHead {
  &-text {
    font-size: 14px;
    line-height: 14px;
    &_label {
      color: white;
      font-weight: 700;
    }

    &_area {
      color: white;
      line-height: 16px;
      font-weight: 100;
    }
  }

  &-button {
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }

  }

  &-checkbox {
    border-radius: 50%;
    position: relative;
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    &-label {
      width: 13px;
      height: 13px;
      background-color: inherit;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid black;
      box-sizing: border-box;

      input[type="checkbox"]:checked + & {
        background-color: $checkbox_active;
      }
    }
  }

  & p {
    white-space: nowrap;
  }

  border: 1px solid black;

  &-top {
    background-color: $color_dark_grey;
    padding: 5px 15px;
    text-align: center;
    width: 100px;
  }

  &-bottom .edit {
    padding: 7px 6px;
  }

  .form.edit {
    & .form-container {
      width: auto;
    }
    & > .form-container > form {
      display: flex;
      justify-content: flex-end;
      gap: 7px;
      align-items: center;
    }
  }
}
