@use "../../utils/variables";
@use "../../utils/mixins";

.trade-offer-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgba(13, 31, 47, .25);
    margin-bottom: 70px;
    position: relative;

    &__content {
        @include mixins.flex-box($gap: 15px, $d: column);
        padding: 10px;
    }

    &__label {
        @include mixins.flex-box($gap: 5px);
        padding: 5px;
        background-color: rgba(0, 122, 49, 0.85);
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;

        &--archived {
            background-color: rgba(203, 17, 50, 0.85);
        }
    }

    &__footer {
        @include mixins.flex-box($a: flex-end, $j: flex-end);
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    &__tabs {
        width: 100%;
        margin-top: 25px;
    }

    &__status {
        text-align: end
    }

    &__tables {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, .2)
    }

    &__header {
        @include mixins.flex-box($j: space-between, $gap: 5px);
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    &__date {
        font-size: 14px;
        color: variables.$color_grey;
        margin-left: auto;
    }

    &__actions {
        height: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: -60px;
        padding: 5px 0;
        transition: opacity .5s ease;

        &:hover {
            opacity: 1;
            height: max-content;
        }
    }

    &:hover {
        .trade-offer-item__actions {
            opacity: 1;
            height: max-content;
        }
    }
}