.trade-offer-summary {
  &__content {
    display: flex;
    gap: 35px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    &:first-of-type {
      max-width: 400px;
      min-width: 340px;
    }
  }
  &__table {
  }
  &__item {
  }

  &__title {
    padding: 2px 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__image {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin-bottom: 10px;
  }
}
