.deal-owner {
  margin-top: 40px;
  background-color: $color_olive_light;
  padding: 20px 20px 30px;
  &__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    max-width: 35ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &_weigth_bold {
      font-weight: 600;
    }
    &_color_grey {
      color: $color_grey;
    }

    &_link {
      text-decoration: underline;
      color: $color_default_link;
      display: inline;
    }
  }
  &__rating {
    margin: 5px 0;
  }
  &__links {
    margin-bottom: 30px;
  }
}
.deal_owner {
  &__phone-numbers {
  }
}
