.object-parameters {
  display: flex;
  column-gap: 45px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 13px 0px;
  &__item {
    align-items: center;
    display: flex;
    gap: 8px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;

    &_list {
      display: flex;
      gap: 4px;
    }

    & i {
      color: $color_light_grey;
    }
  }
}
