@use '../utils/variables';
@use '../utils/mixins';

.company-item-request {
    $request_thin_border: 0.3px solid black;

    border: $request_thin_border;
    width: 100%;
    position: relative;
    background-color: lighten(variables.$color_light, 3);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "name type"
    "location timeline"
    "footer footer";

    & > div {
        padding: 10px;
    }

    &.done {
        .company-item-request__header {
            background-color: variables.$color_success_dark;
        }
    }

    &.active {
        .company-item-request__header {
            background-color: variables.$color_warning_dark;
        }
    }

    &__header {
        font-weight: 500;

        &:nth-child(1) {
            grid-area: name;
            border-bottom: $request_thin_border;
            border-right: $request_thin_border;
        }

        &:nth-child(2) {
            grid-area: type;
            border-bottom: $request_thin_border;

            &:hover .company-item-request__actions {
                display: flex;
            }
        }
    }

    &__location {
        grid-area: location;
        border-bottom: $request_thin_border;
        border-right: $request_thin_border;
    }

    &__timeline {
        grid-area: timeline;
        border-bottom: $request_thin_border;

        p {
            span {
                white-space: nowrap;
            }
        }

        button {
            width: 100%;
        }
    }

    &__footer {
        grid-area: footer;
    }

    &__actions {
        display: none;
        gap: 3px;
        position: absolute;
        top: -7px;
        right: 2px;

        &:hover {
            display: flex;
        }

        .fas {
            border-radius: 100%;
            border: black 0.5px solid;
            font-size: 8px;
            padding: 4px;
            width: 15px;
            height: 15px;
            @include mixins.flex-box($a: center, $j: center);
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }

            &.fa-pen {
                background-color: variables.$color_info;
            }

            &.fa-clone {
                background-color: variables.$color_success_dark;
            }

            &.fa-times {
                background-color: variables.$color_danger;
            }

            &.fa-undo {
                background-color: variables.$color_warning;
            }
        }
    }

    .deal-item {
        border: none;
        padding: 0;
    }

    &__parameters {
        @include mixins.flex-box($gap: 5px, $d: column);
    }
}

.company-item-request-parameter {
    &__name {
        font-weight: 600;
    }

    &__unit-type {
        color: variables.$color_grey;
        font-weight: normal!important;
        font-size: 14px;
        margin-left: 3px;
    }
}

.company-item-requests {
    @include mixins.flex-box($a: center, $j: center, $gap: 10px, $d: column);
}

.company-request-item-alt {
    border-radius: 10px;
    background-color: variables.$color_grey_alt;
}

.company-page {
    &__chip {
        font-size: 16px!important;
    }

    &__row {
        @include mixins.flex-box($gap: 10px);
        @include mixins.media('max', 'lg') {
            flex-direction: column;
        }
    }

    &__column {
        @include mixins.media('min', 'lg') {
            flex-basis: 33%;
        }
    }
}

.company {
    &-request-list {
        .action-modal {
            .modal-container {
                max-width: 450px;

                .modal-body {
                    padding-left: 35px !important;
                    padding-right: 35px !important;
                }
            }
        }

        .item {
            hr {
                border-radius: 0 !important;
            }

            font-size: 14px;

            .general-info {
                border: 2px solid lighten(variables.$color_grey, 35);
            }

            .deal-info {
                .deal-item {
                    border: none;
                    padding: 0;
                }

                border: 2px solid variables.$color_dark;
                border-top: none;
            }

            p {
                font-weight: normal;
            }

            &:hover {
                i {
                    opacity: 1 !important;
                }
            }

            i.scale {
                &:hover {
                    transform: scale(1.1);
                }

                transition: all 0.07s ease-in-out;
            }

            .header {
                position: relative;

                i.edit,
                i.delete,
                i.clone {
                    position: absolute;
                    opacity: 0;
                    padding: 5px;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.3);
                    }

                    transition: all 0.07s ease-in-out;
                }

                i.edit {
                    top: 5px;
                    right: 5px;
                }

                i.delete {
                    top: 5px;
                    left: 5px;
                }

                i.clone {
                    top: 5px;
                    right: 30px;
                }

                .actions {
                    i {
                        padding: 5px;
                        cursor: pointer;
                        font-size: 13px;
                    }
                }

                .index {
                    small {
                        border-radius: 2px;
                    }
                }

                p {
                    text-transform: capitalize;
                    display: inline-block;
                }

                p.normal {
                    text-transform: none !important;
                }

                span {
                    display: inline-block;
                    margin-left: 5px;
                }

                color: variables.$color_secondary;
            }

            .body {

                .phone-list,
                .email-list {
                    a {
                        text-decoration: none;
                        color: variables.$color_dark;

                        &:hover {
                            color: variables.$color_primary;
                        }
                    }
                }

                .main-info {
                    .location {
                        .region {
                            display: inline;
                            text-transform: capitalize;
                        }

                        .region-parameters {
                            p {
                                display: inline-block;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .open-extra-info {
                    font-size: 20px;
                    cursor: pointer;
                    color: variables.$color_primary;
                }

                .extra-info {
                    user-select: none;

                    .parameters {
                        p {
                            padding: 0 3px 0 3px;
                            font-weight: bold;
                        }

                        &-inner {
                            font-style: italic;
                            color: variables.$color_grey;
                            font-weight: normal !important;

                            p {
                                display: inline-block;
                                font-weight: normal !important;
                            }
                        }

                        .single {
                            font-size: 12px;
                            text-transform: uppercase;
                            color: variables.$color_success_alt;
                        }
                    }
                }
            }

            .footer {
                p {
                    font-size: 13px;
                }

                .consultant {
                    display: inline-block;
                    color: variables.$color_grey;
                }

                .date {
                    display: inline-block;
                    color: variables.$color_grey;
                }
            }

            &.active {
                .general-info {
                    border-color: variables.$color_success;

                    .header {
                        color: variables.$color_success;
                    }
                }
            }

            &.done {
                .general-info {
                    border-color: variables.$color_success_alt;

                    .header {
                        color: variables.$color_success_alt;
                    }
                }
            }

            transition: all 0.1s ease-in-out;

            &.selected {
                transform: scale(1.25);
                padding-bottom: 70px;
                padding-top: 70px;

                .general-info {
                    background-color: variables.$color_light;
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.35);

                    .header {
                        color: variables.$color_success_alt;
                    }
                }

                .deal-info {
                    background-color: variables.$color_light;
                    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.35);
                }
            }
        }
    }

    .no-data-container img {
        box-shadow: none;
    }

    .edit_btn {
        font-size: 10px;
        color: variables.$color_info;
        cursor: pointer;
    }
}



.CompanyBoxObjectsListItem {
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px variables.$color_light_grey solid;
    background-color: lighten(variables.$color_light, 3);
    position: relative;

    &-wrapper {
        display: flex;
    }

    &-image {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-container {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                width: 100%;

                img {
                    height: 100px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    &-info {
        font-size: 13px;
        padding: 5px;
        width: 68%;
        margin-left: 2%;

        &-title {
            font-weight: bolder;
            font-size: 16px;
        }

        &-address {
        }

        &-direction {
        }

        &-mkad {
        }
    }

    &-dropdown {
        hr {
            margin: 4px 0;
        }

        &-switchers {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;
        }

        &-offers {
            max-height: 0;
            padding: 0;
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &.open {
                max-height: 9999px;
                transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
                transition-delay: 0s;
            }
        }
    }
}

.CompanyBoxObjectsOffer {
    border: 1px solid variables.$color_success;
    font-size: 14px;
    padding: 5px;

    &.passive {
        filter: grayscale(1);
    }

    &-wrapper {
        text-decoration: none;
        color: #2d2f34;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    &-visual_id {
        float: left;
        font-weight: bold;
        color: variables.$color_success_alt;
    }

    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

.CompanyBoxObjectsRenter {
    position: relative;
    padding: 5px;
    border: 1px solid variables.$color_grey;
    display: flex;
    gap: 5px;

    &:first-child {
        margin-top: 20px;
    }

    &:last-child {
        margin-bottom: 20px;
    }

    &-success {
        background-color: variables.$color_success_dark;
    }

    &-danger {
        background-color: lighten(variables.$color_danger_dark, 6);
    }

    &-logo {
        $renter_logo_size: 60px;
        min-height: $renter_logo_size;
        max-height: $renter_logo_size;
        min-width: $renter_logo_size;
        max-width: $renter_logo_size;
        border-radius: 100%;
        background-color: variables.$color_light;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &-info {
        padding: 5px;
        font-size: 12px;
        width: 100%;

        &-name {
            font-weight: bold;
        }

        &-list {
            list-style: none;
            display: table;
            width: 90%;

            li {
                display: table-row;

                span {
                    display: table-cell;
                    width: 65%;
                    float: left;

                    &:first-child {
                        font-weight: 300;
                        width: 30%;
                        margin-right: 5%;
                    }
                }
            }
        }
    }

    &-button {
        position: absolute;
        right: 6px;
        bottom: 3px;
    }

    .fa-bolt {
        position: absolute;
        right: 5px;
        color: variables.$color_light;
    }
}

// COMPANY VIEW MEDIA QUERIES

@media screen and (max-width: variables.$phone_size) {
    .CompanyBoxMain {
        &-content {
            flex-direction: column;
        }

        &-contacts {
            // display: flex;
            // flex-direction: column;
        }

        &-left {
            width: 100%;
            margin-bottom: 20px;

            &-list {
                width: 100%;
            }
        }

        &-right {
            width: 100%;
        }

        .CompanyBoxContactList {
            flex-direction: column;
            gap: 5px;

            &Item {
                margin: 0;
            }
        }
    }
}
