@use '../utils/variables';
@use '../utils/mixins';

.ComplexMap {
    margin: 10px 0;
    position: relative;
    min-height: 70px;

    &-description {
        position: absolute;
        top: 0;
        z-index: 2;

        padding: 0 10px;

        width: 90%;
        height: 70px;

        display: flex;
        align-items: center;
        gap: 10px;

        overflow-x: auto;
        scroll-behavior: smooth;

        &.disabled {
            pointer-events: none;
        }

        &-item {
            border: 0.5px solid variables.$color_grey;
            background-color: variables.$color_light_trans;
            border-radius: 5px;
            padding: 10px 10px;
            text-decoration: underline;
            font-weight: bold;
            font-size: 13px;
            white-space: nowrap;

            &[title] {
                display: flex;
                align-items: center;
                gap: 5px;

                div {
                    width: max-content;

                    img {
                        height: 15px;
                        width: auto;
                    }
                }
            }
        }

        &-actions {
            z-index: 2;

            height: 70px;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            &-item {
                background: inherit;
                border: none;

                i {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
        }
    }

    &-control {
        position: absolute;
        right: 10px;
        top: 0;
        height: 70px;
        z-index: 3;
        display: flex;
        align-items: center;
    }

    &-button {
        font-size: 20px;
        z-index: 3;
        background-color: variables.$color_grey_alt;
        border: 1px solid variables.$color_grey;
        width: 33px;
        height: 33px;
        text-align: center;
        border-radius: 5px;
        color: variables.$color_grey;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        & i.active {
            color: black;
        }
    }
}

.ComplexAbout {
    margin-bottom: 20px;

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    &-property {
        color: black;
        display: flex;
        gap: 5px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        & span {
            color: variables.$color_grey;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }

    .tabs-component-panels {
        padding: 10px 0;
    }

    .tabs-component-tab-a::before {
        background-color: variables.$color_success;
    }

    .tabs-component-tab-a.is-active {
        color: variables.$color_success;
    }

    @media screen and (max-width: variables.$laptop_size) {
        .ComplexAbout {
            &-content {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$tablet_size) {
        .ComplexAbout {
            &-content {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$phone_size) {
        .ObjectAbout {
            &-content {
                grid-template-columns: 1fr;
            }
        }
    }
}

.object-holding-parameters {
    &__subtitle {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__floors {
        padding: 10px 20px;
        background-color: #e1e8ec;
        border: 1px solid variables.$color_light_grey;
    }

    &__floors-list {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    &__floor {
        color: variables.$color_success;
        border: 2px solid variables.$color_success;
        padding: 5px 15px;
        background-color: variables.$color_light;
        position: relative;
        cursor: pointer;
        transition: background-color .5s ease;

        &:hover {
            background-color: rgba(0, 183, 74, .1)
        }

        &.danger {
            border-color: variables.$color_danger;
            color: variables.$color_danger;
        }

        & > i {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-10%, -50%);
            border-radius: 50%;
            background-color: white;
        }

        &--empty {
            border-style: dashed;
            opacity: 0.6;
            transition: color .5s ease,  background-color .5s ease;

            &:hover {
                color: #fff;
                background-color: variables.$color_success;
            }
        }
    }
}

.ObjectHoldingsParameters {
    $color_left: #f8f8f8;
    $color_left-aside: #e1e8ec;
    $icon-size: 1.5em;
    $font-size: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;

    &-wrapper {
        padding: 20px;
        background-color: $color_left;
        border: 1px solid variables.$color_light_grey;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        gap: 20px;
    }

    &-main {
        &-area {
            font-size: 22px;
            line-height: 30px;
            font-weight: bold;
            display: inline;

            & p {
                font-size: 22px;
                font-weight: bold;
                display: inline;
            }
        }

        &-address {
            font-weight: bold;
            font-size: 1em;
        }
    }

    &-types {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

        .object-type-box {
            font-size: 22px;
            display: flex;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid rgba(211, 211, 211, 1);
            margin-right: 1px;
            background-color: rgba(211, 211, 211, 0.5);
            color: #000;
        }
    }

    &-provision {
        & .object-parameters {
            padding: 0;
            column-gap: 35px;

            &__item {
                font-size: 14px;

                & .with-unit-type {
                    font-size: 14px;
                }

                & i {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.object-parameters {
    display: flex;
    column-gap: 45px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 13px 0;

    &__item {
        align-items: center;
        display: flex;
        gap: 8px;
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;

        & .with-unit-type {
            font-size: 13px;
            line-height: 15px;
            font-weight: 700;
        }

        &_list {
            display: flex;
            gap: 4px;
        }

        & i {
            color: variables.$color_light_grey;
            font-size: 18px;
        }
    }
}

.create-floor-block-form {
    & .modal .modal-container {
        min-width: 500px;
    }

    &__text {
        padding-top: 30px;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    &__label {
        //margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: darken($color: variables.$color_success, $amount: 12);
        letter-spacing: 0.4px;
    }

    &__form-group {

        &_long .form-item {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    &__tab-list {
        position: static;
        background-color: inherit;
        display: flex;
        column-gap: 20px;
    }

    &__tab-link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0 0 7px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        color: black;

        &::before {
            background-color: darken($color: variables.$color_success, $amount: 12);
            display: block;
            position: absolute;
            content: "";
            height: 3px;
            width: 0;
            transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
            left: 0;
            bottom: 0;
        }

        &.is-active {
            color: darken($color: variables.$color_success, $amount: 12);
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &::before {
                width: 100%;
            }
        }
    }
}

.ObjectHoldingsOwnerList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

.object-holding-contact {
    display: flex;
    gap: 10px;

    &__avatar {
        background-color: #d0d9e0;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    &__description {
        font-size: 14px;
    }

    &__name {
        font-weight: 500;
    }

    &__message {
        font-size: 12px;
        color: variables.$color_grey
    }

    &__message::before {
        content: ', '
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        font-size: 12px;
        display: flex;

        &:not(&:last-child)::after {
            content: ',';
            margin-right: 3px;
        }
    }
}


.object-holding-company {
    &__title {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: #000;
        width: max-content;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 500;
        margin: 10px 0 5px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__message {
        font-size: 13px;
    }
}

.ComplexHeader {
    display: flex;
    z-index: 6;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0 15px;
    background: #f7faff;

    &-content {
        width: 80%;
    }

    &-name {
        font-size: 26px;
    }

    &-description {
        font-size: 12px;
        color: variables.$color_grey;

        strong {
            color: black;
        }
    }
}

.complex-header {
    &__actions {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
}

.ObjectHoldings {
    $gap: 2em;

    &-header {
        @include mixins.black-header;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        line-height: 53px;
        font-weight: 900;
        font-family: variables.$fontfamily;

        position: sticky;
        top: 50px;
        z-index: 6;
        margin-bottom: 20px;

        height: 50px;

        color: variables.$color_light;

        &-icons {
            display: flex;
            gap: 15px;
        }

        &-button {
            padding: 0;
            align-items: center;
            display: flex;
            width: 20px;
            justify-content: center;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: $gap;
    }
}

.ObjectHoldingsTabs {
    $border: 1px solid #cacaca;
    margin-bottom: 20px;
    position: relative;

    &-buttons {
        position: absolute;
        right: 16px;
        top: 2px;
        z-index: 5;

        & .action-buttons__item button {
            background-color: white;
        }
    }

    &-content {
        &-properties {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        &-property {
            color: black;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

            & span {
                color: variables.$color_grey;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .tabs-component-tabs {
        position: sticky;
        top: 99px;
        z-index: 4;
        background-color: variables.$color_grey_alt;
        padding: 10px;
        border-bottom: $border;
        border-left: $border;
        border-right: $border;
        gap: 0;
    }

    .tabs-component-panels {
        padding: 10px;
    }

    .tabs-component-tab-a {
        padding: 6px 8px;
    }

    .tabs-component-tab-a::before {
        background-color: darken($color: variables.$color_success, $amount: 8);
        height: 2px;
    }

    .tabs-component-tab-a.is-active {
        color: darken($color: variables.$color_success, $amount: 8);
    }

    @media screen and (max-width: variables.$laptop_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$tablet_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$phone_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr;
            }
        }
    }
}

.trade-offer-tabs {
    &__list {
        padding-left: 15px;
        position: static;
        background-color: inherit;
        display: flex;
        column-gap: 20px;
        margin-bottom: 15px;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: black;

        &::before {
            background-color: darken($color: variables.$color_success, $amount: 12);
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
            left: 0;
            bottom: 0;
        }

        &.is-active {
            color: darken($color: variables.$color_success, $amount: 12);
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &::before {
                width: 100%;
            }
        }
    }

    &__tab-body {
        &_opacity {
            opacity: 0.5;
        }
    }
}

.trade-offer-item {
    background-color: #f7f7f7;
    border: 2px solid #ebebeb;
    padding: 10px;
    margin-bottom: 25px;

    &__line {
        display: flex;
        position: relative;
    }

    &__buttons {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__tabs {
        width: 100%;
    }

    &__status {
        text-align: start;
    }

    &__tables {
        display: flex;
    }

    &__table:first-of-type {
        border-right: none;
    }

    &__info {
        width: 100%;
        text-align: end;
        margin-left: 20px;
    }

    &__text {
        font-size: 13px;
        line-height: 22px;
        font-weight: 300;

        &_color_grey {
            color: variables.$color_grey;
        }
    }
}

.trade-offer-table {
    padding: 12px;
    border: 1px solid variables.$color_danger;
    min-width: 310px;

    &__subtitle {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }

    &__list {
        margin-top: 5px;
    }

    &__item {
        display: grid;
        grid-template-columns: 100px 1fr;
        column-gap: 10px;
    }

    &__text {
        // text-align: left;
        padding-top: 3px;
        white-space: nowrap;
        max-width: 29ch;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
        font-weight: 300;

        & span:last-of-type {
            color: variables.$color_grey;
        }

        &_label {
            font-weight: 500;
            color: variables.$color_grey;
        }
    }

    sup {
        vertical-align: top;
        position: relative;
        top: -0.5em;
    }
}

.trade-offer-status {
    flex-grow: 2;

    &__text {
        font-size: 13px;
        line-height: 22px;
        font-weight: 700;

        &_label {
            color: variables.$color_success;
        }

        &_color_red {
            color: variables.$color_danger;
            font-weight: 500;
        }
    }
}

.offers-tabs {
    //   background-color: black;
    &__list {
        position: static;
        background-color: inherit;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0 15px 10px;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 14px;
        color: variables.$color_grey;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-color: inherit;
            height: 3px;
            width: 0;

            transition: border-top-color 0.3s ease-in-out, top 0.3s ease-in-out;
            left: 50%;
            top: 15px;
            border: 5px solid transparent;
            border-top: 5px solid inherit;
            transform: translateX(-50%);
        }

        &.is-active {
            color: variables.$color_danger;
            transition: background-color 0.3s ease-in-out;

            &::before {
                border-top: 5px solid variables.$color_danger;
                top: 25px;
            }
        }
    }

}

.trade-offer-summary {
    &__content {
        display: flex;
        gap: 35px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &:first-of-type {
            max-width: 400px;
            min-width: 340px;
        }
    }

    &__title {
        padding: 2px 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }

    &__image {
        width: 100%;
        max-width: 650px;
        height: auto;
        margin-bottom: 10px;
    }
}

.trade-offer-details-table {
    border-left: 1px solid variables.$color_light_grey;
    border-right: 1px solid variables.$color_light_grey;
    border-bottom: 1px dashed variables.$color_grey;
    border-top: 1px dashed variables.$color_grey;
    display: grid;
    grid-template-columns: 200px 1fr;

    .form-container {
        width: auto;
    }

    &__form {
        & form {
            display: flex;
            justify-content: space-between;
        }
    }

    &__button {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
        border: 1px solid variables.$color_light_grey;
        font-size: 14px;
        color: variables.$color_grey;
        position: absolute;
        right: 9px;
        top: 8px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    &__checkbox .form-item-label {
        display: flex !important;
        align-items: center;
        padding-bottom: 0;

        & p {
            font-size: 14px;
            line-height: 22px;
            font-weight: normal;
            color: variables.$color_grey;
        }

        & div {
            order: -1;
            display: flex;
            align-items: center;

            & input {
                min-height: auto;
                max-height: auto;
                height: 14px;
                margin-bottom: 2px !important;
            }
        }
    }

    &__column {
        width: 140px;

        &_head {
            width: 200px;
        }
    }

    &__content {
        display: flex;
        overflow: auto;
        box-shadow: 12px 0 8px -9px rgba(0, 0, 0, 0.2) inset,
        -12px 0 8px -9px rgba(0, 0, 0, 0.2) inset;
        border-right: 1px solid variables.$color_light_grey;
        // pointer-events: none;
        // position: relative;
        // z-index: 2;
    }

    &__text .with-unit-type {
        white-space: nowrap;
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        position: relative;
        flex-wrap: nowrap;
    }

    &__text {
        white-space: nowrap;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        position: relative;
        flex-wrap: nowrap;
        display: flex;

        &_weight {
            & .with-unit-type {
                margin-right: 5px;
            }
        }

        & span {
            max-width: 10ch;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .with-unit-type {
            max-width: 15ch;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .with-unit-type span {
            font-size: 13px;
            color: variables.$color_grey;
        }

        &_color_grey {
            color: variables.$color_grey;
        }

        &_weight_bold {
            font-weight: bold;
            color: black;
        }

        &_color_red {
            position: absolute;
            right: 0;
            color: variables.$color_danger;
        }
    }

    &__section {
        border-top: 1px dashed variables.$color_grey;
        border-right: 1px dashed variables.$color_grey;
        padding: 10px 9px;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        &_values {
            padding-top: 32px;
        }
    }

    &__head {
        text-align: start;
        padding: 10px;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        border-right: 1px dashed variables.$color_grey;
        color: white;

        &_color_grey {
            background-color: #e1e1e1;
            color: black;
        }

        &_color_green {
            background-color: #3ca96f;
        }

        &_color_blue {
            background-color: #3574a5;
        }

        &_color_cyan {
            background-color: #72b6ea;
        }

        &_color_orange {
            background-color: #ccab90;
        }

        &_color_red {
            background-color: #9f3f56;
        }

        &_color_purple {
            background-color: #9f3f87;
        }
    }
}

.complex {
    &__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.complex-document {
    &--green {
        .complex-document__link {
            border: 2px dashed rgba(16, 185, 129, 0.6);
            background-color: rgba(16, 185, 129, 0.2);

            &:hover {
                background-color: rgba(16, 185, 129, 0.4);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: #000;
        padding: 15px;
        border-radius: 2px;
        width: 140px;
        transition: background-color .5s ease, color .5s ease;
        text-align: center;
        background-color: rgba(211, 211, 211, 0.5);

        &:hover {
            background-color: rgba(203, 203, 203, 0.8);
        }
    }

    &__name {
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &__preview {
        font-size: 45px;
        height: max-content;
    }
}

.accordion-simple {
    &:nth-child(n + 1) {
        margin-top: 5px;
    }

    &__header {
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        padding: 5px 0;
        border-radius: 4px;
        transition: background-color .25s ease;
    }

    &__body {
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s cubic-bezier(0, 1, 0, 1) -0.1s;
        border-bottom: 1px solid transparent;

        &.active {
            max-height: 10000px;
            transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
            transition-delay: 0s;
            border-bottom-color: rgba(136, 136, 136, 0.5);
        }
    }

    &__wrapper {
        padding: 5px 0;
    }
}

.trade-offer-advertisements {
    &__title {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__item {
        padding: 5px 10px;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, 0.8);

        &.active {
            background-color: #268e50;
            color: #fff;
        }
    }

    &__header {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    span {
        max-width: max-content;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 18px;
        }
    }

    &__on {
        color: #268e50;
    }

    &__off {
        color: #cb1132;
    }
}

.trade-offer-parts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trade-offer-floor {
    padding: 26px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    &__title {
        padding: 5px 10px;
        background-color: #268e50;
        color: #fff;
        font-size: 14px;
        position: absolute;
        top: -16px;
        left: 10px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.trade-offer-part {
    font-size: 14px;
    width: 200px;
    height: max-content;
    padding: 5px 0;

    &__area {
        font-weight: 600;
        display: flex;
        gap: 10px;
    }

    &.disabled {
        opacity: .4;
    }

    &__value {
        display: flex;
        gap: 5px;
    }
}

.trade-offer-services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;

    &__category {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        padding: 10px;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, .8);
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
    }
}