@use '../utils/variables';
@use '../utils/mixins';

.ComplexMap {
    margin: 10px 0;
    position: relative;
    min-height: 70px;

    &-description {
        position: absolute;
        top: 0;
        z-index: 2;

        padding: 0 10px;

        width: 90%;
        height: 70px;

        display: flex;
        align-items: center;
        gap: 10px;

        overflow-x: auto;
        scroll-behavior: smooth;

        &.disabled {
            pointer-events: none;
        }

        &-item {
            border: 0.5px solid variables.$color_grey;
            background-color: variables.$color_light_trans;
            border-radius: 5px;
            padding: 10px 10px;
            text-decoration: underline;
            font-weight: bold;
            font-size: 13px;
            white-space: nowrap;

            &[title] {
                display: flex;
                align-items: center;
                gap: 5px;

                div {
                    width: max-content;

                    img {
                        height: 15px;
                        width: auto;
                    }
                }
            }
        }

        &-actions {
            z-index: 2;

            height: 70px;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            &-item {
                background: inherit;
                border: none;

                i {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
        }
    }

    &-control {
        position: absolute;
        right: 10px;
        top: 0;
        height: 70px;
        z-index: 3;
        display: flex;
        align-items: center;
    }

    &-button {
        font-size: 20px;
        z-index: 3;
        background-color: variables.$color_grey_alt;
        border: 1px solid variables.$color_grey;
        width: 33px;
        height: 33px;
        text-align: center;
        border-radius: 5px;
        color: variables.$color_grey;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        & i.active {
            color: black;
        }
    }
}

.ComplexAbout {
    margin-bottom: 20px;

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    &-property {
        color: black;
        display: flex;
        gap: 5px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        & span {
            color: variables.$color_grey;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }

    .tabs-component-panels {
        padding: 10px 0;
    }

    .tabs-component-tab-a::before {
        background-color: variables.$color_success;
    }

    .tabs-component-tab-a.is-active {
        color: variables.$color_success;
    }

    @media screen and (max-width: variables.$laptop_size) {
        .ComplexAbout {
            &-content {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$tablet_size) {
        .ComplexAbout {
            &-content {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$phone_size) {
        .ObjectAbout {
            &-content {
                grid-template-columns: 1fr;
            }
        }
    }
}

.object-holding-parameters {
    &__subtitle {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__floors {
        padding: 10px 20px;
        background-color: #e1e8ec;
        border: 1px solid variables.$color_light_grey;
    }

    &__floors-list {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    &__floor {
        color: variables.$color_success;
        border: 2px solid variables.$color_success;
        padding: 5px 15px;
        background-color: variables.$color_light;
        position: relative;
        cursor: pointer;
        transition: background-color .5s ease;

        &:hover {
            background-color: rgba(0, 183, 74, .1)
        }

        &.danger {
            border-color: variables.$color_danger;
            color: variables.$color_danger;
        }

        & > i {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-10%, -50%);
            border-radius: 50%;
            background-color: white;
        }

        &--empty {
            border-style: dashed;
            opacity: 0.6;
            transition: color .5s ease,  background-color .5s ease;

            &:hover {
                color: #fff;
                background-color: variables.$color_success;
            }
        }
    }
}

.ObjectHoldingsParameters {
    $color_left: #f8f8f8;
    $color_left-aside: #e1e8ec;
    $icon-size: 1.5em;
    $font-size: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;

    &-wrapper {
        padding: 20px;
        background-color: $color_left;
        border: 1px solid variables.$color_light_grey;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        gap: 20px;
    }

    &-main {
        &-area {
            font-size: 22px;
            line-height: 30px;
            font-weight: bold;
            display: inline;

            & p {
                font-size: 22px;
                font-weight: bold;
                display: inline;
            }
        }

        &-address {
            font-weight: bold;
            font-size: 1em;
        }
    }

    &-types {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

        .object-type-box {
            font-size: 22px;
            display: flex;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid rgba(211, 211, 211, 1);
            margin-right: 1px;
            background-color: rgba(201, 201, 201, 0.8);
            color: #000;
        }
    }
}

.object-parameters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__item {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 13px;
        font-weight: 700;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, 0.8);
        padding: 7px 10px;

        & i {
            font-size: 18px;
        }

        .object-parameters__value:not(:last-child)::after {
            content: ', '
        }
    }

    &__text {
        display: flex;
        gap: 3px;
    }
}

.create-floor-block-form {
    & .modal .modal-container {
        min-width: 500px;
    }

    &__text {
        padding-top: 30px;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    &__label {
        //margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: darken($color: variables.$color_success, $amount: 12);
        letter-spacing: 0.4px;
    }

    &__form-group {

        &_long .form-item {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    &__tab-list {
        position: static;
        background-color: inherit;
        display: flex;
        column-gap: 20px;
    }

    &__tab-link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0 0 7px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        color: black;

        &::before {
            background-color: darken($color: variables.$color_success, $amount: 12);
            display: block;
            position: absolute;
            content: "";
            height: 3px;
            width: 0;
            transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
            left: 0;
            bottom: 0;
        }

        &.is-active {
            color: darken($color: variables.$color_success, $amount: 12);
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &::before {
                width: 100%;
            }
        }
    }
}

.ObjectHoldingsOwnerList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

.object-holding-contact {
    display: flex;
    gap: 10px;

    &__avatar {
        background-color: #d0d9e0;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    &__description {
        font-size: 14px;
    }

    &__name {
        font-weight: 500;
    }

    &__message {
        font-size: 12px;
        color: variables.$color_grey
    }

    &__message::before {
        content: ', '
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        font-size: 12px;
        display: flex;

        &:not(&:last-child)::after {
            content: ',';
            margin-right: 3px;
        }
    }
}


.object-holding-company {
    &__title {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: #000;
        width: max-content;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 500;
        margin: 10px 0 5px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__message {
        font-size: 13px;
    }
}

.ComplexHeader {
    display: flex;
    z-index: 6;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0 15px;
    background: #f7faff;

    &-content {
        width: 80%;
    }

    &-name {
        font-size: 26px;
    }

    &-description {
        font-size: 12px;
        color: variables.$color_grey;

        strong {
            color: black;
        }
    }
}

.complex-header {
    &__actions {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
}

.ObjectHoldings {
    $gap: 2em;

    &-header {
        @include mixins.black-header;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        line-height: 53px;
        font-weight: 900;
        font-family: variables.$fontfamily;

        position: sticky;
        top: 50px;
        z-index: 6;
        margin-bottom: 20px;

        height: 50px;

        color: variables.$color_light;

        &-icons {
            display: flex;
            gap: 15px;
        }

        &-button {
            padding: 0;
            align-items: center;
            display: flex;
            width: 20px;
            justify-content: center;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: $gap;
    }
}

.ObjectHoldingsTabs {
    $border: 1px solid #cacaca;
    margin-bottom: 20px;
    position: relative;

    &-buttons {
        position: absolute;
        right: 16px;
        top: 2px;
        z-index: 5;

        & .action-buttons__item button {
            background-color: white;
        }
    }

    &-content {
        &-properties {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        &-property {
            color: black;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

            & span {
                color: variables.$color_grey;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    > .tabs-component > .tabs-component-tabs {
        position: sticky;
        top: 99px;
        z-index: 4;
        background-color: variables.$color_grey_alt;
        padding: 10px;
        border-bottom: $border;
        border-left: $border;
        border-right: $border;
        gap: 0;
    }

    .tabs-component-panels {
        padding: 10px;
    }

    .tabs-component-tab-a {
        padding: 6px 8px;
    }

    .tabs-component-tab-a::before {
        background-color: darken($color: variables.$color_success, $amount: 8);
        height: 2px;
    }

    .tabs-component-tab-a.is-active {
        color: darken($color: variables.$color_success, $amount: 8);
    }

    @media screen and (max-width: variables.$laptop_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$tablet_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$phone_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr;
            }
        }
    }
}

.trade-offer-tabs {
    &__list {
        padding: 15px;
        background-color: #e1e8ec;
        position: static;
        display: flex;
        column-gap: 20px;
    }

    &__title {
        background-color: #e1e8ec;
        padding: 15px 15px 0;
        font-weight: 500;
        width: max-content;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: black;

        &::before {
            background-color: darken($color: variables.$color_success, $amount: 12);
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
            left: 0;
            bottom: 0;
        }

        &.is-active {
            color: darken($color: variables.$color_success, $amount: 12);
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &::before {
                width: 100%;
            }
        }
    }
}

.trade-offer-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgba(13, 31, 47, .25);
    margin-bottom: 70px;
    position: relative;

    &__line {
        padding: 10px;
    }

    &__body {
        padding: 10px;
    }

    &__label {
        display: flex;
        gap: 5px;
        padding: 5px;
        background-color: rgba(0, 122, 49, 0.85);
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;

        &--archived {
            background-color: rgba(203, 17, 50, 0.85);
        }
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    &__help {
        font-size: 14px;
    }

    &__tabs {
        width: 100%;
        margin-top: 25px;
    }

    &__status {
        text-align: end
    }

    &__tables {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, .2)
    }

    &__header {
        width: 100%;
        display: flex;
        gap: 5px;
        padding: 10px;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    &__date {
        font-size: 14px;
        color: variables.$color_grey;
        margin-left: auto;
    }

    &__text {
        font-size: 13px;

        &_color_grey {
            color: variables.$color_grey;
        }
    }

    &:hover {
        .trade-offer-item__actions {
            opacity: 1;
            height: max-content;
        }
    }

    &__actions {
        height: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: -60px;
        padding: 5px 0;
        transition: opacity .5s ease;

        &:hover {
            opacity: 1;
            height: max-content;
        }
    }

    &__buttons {
        display: flex;
        gap: 10px;
        width: max-content;
        margin-left: auto;
        padding: 5px 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px 1px rgba(13, 31, 47, 0.2);
    }

    &__button {
        transition: background-color .6s ease, color .6s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        border: none;
        background-color: rgba(211, 211, 211);
        text-align: center;

        i {
            font-size: 16px;
        }

        &.active {
            background-color: rgba(38, 142, 80, 0.9);
            color: #fff;
        }

        &:hover {
            background-color: rgba(15, 102, 116, 0.9);
            color: #fff;
        }
    }
}

.offer-tabs {

    > .accordion-simple__header {
        font-size: 14px;
        margin: 0 auto;
        font-weight: 500;
        justify-content: center;
        padding: 10px 15px;
        border: 1px dashed rgba(201, 201, 201, 1);
    }

    > .accordion-simple__body {
        border-bottom: 0;

        > .accordion-simple__wrapper {
            padding: 0;
        }
    }

    &__item {
        margin: 0!important;
        border-bottom: 1px solid rgba(201, 201, 201, 1);

        &:first-child {
            border-top: 1px solid rgba(201, 201, 201, 1);
        }

        .accordion-simple__header {
            padding: 10px;
            background-color: rgba(201, 201, 201, 0.45);
            border-radius: 0;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background-color: rgba(201, 201, 201, 0.65);
            }

            &.active {
                background-color: rgba(201, 201, 201, 0.8795);
            }

            > p {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            i {
                font-size: 20px;
                width: 20px;
            }
        }

        .accordion-simple__body {
            border: none;
        }

        .accordion-simple__wrapper {
            padding: 10px;
        }
    }

    &__body {
        padding: 10px;
    }


}

.trade-offer-table {
    padding: 12px;
    width: 50%;
    position: relative;

    &:hover {
        .trade-offer-table__options {
            opacity: 1;
        }
    }

    &:first-child::before {
        content: '';
        display: block;
        width: 1px;
        height: 80%;
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        right: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        width: 100%;

        &:not(:has(.tooltip)) {
            margin-bottom: 5px;
        }
    }

    &__area {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    &__heading {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__grid-item {
        font-size: 14px;
    }

    &__grid-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 14px;

        &--strong {
            font-weight: 600;
        }
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 500;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 5px;

        i {
            font-size: 16px;
        }
    }

    &__options {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity .5s ease;
    }

    &__option {
        cursor: pointer;
        border: none;
        background-color: #d1d5db;
        display: block;
        padding: 5px 10px;
        font-size: 14px;
        width: max-content;
        border-radius: 4px;
        transition: background-color .5s ease, color .5s ease;

        &:hover {
            background-color: rgba(38, 142, 80, 0.7);
        }

        &.active {
            background-color: #268e50;
            color: #fff;
        }
    }
}

.trade-offer-status {
    background-color: #0f6674;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.offers-tabs {
    //   background-color: black;
    &__list {
        position: static;
        background-color: inherit;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0 15px 10px;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 14px;
        color: variables.$color_grey;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-color: inherit;
            height: 3px;
            width: 0;

            transition: border-top-color 0.3s ease-in-out, top 0.3s ease-in-out;
            left: 50%;
            top: 15px;
            border: 5px solid transparent;
            border-top: 5px solid inherit;
            transform: translateX(-50%);
        }

        &.is-active {
            color: variables.$color_danger;
            transition: background-color 0.3s ease-in-out;

            &::before {
                border-top: 5px solid variables.$color_danger;
                top: 25px;
            }
        }
    }

}

.trade-offer-summary {
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__table {
        width: calc(50% - 20px);
        box-shadow: 0 0 5px 1px rgba(13, 31, 47, .1);
        border-radius: 4px;
        height: max-content;
    }

    &__values {
        display: flex;
    }

    .PropertyList-header {
        font-weight: 500;
        border-radius: 4px 4px 0 0;
        padding: 5px 10px;
        background-color: #0f6674;
        color: #fff;
    }

    .PropertyListItem-value, .PropertyListItem-name {
        color: #000;
    }

    .PropertyListItem {
        padding: 5px 10px;
    }

    .PropertyListItem:last-child {
        border-radius: 0 0 4px 4px;
    }
}

.trade-offer-details-table {
    border-left: 1px solid variables.$color_light_grey;
    border-right: 1px solid variables.$color_light_grey;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
    display: grid;
    grid-template-columns: 220px auto;
    font-size: 14px;
    position: relative;

    &__column {
        min-width: 200px;
        max-width: 200px;

        &:nth-child(2n + 2) {
            background-color: #f3f3f3;
        }

        &--head {
            min-width: 220px;

            .trade-offer-details-table__head {
                color: #000;
            }
        }
    }

    &__content {
        width: 100%;
        box-shadow: 12px 0 8px -9px rgba(0, 0, 0, 0.2) inset,
        -12px 0 8px -9px rgba(0, 0, 0, 0.2) inset;
        border-right: 1px solid rgba(0, 0, 0, .15);
        overflow-x: auto;
    }

    &__list {
        display: flex;
        max-width: 1000px;
    }

    &__section {
        border-top: 1px dashed rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(0, 0, 0, .15);
        position: relative;

        &:has(.trade-offer-details-table__properties--values) {
            &::before {
                content: '';
                display: block;
                height: 41px;
                width: calc(100% + 2px);
                position: absolute;
                top: 0;
                left: -1px;
                background-color: #0f6674;
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        padding: 10px;
        background-color: #0f6674;
        color: #fff;
    }

    &__properties {
        &--values {
            margin-top: 41px;
        }

        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__property {
        padding: 5px 10px;
        text-overflow: ellipsis;
        max-width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &:nth-child(2n) {
            background-color: #e1e1e1;
        }
    }

    &__property-list {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__head {
        padding: 10px;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        border-right: 1px solid rgba(0, 0, 0, .15);
        color: white;

        &:first-child {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
        }

        &--grey {
            background-color: #e1e1e1;
            color: black;
        }

        &--color--green {
            background-color: #3ca96f;
        }

        &--color--blue {
            background-color: #3574a5;
        }

        &--color--cyan {
            background-color: #72b6ea;
        }

        &--color--orange {
            background-color: #ccab90;
        }

        &--color--red {
            background-color: #9f3f56;
        }

        &--color--purple {
            background-color: #9f3f87;
        }
    }
}

.complex {
    &__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.complex-document {
    &--green {
        .complex-document__link {
            border: 2px dashed rgba(16, 185, 129, 0.6);
            background-color: rgba(16, 185, 129, 0.2);

            &:hover {
                background-color: rgba(16, 185, 129, 0.4);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: #000;
        padding: 15px;
        border-radius: 2px;
        width: 140px;
        transition: background-color .5s ease, color .5s ease;
        text-align: center;
        background-color: rgba(211, 211, 211, 0.5);

        &:hover {
            background-color: rgba(203, 203, 203, 0.8);
        }
    }

    &__name {
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &__preview {
        font-size: 45px;
        height: max-content;
    }
}

.accordion-simple {
    &:nth-child(n + 1) {
        margin-top: 5px;
    }

    &__header {
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        padding: 5px 0;
        border-radius: 4px;
        transition: background-color .25s ease;
    }

    &__body {
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s cubic-bezier(0, 1, 0, 1) -0.1s;
        border-bottom: 1px solid transparent;

        &.active {
            max-height: 10000px;
            transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
            transition-delay: 0s;
            border-bottom-color: rgba(136, 136, 136, 0.5);
        }
    }

    &__wrapper {
        padding: 5px 0;
    }
}

.trade-offer-advertisements {
    &__title {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__item {
        padding: 5px 10px;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, 0.8);

        &.active {
            background-color: #268e50;
            color: #fff;
        }
    }

    &__header {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    span {
        max-width: max-content;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 18px;
        }
    }

    &__on {
        color: #268e50;
    }

    &__off {
        color: #cb1132;
    }
}

.trade-offer-parts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trade-offer-floor {
    padding: 26px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    &__title {
        padding: 5px 10px;
        background-color: #268e50;
        color: #fff;
        font-size: 14px;
        position: absolute;
        top: -16px;
        left: 10px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.trade-offer-part {
    font-size: 14px;
    width: 200px;
    height: max-content;
    padding: 5px 0;

    &__area {
        font-weight: 600;
        display: flex;
        gap: 10px;
    }

    &.disabled {
        opacity: .4;
    }

    &__value {
        display: flex;
        gap: 5px;
    }
}

.trade-offer-services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;

    &__category {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        padding: 10px;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, .8);
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
    }
}