@use '../utils/variables';
@use '../utils/mixins';

.complex-map {
    margin: 10px 0;
    position: relative;
    min-height: 60px;
    border: 1px solid rgba(0, 0, 0, .2);

    &__description {
        @include mixins.flex-box($a: center, $gap: 10px);
        position: absolute;
        top: 0;
        z-index: 3;

        padding: 0 10px;

        width: 100%;
        height: 60px;


        backdrop-filter: blur(7px);;

        overflow-x: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
        }
    }

    &__label {
        @include mixins.flex-box($a: center, $gap: 5px);
        background-color: #fff;
        border-radius: 5px;
        padding: 0 10px;
        height: 35px;
        font-weight: bold;
        font-size: 13px;
        white-space: nowrap;
        box-shadow: 0 0 5px 2px rgba(13, 31, 47, 0.2);


        &[title] {
            div {
                width: max-content;

                img {
                    height: 15px;
                    width: auto;
                }
            }
        }
    }

    &__actions {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__action {
        @include mixins.flex-box($a: center, $j: center);
        border: none;
        cursor: pointer;
        width: 35px;
        font-size: 18px;
        transition: background-color .5s ease, color .5s ease;

        &:hover {
            color: #268e50;
            background-color: #e7e7e7;
        }
    }

    &__control {
        @include mixins.flex-box($a: center, $j: center);
        font-size: 18px;
        background-color: #fff;
        box-shadow: 0 0 5px 2px rgba(13, 31, 47, 0.2);
        transition: background-color .5s ease, color .5s ease;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: auto;

        &:hover {
            opacity: 0.8;
            background-color: #e7e7e7;
        }

        & i.active {
            color: black;
        }
    }
}

.complex-map-description {
    max-width: 500px;
    margin: 10px 0;

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__item {
        @include mixins.flex-box($j: space-between, $gap: 40px);
    }

    i {
        font-size: 18px;
        opacity: .6;
    }

    &__name {
        @include mixins.flex-box($a: center, $gap: 5px);

        &:not(:has(span)), span {
            opacity: .6;
        }
    }

    &__on {
        opacity: 1!important;
        color: #268e50;
    }

    &__off {
        opacity: 1!important;
        color: #cb1132;
    }


    &__block {
        margin-top: 10px;
    }

    &__subtitle {
        margin-bottom: 5px;
    }

    &__elements {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__element {
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(211, 211, 211, .5);
        width: max-content;
    }
}

.complex-about {
    margin-bottom: 20px;
}

.object-holding-parameters {
    &__subtitle {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__floors {
        padding: 10px 20px;
        background-color: #e1e8ec;
        border: 1px solid variables.$color_light_grey;
    }

    &__floors-list {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__floor {
        color: variables.$color_success;
        border: 2px solid variables.$color_success;
        padding: 5px 15px;
        background-color: variables.$color_light;
        position: relative;
        cursor: pointer;
        transition: background-color .5s ease;

        &:hover {
            background-color: rgba(0, 183, 74, .1)
        }

        &.danger {
            border-color: variables.$color_danger;
            color: variables.$color_danger;
        }

        & > i {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-10%, -50%);
            border-radius: 50%;
            background-color: white;
        }

        &--empty {
            border-style: dashed;
            opacity: 0.6;
            transition: color .5s ease,  background-color .5s ease;

            &:hover {
                color: #fff;
                background-color: variables.$color_success;
            }
        }
    }
}

.ObjectHoldingsParameters {
    $color_left: #f8f8f8;
    $color_left-aside: #e1e8ec;
    $icon-size: 1.5em;
    $font-size: 1em;
    @include mixins.flex-box($d: column);

    &-wrapper {
        padding: 20px;
        background-color: $color_left;
        border: 1px solid variables.$color_light_grey;
        @include mixins.flex-box($gap: 20px, $d: column);
        flex-grow: 2;
    }

    &-main {
        &-area {
            font-size: 22px;
            line-height: 30px;
            font-weight: bold;
            display: inline;

            & p {
                font-size: 22px;
                font-weight: bold;
                display: inline;
            }
        }

        &-address {
            font-weight: bold;
            font-size: 1em;
        }
    }
}

.create-floor-block-form {
    & .modal .modal-container {
        min-width: 500px;
    }

    &__text {
        padding-top: 30px;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    &__label {
        //margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: darken($color: variables.$color_success, $amount: 12);
        letter-spacing: 0.4px;
    }

    &__form-group {

        &_long .form-item {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    &__tab-list {
        position: static;
        background-color: inherit;
        display: flex;
        column-gap: 20px;
    }

    &__tab-link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0 0 7px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        color: black;

        &::before {
            background-color: darken($color: variables.$color_success, $amount: 12);
            display: block;
            position: absolute;
            content: "";
            height: 3px;
            width: 0;
            transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
            left: 0;
            bottom: 0;
        }

        &.is-active {
            color: darken($color: variables.$color_success, $amount: 12);
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &::before {
                width: 100%;
            }
        }
    }
}

.ObjectHoldingsOwnerList {
    @include mixins.flex-box($gap: 20px, $d: column);
    overflow-y: auto;
    height: 100%;
}

.object-holding-contact {
    @include mixins.flex-box($gap: 10px);


    &__avatar {
        @include mixins.flex-box($a: center, $j:  center);
        background-color: #d0d9e0;
        border-radius: 50%;
        height: 40px;
        width: 40px;

        flex-shrink: 0;
    }

    &__description {
        font-size: 14px;
    }

    &__name {
        font-weight: 500;
    }

    &__message {
        font-size: 12px;
        color: variables.$color_grey
    }

    &__message::before {
        content: ', '
    }

    &__list {
        @include mixins.flex-box($wrap: true);
    }

    &__item {
        font-size: 12px;
        display: flex;

        &:not(&:last-child)::after {
            content: ',';
            margin-right: 3px;
        }
    }
}


.object-holding-company {
    &__title {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__header {
        @include mixins.flex-box($d: column)
    }

    &__name {
        color: #000;
        width: max-content;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 500;
        margin: 10px 0 5px;
    }

    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__message {
        font-size: 13px;
    }
}

.ComplexHeader {
    @include mixins.flex-box($a: flex-end, $j: space-between);
    z-index: 6;
    padding: 30px 0 15px;
    background: #f7faff;

    &-content {
        width: 80%;
    }

    &-name {
        font-size: 26px;
    }

    &-description {
        font-size: 12px;
        color: variables.$color_grey;

        strong {
            color: black;
        }
    }
}

.complex-header {
    &__actions {
        @include mixins.flex-box($j: flex-end, $gap: 10px);
    }
}

.ObjectHoldings {
    $gap: 2em;

    &-header {
        @include mixins.black-header;
        @include mixins.flex-box($a: center, $j: space-between);

        font-size: 14px;
        line-height: 53px;
        font-weight: 900;
        font-family: variables.$fontfamily;

        position: sticky;
        top: 50px;
        z-index: 7;
        margin-bottom: 20px;

        height: 50px;

        color: variables.$color_light;

        &-icons {
            @include mixins.flex-box($gap: 15px);
        }

        &-button {
            @include mixins.flex-box($a: center, $j: center);
            padding: 0;
            width: 20px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }

    &-body {
        @include mixins.flex-box($d: column);
        gap: $gap;
    }
}

.ObjectHoldingsTabs {
    $border: 1px solid #cacaca;
    margin-bottom: 20px;
    position: relative;

    &-buttons {
        position: absolute;
        right: 16px;
        top: -6px;
        z-index: 6;
    }

    &-content {
        &-properties {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        &-property {
            color: black;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

            & span {
                color: variables.$color_grey;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    > .tabs-component > .tabs-component-tabs {
        position: sticky;
        top: 99px;
        z-index: 5;
        background-color: variables.$color_grey_alt;
        padding: 10px;
        border-bottom: $border;
        border-left: $border;
        border-right: $border;
        gap: 0;
    }

    .tabs-component-panels {
        padding: 10px;
    }

    .tabs-component-tab-a {
        padding: 6px 8px;
    }

    .tabs-component-tab-a::before {
        background-color: darken($color: variables.$color_success, $amount: 8);
        height: 2px;
    }

    .tabs-component-tab-a.is-active {
        color: darken($color: variables.$color_success, $amount: 8);
    }

    @media screen and (max-width: variables.$laptop_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$tablet_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: variables.$phone_size) {
        .ObjectHoldingsTabs {
            &-content {
                grid-template-columns: 1fr;
            }
        }
    }
}

.object-holdings-tabs {
    &__list {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }
}

.trade-offer-tabs {
    &__list {
        @include mixins.flex-box($gap: 0 20px);
        padding: 15px;
        background-color: #e1e8ec;
        position: static;
    }

    &__title {
        background-color: #e1e8ec;
        padding: 15px 15px 0;
        font-weight: 500;
        width: max-content;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: black;

        &::before {
            background-color: darken($color: variables.$color_success, $amount: 12);
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
            left: 0;
            bottom: 0;
        }

        &.is-active {
            color: darken($color: variables.$color_success, $amount: 12);
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &::before {
                width: 100%;
            }
        }
    }
}

.offer-tabs {

    > .accordion-simple__header {
        font-size: 14px;
        margin: 0 auto;
        font-weight: 500;
        justify-content: center;
        padding: 10px 15px;
        border: 1px dashed rgba(201, 201, 201, 1);
    }

    > .accordion-simple__body {
        border-bottom: 0;

        > .accordion-simple__wrapper {
            padding: 0;
        }
    }

    &__item {
        margin: 0!important;
        border-bottom: 1px solid rgba(201, 201, 201, 1);

        &:first-child {
            border-top: 1px solid rgba(201, 201, 201, 1);
        }

        .accordion-simple__header {
            padding: 10px;
            background-color: rgba(201, 201, 201, 0.45);
            border-radius: 0;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background-color: rgba(201, 201, 201, 0.65);
            }

            &.active {
                background-color: rgba(201, 201, 201, 0.8795);
            }

            > p {
                @include mixins.flex-box($a: center, $gap: 5px);
            }

            i {
                font-size: 20px;
                width: 20px;
            }
        }

        .accordion-simple__body {
            border: none;
        }

        .accordion-simple__wrapper {
            padding: 10px;
        }
    }

    &__body {
        padding: 10px;
    }

    &__button {
        margin: 0 10px;
    }
}

.trade-offer-table {
    padding: 12px;
    width: 50%;
    position: relative;

    &:hover {
        .trade-offer-table__options {
            opacity: 1;
        }
    }

    &:first-child::before {
        content: '';
        display: block;
        width: 1px;
        height: 80%;
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        right: 0;
    }

    &__header {
        @include mixins.flex-box($j: space-between);
        font-weight: 600;
        width: 100%;

        &:not(:has(.tooltip)) {
            margin-bottom: 5px;
        }
    }

    &__area {
        @include mixins.flex-box($j: space-between, $gap: 50px);
    }

    &__heading {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__grid-item {
        font-size: 14px;
    }

    &__grid-title {
        @include mixins.flex-box($j: space-between);
        margin-bottom: 5px;
        font-size: 14px;

        &--strong {
            font-weight: 600;
        }
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 500;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__value {
        @include mixins.flex-box($a: center, $gap: 5px);

        i {
            font-size: 16px;
        }
    }

    &__options {
        @include mixins.flex-box($gap: 10px);
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity .5s ease;
    }

    &__option {
        cursor: pointer;
        border: none;
        background-color: #d1d5db;
        display: block;
        padding: 5px 10px;
        font-size: 14px;
        width: max-content;
        border-radius: 4px;
        transition: background-color .5s ease, color .5s ease;

        &:hover {
            background-color: rgba(38, 142, 80, 0.7);
        }

        &.active {
            background-color: #268e50;
            color: #fff;
        }
    }
}

.trade-offer-status {
    @include mixins.flex-box($a: center, $gap: 5px);
    background-color: #0f6674;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;

    &__list {
        @include mixins.flex-box($d: column, $gap: 5px);
    }
}

.offers-tabs {
    //   background-color: black;
    &__list {
        position: static;
        background-color: inherit;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 0 15px 10px;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 14px;
        color: variables.$color_grey;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-color: inherit;
            height: 3px;
            width: 0;

            transition: border-top-color 0.3s ease-in-out, top 0.3s ease-in-out;
            left: 50%;
            top: 15px;
            border: 5px solid transparent;
            border-top: 5px solid inherit;
            transform: translateX(-50%);
        }

        &.is-active {
            color: variables.$color_danger;
            transition: background-color 0.3s ease-in-out;

            &::before {
                border-top: 5px solid variables.$color_danger;
                top: 25px;
            }
        }
    }

}

.trade-offer-summary {
    &__content {
        @include mixins.flex-box($gap: 40px, $wrap: true);
    }

    &__table {
        width: calc(50% - 20px);
        box-shadow: 0 0 5px 1px rgba(13, 31, 47, .1);
        border-radius: 4px;
        height: max-content;
    }

    &__values {
        display: flex;
    }

    .PropertyList-header {
        font-weight: 500;
        border-radius: 4px 4px 0 0;
        padding: 5px 10px;
        background-color: #0f6674;
        color: #fff;
    }

    .PropertyListItem-value, .PropertyListItem-name {
        color: #000;
    }

    .PropertyListItem {
        padding: 5px 10px;
    }

    .PropertyListItem:last-child {
        border-radius: 0 0 4px 4px;
    }
}

.trade-offer-details-table {
    border-left: 1px solid variables.$color_light_grey;
    border-right: 1px solid variables.$color_light_grey;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
    display: grid;
    grid-template-columns: 220px auto;
    font-size: 14px;
    position: relative;

    &__column {
        min-width: 200px;
        max-width: 200px;

        &:nth-child(2n + 2) {
            background-color: #f3f3f3;
        }

        &--head {
            min-width: 220px;

            .trade-offer-details-table__head {
                color: #000;
            }
        }
    }

    &__content {
        width: 100%;
        box-shadow: 12px 0 8px -9px rgba(0, 0, 0, 0.2) inset,
        -12px 0 8px -9px rgba(0, 0, 0, 0.2) inset;
        border-right: 1px solid rgba(0, 0, 0, .15);
        overflow-x: auto;
    }

    &__list {
        display: flex;
        max-width: 1000px;
    }

    &__section {
        border-top: 1px dashed rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(0, 0, 0, .15);
        position: relative;

        &:has(.trade-offer-details-table__properties--values) {
            &::before {
                content: '';
                display: block;
                height: 41px;
                width: calc(100% + 2px);
                position: absolute;
                top: 0;
                left: -1px;
                background-color: #0f6674;
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        padding: 10px;
        background-color: #0f6674;
        color: #fff;
    }

    &__properties {
        @include mixins.flex-box($gap: 3px, $d: column);

        &--values {
            margin-top: 41px;
        }
    }

    &__property {
        @include mixins.text-overflow();
        padding: 5px 10px;


        &:nth-child(2n) {
            background-color: #e1e1e1;
        }
    }

    &__property-list {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &__head {
        padding: 10px;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        border-right: 1px solid rgba(0, 0, 0, .15);
        color: white;

        &:first-child {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
        }

        &--grey {
            background-color: #e1e1e1;
            color: black;
        }

        &--color--green {
            background-color: #3ca96f;
        }

        &--color--blue {
            background-color: #3574a5;
        }

        &--color--cyan {
            background-color: #72b6ea;
        }

        &--color--orange {
            background-color: #ccab90;
        }

        &--color--red {
            background-color: #9f3f56;
        }

        &--color--purple {
            background-color: #9f3f87;
        }
    }

    &__values {
        display: flex;
    }
}

.complex {
    &__list {
        @include mixins.flex-box($gap: 20px, $wrap: true);
    }
}

.complex-document {
    &--green {
        .complex-document__link {
            border: 2px dashed rgba(16, 185, 129, 0.6);
            background-color: rgba(16, 185, 129, 0.2);

            &:hover {
                background-color: rgba(16, 185, 129, 0.4);
            }
        }
    }

    &__link {
        @include mixins.flex-box($a: center, $d: column, $gap: 10px);
        @include mixins.transition(background-color .5s, color .5s);
        color: #000;
        padding: 15px;
        border-radius: 2px;
        width: 140px;
        text-align: center;
        background-color: rgba(211, 211, 211, 0.5);
        height: 100%;

        &:hover {
            background-color: rgba(203, 203, 203, 0.8);
        }
    }

    &__name {
        @include mixins.text-overflow(2);
        font-size: 13px;

    }


    &__preview {
        font-size: 45px;
        height: max-content;
    }
}

.trade-offer-advertisements {
    &__title {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__list {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }

    &__item {
        padding: 5px 10px;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, 0.8);

        &.active {
            background-color: #268e50;
            color: #fff;
        }
    }

    &__header {
        @include mixins.flex-box($a: center, $gap: 10px);
    }

    span {
        max-width: max-content;
    }

    &__grid {
        @include mixins.flex-box($d: column, $gap: 5px);
    }

    &__value {
        @include mixins.flex-box($a: center, $gap: 10px);

        i {
            font-size: 18px;
        }
    }

    &__on {
        color: #268e50;
    }

    &__off {
        color: #cb1132;
    }
}

.trade-offer-parts {
    @include mixins.flex-box($d: column, $gap: 30px);
}

.trade-offer-floor {
    padding: 26px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    &__title {
        padding: 5px 10px;
        background-color: #268e50;
        color: #fff;
        font-size: 14px;
        position: absolute;
        top: -16px;
        left: 10px;
    }

    &__list {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }
}

.trade-offer-part {
    font-size: 14px;
    width: 200px;
    height: max-content;
    padding: 5px;

    &__area {
        @include mixins.flex-box($gap: 10px);
        font-weight: 600;
    }

    &.disabled {
        opacity: .4;
    }

    &__value {
        @include mixins.flex-box($gap: 10px);
    }
}

.trade-offer-services {
    @include mixins.flex-box($d: column, $gap: 10px);
    font-size: 14px;

    &__category {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__list {
        @include mixins.flex-box($gap: 10px, $wrap: true);
    }

    &__item {
        @include mixins.flex-box($a: center, $gap: 5px);
        padding: 10px;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, .8);
        font-weight: 500;
    }
}

.complex-actions {
    &__buttons {
        @include mixins.flex-box($gap: 10px);
        width: max-content;
        margin-left: auto;
        padding: 5px 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px 1px rgba(13, 31, 47, 0.2);
    }

    &__button {
        @include mixins.flex-box($a: center, $j: center);
        transition: background-color .6s ease, color .6s ease;
        height: 40px;
        width: 40px;
        outline: none;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        border: none;
        background-color: rgba(211, 211, 211);
        text-align: center;

        &:not([disabled]) {
            cursor: pointer;
        }

        i {
            font-size: 16px;
        }

        &.active {
            background-color: rgba(38, 142, 80, 0.9);
            color: #fff;
        }

        &:not([disabled]):hover {
            background-color: rgba(15, 102, 116, 0.9);
            color: #fff;
        }
    }

    &--simple {
        .complex-actions {
            &__buttons {
                background-color: transparent;
                box-shadow: none;
                border-radius: 0;
            }

            &__button {
                background-color: #fff;

                &.active {
                    background-color: rgba(38, 142, 80, 0.9);
                    color: #fff;
                }

                &:not([disabled]):hover {
                    background-color: rgba(15, 102, 116, 0.9);
                    color: #fff;
                }
            }
        }
    }



}

.complex-photo-downloader {
    &__item {
        opacity: .3;
        cursor: pointer;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        transition: opacity .5s ease-in-out;

        &:hover {
            opacity: .7;
        }


        &.active {
            opacity: 1;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    &__text {
        margin-bottom: 10px;

        span {
            font-weight: 500;
        }
    }

    &__actions {
        @include mixins.flex-box($d: column, $gap: 5px);

        .button {
            width: 100%;
        }
    }

    &__select {
        width: 100%!important;
        margin-bottom: 10px;
    }

    &__configs {
        margin-bottom: 15px;
    }

    &__list {
        max-height: 380px;
        overflow-y: auto;
    }
}