@use '../utils/mixins';
@use '../utils/variables';

.dashboard-bg {
    &-primary {
        background-color: variables.$bg-primary;

        &-l {
            background-color: variables.$bg-primary-l;
        }
    }

    &-danger {
        background-color: variables.$bg-danger;

        &-l {
            background-color: variables.$bg-danger-l;
        }
    }

    &-warning {
        background-color: variables.$bg-warning;

        &-l {
            background-color: variables.$bg-warning-l;
        }
    }

    &-success {
        background-color: variables.$bg-success;

        &-l {
            background-color: variables.$bg-success-l;
        }
    }

    &-gray {
        background-color: variables.$bg-gray;

        &-l {
            background-color: variables.$bg-gray-l;
        }
    }

    &-light {
        background-color: variables.$color_grey_alt;
    }
}

.dashboard-cl {
    &-danger {
        color: variables.$cl-danger;

        &-l {
            color: variables.$cl-danger-l;
        }
    }

    &-warning {
        color: variables.$cl-warning;
    }

    &-success {
        color: variables.$cl-success;
    }

    &-white {
        color: #fff;
    }
}

.handle {
    cursor: move;
    @include mixins.transition(background-color);

    &:hover {
        background-color: #c8ebfb;;
    }
}

.chosen > div {
    opacity: 0.5;
    background-color: #c8ebfb!important;
}

.dashboard-aside {
    &__menu {
        @include mixins.flex-box($d: column, $gap: 10px);
    }
}

.dashboard-page {
    &__switch {
        margin-left: 10px;
        cursor: pointer;
        background-color: variables.$bg-success-l;
        @include mixins.transition(background-color, color);

        &:hover {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }
}

.dashboard-task-table {
    .dashboard-card__header {
        border-bottom: 1px solid #ecf3fa;
    }
}

.dashboard-tasks-table {
    @include mixins.flex-box($d: column, $gap: 25px);
}

.dashboard-rounded-icon {
    @include mixins.flex-box($a: center, $j: center);
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 18px;
}

.dashboard-chip {
    width: max-content;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;

    @include mixins.transition(opacity, background-color, color);

    &.disabled {
        cursor: default!important;
        pointer-events: none;
        opacity: .5;
    }

    &--with-icon {
        @include mixins.flex-box($a: center, $gap: 5px);

        i {
            font-size: 15px;
        }
    }
}

.dashboard-stats-block {
    &__header {
        @include mixins.flex-box($a: center, $j: space-between)
    }

    .dashboard-card__header {
        border-bottom: 1px solid #ecf3fa;
    }
}

.dashboard-stats-requests {
    &__address {
        @include mixins.text-overflow(3);
    }
}

.dashboard-stats-events {
    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
        max-height: 280px;
        overflow-y: auto;
        padding: 5px 5px 5px 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}

.dashboard-table-primitive {
    overflow-x: auto;

    &.no-padding {
        margin: -15px -15px;
    }

    &__table {
        font-size: 14px;
        caption-side: bottom;
        border-collapse: collapse;
        vertical-align: middle;
        width: 100%;
        border-top: 1px solid #e9ebec;
        border-bottom: 1px solid #e9ebec;

        > :not(caption) > * > * {
            padding: 0.75rem 0.6rem;
        }

        tr th:last-child, tr td:last-child {
            padding-right: 16px;
        }

        tr th:first-child, tr td:first-child {
            padding-left: 16px;
        }
    }

    &__head {
        background-color: rgb(243,246,249);
        border-bottom: 1px solid #e9ebec;
        vertical-align: bottom;
        color: #878a99;
    }

    tbody tr:not(:last-child) {
        border-bottom: 1px solid #e9ebec;
    }

    td th {
        white-space: nowrap;
    }

    th {
        font-weight: 500;
        text-align: inherit;
        text-align: -webkit-match-parent;
    }
}

.dashboard-linker {
    color: variables.$color_grey;
    cursor: pointer;
    font-size: 18px;
    @include mixins.transition(color);

    &:hover {
        color: variables.$bg-success
    }
}

.dashboard-task-item-preview {
    min-height: 450px;
    width: 900px;

    @include mixins.flex-box();

    &__column {
        width: 450px;
        position: relative;

        &:first-child {
            padding-right: 9px;
            border-right: 1px solid #afaeae;
        }

        &:last-child {
            padding-left: 9px;
        }
    }

    &__actions {
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #afaeae;
        @include mixins.flex-box($gap: 10px);
    }

    &__description {
        margin: 10px 0;
    }

    &__label {
        color: #888686;
        font-weight: 500;
    }

    &__message {
        background-color: #e8e5e5;
        border-radius: 5px;
        padding: 10px;
    }

    &__chip {
        background-color: #d6d6d6;
    }

    &__tag {
        color: #fff;
    }

    &__chips {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5px;
    }

    &__category {
        color: #837f7f;
    }

    &__relation {
        margin-top: 10px;
    }

    .messenger-dialog {
        background-color: #d6d6d6;
    }

    .messenger-dialog-request__id, .messenger-dialog-offer__id {
        color: #000;
    }

    &__button {
        background-color: #c0bbbb;
        width: max-content;
        color: #000;
        border: none;
        border-radius: 5px;
        padding: 5px 7px;
        @include mixins.transition(background-color);
        @include mixins.clear-button;

        @include mixins.hover {
            background-color: #B3D7C6;
        }

        &[disabled] {
            opacity: .6;
        }
    }

    &__comments {
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
        position: absolute;
        width: calc(100% - 20px);
        top: 20px;
        left: 10px;
        height: calc(100% - 40px);
        border-radius: 10px;
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__comments-list {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

    &__list {
        @include mixins.flex-box($d: column, $j: flex-end, $gap: 10px);
    }

    &__chat-message {
        color: #000!important;

        .messenger-chat-message__wrapper {
            max-width: 100%;
        }

        .messenger-chat-message__content {
            background-color: #d6d6d6;
            box-shadow: unset;
        }
    }

    &__form {
        border-top: 1px solid #afaeae;
        margin-top: 7px;
        padding-top: 7px;
    }

    &__textarea {
        .form__textarea {
            border-color: #b9b0b0;
            height: 40px;
            min-height: 40px;
        }

        .form__label {
            color: #888686;
        }
    }

    &__status {
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__close {
        font-size: 20px;
        color: #837f7f;
        cursor: pointer;
        @include mixins.transition(color);

        &:hover {
            color: #625c5c;
        }
    }
}

.dashboard-task-item-preview-status {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    position: absolute;
    width: calc(100% - 20px);
    top: 20px;
    left: 10px;
    height: calc(100% - 40px);
    border-radius: 10px;
    overflow-y: auto;
    @include mixins.flex-box($d: column, $gap: 10px);

    &__header {
        @include mixins.flex-box($j: space-between);
        padding-bottom: 7px;
        border-bottom: 1px solid #afaeae;
    }

    &__form {
        border-top: 1px solid #afaeae;
        margin-top: 7px;
        padding-top: 7px;
    }

    &__element {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    &__list {
        @include mixins.flex-box($gap: 5px, $a: center, $j: space-between);
    }

    &__arrow {
        font-size: 20px;
    }

    .form__label {
        color: #ada8a8;
    }

    .form__textarea, .form__input {
        border-color: #b9b0b0;
    }

    &__preview {
        @include mixins.flex-box($a: center);
        border-bottom: 1px solid #afaeae;
        padding-bottom: 7px;
    }

    &__chip {
        background-color: #d6d6d6;
    }
}



.dashboard-task-item-preview-comment {
    padding: 5px;
    background-color: #c5c0c0;
    border-radius: 3px;

    &__content {
        p {
            word-break: break-word;
        }
    }

    &__footer {
        margin-top: 3px;
        border-top: 1px solid #afaeae;
        padding-top: 3px;
        color: #6e6b6b;
        @include mixins.flex-box($a: center, $j: space-between);
    }
}