@use '../utils/mixins';
@use '../utils/variables';

.dashboard-bg {
    &-primary {
        background-color: variables.$bg-primary;

        &-l {
            background-color: variables.$bg-primary-l;
        }
    }

    &-danger {
        background-color: variables.$bg-danger;

        &-l {
            background-color: variables.$bg-danger-l;
        }
    }

    &-warning {
        background-color: variables.$bg-warning;

        &-l {
            background-color: variables.$bg-warning-l;
        }
    }

    &-success {
        background-color: variables.$bg-success;

        &-l {
            background-color: variables.$bg-success-l;
        }
    }

    &-gray {
        background-color: variables.$bg-gray;

        &-l {
            background-color: variables.$bg-gray-l;
        }
    }

    &-light {
        background-color: variables.$color_grey_alt;
    }
}

.dashboard-cl {
    &-danger {
        color: variables.$cl-danger;

        &-l {
            color: variables.$cl-danger-l;
        }
    }

    &-warning {
        color: variables.$cl-warning;
    }

    &-success {
        color: variables.$cl-success;
    }

    &-white {
        color: #fff;
    }
}

.handle {
    cursor: move;
    @include mixins.transition(background-color);

    &:hover {
        background-color: #c8ebfb;;
    }
}

.chosen > div {
    opacity: 0.5;
    background-color: #c8ebfb !important;
}

.dashboard-aside {
    &__menu {
        @include mixins.flex-box($d: column, $gap: 10px);
    }

    &__label {
        font-weight: 500;
    }
}

.dashboard-page {
    &__switch {
        margin-left: 10px;
        cursor: pointer;
        background-color: variables.$bg-success-l;
        @include mixins.transition(background-color, color);

        &:hover {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }
}

.dashboard-task-table {
    .dashboard-card__header {
        border-bottom: 1px solid #ecf3fa;
    }
}

.dashboard-tasks-table {
    @include mixins.flex-box($d: column, $gap: 25px);

    &__card {
        position: relative;
        background-color: #fff;
        color: variables.$color_dark;
        max-height: 95%;
        min-width: 300px;
        overflow: hidden;
        margin: 20px;
        z-index: 4002;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        transition: all 0.5s ease;
        min-height: 390px;
        width: 1100px;
        max-width: 100%;
    }
}

.dashboard-rounded-icon {
    @include mixins.flex-box($a: center, $j: center);
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 18px;
}

.dashboard-chip {
    width: max-content;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;

    @include mixins.transition(opacity, background-color, color);

    &.disabled {
        cursor: default !important;
        pointer-events: none;
        opacity: .5;
    }

    &--with-icon {
        @include mixins.flex-box($a: center, $gap: 5px);

        i {
            font-size: 15px;
        }
    }
}

.dashboard-stats-block {
    &__header {
        @include mixins.flex-box($a: center, $j: space-between)
    }

    .dashboard-card__header {
        border-bottom: 1px solid #ecf3fa;
    }
}

.dashboard-stats-requests {
    &__address {
        @include mixins.text-overflow(3);
    }
}

.dashboard-stats-events {
    &__list {
        @include mixins.flex-box($d: column, $gap: 10px);
        max-height: 280px;
        overflow-y: auto;
        padding: 5px 5px 5px 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}

.dashboard-table-primitive {
    overflow-x: auto;

    &.no-padding {
        margin: -15px -15px;
    }

    &__table {
        font-size: 14px;
        caption-side: bottom;
        border-collapse: collapse;
        vertical-align: middle;
        width: 100%;
        border-top: 1px solid #e9ebec;
        border-bottom: 1px solid #e9ebec;

        > :not(caption) > * > * {
            padding: 0.75rem 0.6rem;
        }

        tr th:last-child, tr td:last-child {
            padding-right: 16px;
        }

        tr th:first-child, tr td:first-child {
            padding-left: 16px;
        }
    }

    &__head {
        background-color: rgb(243, 246, 249);
        border-bottom: 1px solid #e9ebec;
        vertical-align: bottom;
        color: #878a99;
    }

    tbody tr:not(:last-child) {
        border-bottom: 1px solid #e9ebec;
    }

    td th {
        white-space: nowrap;
    }

    th {
        font-weight: 500;
        text-align: inherit;
        text-align: -webkit-match-parent;
    }
}

.dashboard-linker {
    color: variables.$color_grey;
    cursor: pointer;
    font-size: 18px;
    @include mixins.transition(color);

    &:hover {
        color: variables.$bg-success
    }
}

.contact-card {
    background-color: variables.$bg-gray-l;
    padding: 5px;
    border-radius: 5px;
    max-width: 400px;
    position: relative;

    &__contacts {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__name {
        font-weight: 500;
        max-width: calc(100% - 30px);
        @include mixins.transition(2);
    }

    &__column {
        min-width: 150px;
        flex-basis: calc(calc(100% - 5px) / 2);
    }

    &__scroller {
        max-height: 40px;
        overflow-y: auto;
    }

    &__element {
        color: #ffffff;
    }

    &__label {
        color: #b9b4b4;
        font-size: 13px;
    }

    &__value {
    }

    &__row {
        font-size: 13px;
    }

    &__position {
        color: #918c8c;
    }

    &__passive {
        padding: 3px 6px;
        font-weight: 400;
        font-size: 13px;
    }

    &__warning {
        padding: 2px 6px;
        background-color: #9d3434;
        width: max-content;
        max-width: 100%;
    }

    &__button {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    &__ways {
        @include mixins.flex-box($gap: 5px, $wrap: true);
    }

    &__way {
        @include mixins.flex-box($gap: 5px, $a: center);
        border-radius: 5px;
        background-color: #7e7e7e;
        padding: 2px 8px;
    }
}

.dashboard-favorite-tasks-table .dashboard-tasks-table {
    padding: 20px 10px 0 0 !important;
    max-height: 400px;
}

.user-notification-preview {
    position: relative;
    background-color: #fff;
    color: variables.$color_dark;
    max-height: 95%;
    min-width: 300px;
    margin: 20px;
    z-index: 4002;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: all 0.5s ease;
    min-height: 290px;
    width: 750px;
    max-width: 100%;

    &__actions {
        width: 250px;
        position: absolute;
        left: calc(100% + 20px);
        top: 0;
        background-color: #fff;
        color: variables.$color_dark;
        max-height: 95%;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        transition: all 0.5s ease;
    }
}

.user-notification-preview-actions {
    &__header {
        padding: 5px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__title {
        font-size: 15px;
    }

    &__list {
        padding: 10px;
        overflow-y: auto;
        @include mixins.flex-box($gap: 10px, $d: column);
    }
}

.user-notification-card {
    min-height: 290px;
    @include mixins.flex-box($d: column);

    &__header {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        @include mixins.flex-box($gap: 5px, $a: center);
    }

    &__content {
        flex-grow: 1;
        padding: 10px;
        @include mixins.flex-box($j: center, $d: column);
    }

    &__icon {
        font-size: 26px;
        margin-right: 7px;
    }

    &__subject {
        text-align: center;
        font-size: 18px;
        color: variables.$color_grey;
    }

    &__message {
        text-align: center;
        font-size: 20px;
    }

    &__footer {
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, .1);
        @include mixins.flex-box($gap: 10px, $a: center);
    }
}

.user-notification-card-template {
    padding: 10px 0;

    &__company {
        width: 350px;
    }

    &__task-comment {
        &::before {
            display: none;
            content: unset;
        }

        width: 70%;
        background-color: variables.$color_light;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ededed;
    }
}