@use "../utils/variables";
@use "../utils/mixins";

.settings-form {
    &__button {
        background-color: variables.$bg-success-l;
        cursor: pointer;
        @include mixins.transition(background-color, color);

        &:hover {
            background-color: variables.$bg-success;
            color: #fff;
        }

        &--info {
            background-color: variables.$color_grey_alt;

            &:hover {
                background-color: variables.$bg-gray-l;
                color: #000;
            }
        }
    }

    &__element {
        background-color: variables.$color_light;
        border: 1px solid #d1d5db;
        border-radius: 10px;
    }

    &__header {
        border-bottom: 1px solid #d1d5db;
        padding-bottom: 10px;
        @include mixins.flex-box($a: center, $j: space-between);
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
    }

    &__actions {
        @include mixins.flex-box($gap: 5px);
    }
}

.settings-form-element {
    background-color: variables.$bg-gray-l;

    &.deleted {
        opacity: .5;
        @include mixins.transition(opacity);

        &:hover {
            opacity: 1;
        }
    }

    &__header {
        @include mixins.flex-box($gap: 5px, $a: center);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        font-size: 14px;
    }

    &__actions {
        @include mixins.flex-box($gap: 3px);
    }
}

.settings-form-element {
    .dashboard-chip {
        @include mixins.flex-box($a: center);
    }
}