.building-info {
  border-bottom: 1px solid $color_light_grey;
  &__table-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  &__table {
  }
  &__heading {
    font-size: 22px;
    font-weight: 900;
    line-height: 35px;
    padding-left: 15px;
    height: 42px;
    display: table-cell;
    vertical-align: middle;
  }
  &__line {
    display: flex;
    & .object-parameters {
      background-color: $color_light;
      border: 1px solid $color_light_grey;
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
  }
  &__tabs {
  }
  &__buttons {
  }
}
