.ObjectHoldingsTabs {
  $border: 1px solid #cacaca;
  margin-bottom: 20px;
  position: relative;
  &-buttons {
    position: absolute;
    right: 16px;
    top: 2px;
    z-index: 5;
    & .action-buttons__item button {
      background-color: white;
    }
  }
  &-content {
    &-properties {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
  }

  .tabs-component-tabs {
    position: sticky;
    top: 99px;
    z-index: 4;
    background-color: $color_grey_alt;
    padding: 0 10px 17px;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
  }

  .tabs-component-panels {
    padding: 10px;
  }

  .tabs-component-tab-a {
    padding: 6px 8px;
  }
  .tabs-component-tab-a::before {
    background-color: darken($color: $color_success, $amount: 8);
    height: 2px;
  }
  .tabs-component-tab-a.is-active {
    color: darken($color: $color_success, $amount: 8);
  }
  @media screen and (max-width: $laptop_size) {
    .ObjectHoldingsTabs {
      &-content {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  @media screen and (max-width: $tablet_size) {
    .ObjectHoldingsTabs {
      &-content {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media screen and (max-width: $phone_size) {
    .ObjectHoldingsTabs {
      &-content {
        grid-template-columns: 1fr;
      }
    }
  }
}
