@use "../../../utils/mixins";
@use "../../../utils/variables";

.ui-button-icon {
    @include mixins.flex-box($a: center, $j: center);
    @include mixins.transition(background-color .5s, color .5s, opacity);
    height: 35px;
    width: 35px;
    outline: none;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: rgb(211, 211, 211);
    text-align: center;
    flex-shrink: 0;

    &[disabled], &.disabled {
        opacity: .5;
        pointer-events: none;
    }

    &:not([disabled]) {
        cursor: pointer;
    }

    &.active {
        background-color: #10b981;
        color: #fff;
    }

    &.small {
        height: 28px;
        width: 28px;
        font-size: 14px;

        .spinner__clip {
            height: 18px;
            width: 18px;
            border-width: 3px;
        }
    }

    &.mini {
        height: 24px;
        width: 24px;
        font-size: 13px;
    }

    &.rect {
        border-radius: 4px;
    }

    &.transparent {
        background-color: transparent;
    }

    @include mixins.bg-color-scheme(
                    cl-warning #f88f01 #a46104 #fff,
                    cl-warning-light variables.$bg-warning-l rgba(variables.$bg-warning, .6) #000,
                    cl-success #10b981 #009665 #fff,
                    cl-success-light rgba(16, 185, 129, 0.3) rgba(16, 185, 129, 0.6) #000,
                    cl-danger #f93154 #cb1132 #fff,
                    cl-danger-l variables.$bg-danger-l variables.$bg-danger-l #000,
                    cl-info #e7e7e7 #d3d3d3 #000,
                    cl-dark #505050 #2a454c #fff,
                    cl-light variables.$color_grey_light variables.$color_grey_light #000,
                    cl-white #fff #ddd #000,
                    cl-gray-l rgba(138, 138, 138, 0.3) rgba(138, 138, 138, 0.3) #000
    );

    @include mixins.hover {
        background-color: rgba(15, 102, 116, 0.9) !important;
        color: #fff !important;
    }

    &:has(&__badge) {
        position: relative;
    }

    &__badge {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #f93154;
        color: #fff;
        font-size: 12px;

        @include mixins.flex-box($a: center, $j: center);

        @include mixins.bg-color-scheme(
                        cl-warning #f88f01 #a46104 #fff,
                        cl-success #10b981 #009665 #fff,
                        cl-success-light rgba(16, 185, 129, 0.3) rgba(16, 185, 129, 0.6) #000,
                        cl-danger #f93154 #cb1132 #fff,
                        cl-danger-l variables.$bg-danger-l variables.$bg-danger-l #000,
                        cl-info #e7e7e7 #d3d3d3 #000,
                        cl-dark #505050 #2a454c #fff,
                        cl-light variables.$color_grey_light variables.$color_grey_light #000,
                        cl-white #fff #ddd #000,
                        cl-gray-l rgba(138, 138, 138, 0.3) rgba(138, 138, 138, 0.3) #000
        );
    }
}