@use "../../../utils/mixins";
@use "../../../utils/variables";


.ui-button {
    --padding-x: 15px;
    --padding-y: 7px;

    border-radius: 5px;
    border: none;
    padding: var(--padding-y) var(--padding-x);
    background-color: #11698e;
    color: #f7f7f7;
    display: inline-block;
    width: auto;
    height: max-content;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);

    @include mixins.transition(background-color .2s, opacity .3s, color .3s, width .3s, padding .3s);

    &:disabled {
        pointer-events: none;
        opacity: .5;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    @include mixins.hover {
        background-color: #085373;
    }

    &:has(i), &--loading {
        @include mixins.flex-box($a: center, $gap: 5px);
    }

    &--small {
        --padding-x: 10px;
        --padding-y: 4px;
    }

    &--mini {
        --padding-x: 7px;
        --padding-y: 4px;

        font-size: 13px;
    }

    &--big {
        --padding-x: 15px;
        --padding-y: 10px;
    }

    &--shadow {
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 39.2%, .5);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--bolder {
        font-weight: 500;
    }

    &--rounded {
        border-radius: 20px;
    }

    &--rect {
        border-radius: 2px;
    }

    &--center {
        justify-content: center;
        text-align: center;
    }

    @include mixins.bg-color-scheme(
                    cl-warning #f88f01 #a46104,
                    cl-warning-light variables.$bg-warning-l rgba(variables.$bg-warning, .6) #000,
                    cl-success #10b981 #009665,
                    cl-success-light rgba(16, 185, 129, 0.3) rgba(16, 185, 129, 0.6) #000,
                    cl-danger #f93154 #cb1132,
                    cl-danger-light rgba(#f93154, 0.3) rgba(#cb1132, 0.6) #000,
                    cl-info #e7e7e7 #d3d3d3 #000,
                    cl-dark #505050 #2a454c,
                    cl-light variables.$color_grey_light #c8c8c8 #000,
                    cl-white #fff #ddd #000,
                    cl-transparent transparent #c8c8c8 #000,
                    cl-gray-light #e0e0e0 #d3d3d3 #000
    );

    &--cl-success, &--cl-danger {
        .spinner__clip {
            border-color: #fff #fff transparent;
        }
    }

    &--outlined {
        border: 2px solid #11698e;
        color: #11698e;
        background-color: #fff;

        &:disabled {
            border-color: transparent;
        }

        &:hover {
            color: #fff !important;
        }

        &.ui-button {
            &--cl-warning {
                border-color: #f88f01;
                color: #f88f01;
            }

            &--cl-success {
                border-color: #10b981;
                color: #10b981;
            }

            &--cl-danger {
                border-color: #f93154;
                color: #f93154;
            }

            &--cl-info {
                border-color: #e7e7e7;
                color: #4e4e4e;

                &:hover {
                    color: #000 !important;
                }
            }
        }
    }

    &:has(&__badge) {
        position: relative;
    }

    &__badge {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #f93154;
        color: #fff;
        font-size: 12px;

        @include mixins.flex-box($a: center, $j: center);

        @include mixins.bg-color-scheme(
                        cl-warning #f88f01 #a46104 #fff,
                        cl-success #10b981 #009665 #fff,
                        cl-success-light rgba(16, 185, 129, 0.3) rgba(16, 185, 129, 0.6) #000,
                        cl-danger #f93154 #cb1132 #fff,
                        cl-danger-l variables.$bg-danger-l variables.$bg-danger-l #000,
                        cl-info #e7e7e7 #d3d3d3 #000,
                        cl-dark #505050 #2a454c #fff,
                        cl-light variables.$color_grey_light variables.$color_grey_light #000,
                        cl-white #fff #ddd #000,
                        cl-gray-l rgba(138, 138, 138, 0.3) rgba(138, 138, 138, 0.3) #000
        );

        &--left {
            right: unset;
            left: -8px;
        }
    }

    &__loader {
        position: absolute;
        right: var(--padding-x);
        transition: opacity .3s, transform .3s;
    }

    &:has(&__loader) {
        padding-right: 45px;
        position: relative;
    }

    &--mini:has(&__loader) {
        padding-right: 40px;
    }

    &__check {
        font-size: 20px;
    }

    .spinner-fade-enter-active,
    .spinner-fade-leave-active {
        transition: opacity 1s, transform 1s;
    }

    .spinner-fade-enter-from,
    .spinner-fade-leave-to {
        opacity: 0;
        transform: scale(0.6);
    }
}