@use '../../utils/mixins';
@use '../../utils/variables';

.complex-purposes {
    @include mixins.flex-box($gap: 5px, $wrap: true);

    &__item {
        @include mixins.flex-box($a: center, $j: center);
        font-size: 22px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgba(211, 211, 211, 1);
        margin-right: 1px;
        background-color: rgba(201, 201, 201, 0.4);
        color: #000;

        &.active {
            background-color: variables.$bg-success;
            color: #fff;
        }
    }
}