.complex-deal-table {
    padding: 12px;
    position: relative;

    &:hover {
        .complex-deal-table__options {
            opacity: 1;
        }
    }

    &__name {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        width: 100%;

        &:not(:has(.tooltip)) {
            margin-bottom: 5px;
        }
    }

    &__area {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    &__heading {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__grid-item {
        font-size: 14px;
    }

    &__grid-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 14px;

        &--strong {
            font-weight: 600;
        }
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 500;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 5px;

        i {
            font-size: 16px;
        }
    }

    &__options {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity .5s ease;
    }

    &:has(.empty) {
        .complex-deal-table__options {
            display: none;
        }
    }
}

.complex-deal-price-formatter {
    display: flex;
    gap: 10px;

    &__option {
        cursor: pointer;
        border: none;
        background-color: #d1d5db;
        display: block;
        padding: 5px 10px;
        font-size: 14px;
        width: max-content;
        border-radius: 4px;
        transition: background-color .5s ease, color .5s ease;

        &:hover {
            background-color: rgba(38, 142, 80, 0.7);
        }

        &.active {
            background-color: #268e50;
            color: #fff;
        }
    }
}