@use '../../utils/mixins';

.complex-parameters {
    @include mixins.flex-box($gap: 10px, $wrap: true);

    &__item {
        @include mixins.flex-box($a: center, $gap: 10px);
        font-size: 13px;
        font-weight: 700;
        border-radius: 4px;
        background-color: rgba(201, 201, 201, 0.8);
        padding: 7px 10px;

        & i {
            font-size: 18px;
        }

        .complex-parameters__value:not(:last-child)::after {
            content: ', '
        }
    }

    &__text {
        @include mixins.flex-box($gap: 3px);
    }
}