//var
@import "var.scss";
//null styles
@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,500&display=swap');
html {
    font-family: $fontfamily;
}

.sidebar {
    height: 100vh;
    width: 70px;
    position: fixed;
    background-color: $color_sidebar_bg;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    &__navigation {
        text-align: center;
        align-content: center;
        margin-top: 20px;
    }
    hr {
        margin: 0 auto;
        width: 80%;
        color: $color_light;
        opacity: .5;
    }
    &__user-image {
        padding-top: 5px;
        .image-circle {
            margin: 0 auto;
            margin-bottom: 3px;
            width: 50px;
            height: 50px;
        }
    }
}

.img-center {
    display: block;
    margin: auto;
    height: 100%;
}

.image-circle {
    border-radius: 50%;
    overflow: hidden;
}

.nav-list.vertical {
    .nav-item {
        margin: 0 0 2.5px 0;
        i {
            display: block;
            font-weight: solid;
            font-size: 22px;
            margin-bottom: 15px;
            margin-top: 5px;
        }
        &.active {
            .nav-link {
                &__content {
                    background-color: $color_light;
                }
                color: $color_primary;
                font-weight: bold;
                &:hover {
                    color: $color_primary;
                    cursor: unset;
                }
            }
        }
        .nav-link {
            color: $color_light;
            font-weight: 700;
            font-size: 11px;
            letter-spacing: 0.3px;
            width: 100%;
            height: 100%;
            transition: color .15s ease;
            &__content {
                padding: 7px 0 7px 0;
            }
            &:hover {
                color: $color_info;
            }
            &:active {
                color: darken($color_info, 15);
            }
        }
    }
}

.container-fluid {
    padding: 0;
    padding-left: 55px;
}

.navbar {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #B5B5BE;
    .container-fluid {
        height: 100%;
        .row {
            height: 100%;
        }
    }
}

@mixin activeNotification {
    background-color: $color_overflow;
    & .badge {
        border-color: $color_overflow;
    }
}

.nav-list.horizontal {
    padding: 0 40px;
    .badge {
        position: absolute;
        border: 2px solid #fff;
    }
    .nav-item {
        display: inline-block;
        height: 49px;
        &.active {
            .nav-link {
                text-transform: uppercase;
                font-weight: bold;
                color: $color_primary;
                cursor: unset;
            }
        }
        &.notification .badge {
            bottom: 8px;
            left: 10px;
        }
        &.comments .badge {
            bottom: 8px;
            left: 15px;
        }
        &.notification {
            padding-right: 10px;
            padding-top: 5px;
            &.active {
                @include activeNotification();
            }
        }
        &.comments {
            position: relative;
            padding-right: 10px;
            padding-top: 5px;
            &.active {
                @include activeNotification();
            }
        }
    }
    .nav-link {
        padding: 0 10px;
        display: inline-block;
        height: 100%;
        color: $color_grey;
        font-size: 14px;
        letter-spacing: 0.2px;
        transition: color .15s ease;
        vertical-align: middle;
        &::before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        &__content {
            display: inline-block;
            position: relative;
        }
        &:hover {
            color: $color_info;
        }
        &:active {
            color: darken($color_info, 15);
        }
        i {
            font-size: 18px;
        }
    }
}

.comments-panel {
    width: 460px;
    // max-height: 600px;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50px;
    right: 0;
    overflow-y: hidden;
    .comments-item {
        max-height: 580px;
        overflow-y: scroll;
    }
    .row {
        height: max-content!important;
    }
    &__content {
        .header {
            border-bottom: 1px solid $color_light_grey;
            padding: 2px 10px;
            .title {
                color: $color_dark;
                font-weight: bold;
                font-size: 13px;
            }
            .readAll {
                a {
                    color: $color_primary;
                    font-size: 13px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .item {
            border-bottom: 1px solid $color_light_grey;
            .avatar {
                padding-top: 15px;
                padding-right: 7px;
                .image-circle {
                    width: 50px;
                    height: 50px;
                    margin-left: auto;
                }
            }
            .message {
                padding-top: 15px;
                padding-left: 10px;
                padding-right: 15px;
                font-size: 13px;
                line-height: 14px;
                color: $color_dark;
                p {
                    margin-bottom: 7px;
                    .agreement-number {
                        color: $color_primary;
                    }
                }
                .time {
                    display: inline-block;
                    color: $color_grey;
                    font-size: 10px;
                }
                .text {
                    color: $color_dark;
                }
                div.delete {
                    background-color: $color_danger;
                    height: 2px;
                    width: 12px;
                    opacity: 0;
                    margin: 0 auto;
                    margin-top: 5px;
                    transition: all .15s ease;
                }
                a.delete-link {
                    float: right;
                    height: 20px;
                    width: 25px;
                }
            }
            &:hover {
                div.delete {
                    opacity: unset;
                }
            }
        }
    }
}

.badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    font-size: 9px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    &.badge-warning {
        background-color: $color_warning;
        color: white;
    }
    &.badge-danger {
        background-color: $color_danger;
        color: white;
    }
}

.content {
    height: 100vh;
    background-color: $color_overflow;
    padding-left: 100px;
    padding-right: 25px;
}

.client {
    table {
        border-spacing: unset;
        min-width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        td {
            padding: 15px 0;
            input {
                padding: 5px 0;
                text-align: center;
                width: 90%;
                // border: 1px solid $color_primary;
                border: none;
                outline: 1px solid $color_primary;
                &:disabled {
                    outline: unset;
                    background-color: white;
                    color: $color_dark;
                }
            }
            select {
                padding: 6.5px 0;
                border: none;
                outline: 1px solid $color_primary;
                width: 100px;
                &:disabled {
                    font-size: 12px;
                    outline: unset;
                    background-color: white;
                    option {
                        color: $color_dark;
                    }
                    color: $color_dark;
                }
            }
        }
        th {
            color: $color_grey;
            font-weight: normal;
        }
        td {
            border-top: 1px solid $color_light_grey;
        }
        .separator {
            font-size: 12px;
            font-weight: bold;
            background-color: $color_dark;
            color: $color_light;
            td {
                padding: 2px 0;
            }
            &__date {
                max-width: 25px;
            }
        }
    }
    .table {
        background-color: white;
        padding: 20px;
        border-radius: 3px;
    }
}

.btn-action {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color_primary;
    &.second {
        margin-left: 25px;
    }
    &:hover {
        color: $color_info;
    }
}

.text-danger {
    color: $color_danger!important;
}

.btn {
    color: $color_light;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border: unset;
    border-radius: 2px;
    padding: .625rem 1.5rem .5rem;
    line-height: 1.5;
    // box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 1);
    cursor: pointer;
    &:active {
        box-shadow: 0 2px 5px 0 rgba(100, 100, 100, .7);
    }
}

.btn-large {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(100, 100, 100, .5);
}

.btn-danger {
    background-color: $color_danger;
    color: $color_light;
    border-color: darken($color_danger, 5);
    &:active {
        background-color: darken($color_danger, 5);
    }
}

.btn-warning {
    background-color: $color_warning;
    color: $color_light;
    border-color: darken($color_warning, 5);
    &:active {
        background-color: darken($color_warning, 5);
    }
}

.btn-primary {
    background-color: $color_primary;
    color: $color_light;
    border-color: darken($color_primary, 5);
    &:active {
        background-color: darken($color_primary, 5);
    }
}

.btn-info {
    background-color: $color_info;
    color: $color_light;
    border-color: darken($color_info, 5);
    &:active {
        background-color: darken($color_info, 5);
    }
}

.btn-success {
    background-color: $color_success;
    color: $color_light;
    // border: 1px solid darken($color_success, 13);
    border-color: darken($color_success, 1);
    &:active {
        background-color: darken($color_success, 5);
    }
}

.btn-dark {
    background-color: $color_dark;
    color: $color_light;
    border-color: darken($color_dark, 5);
    &:active {
        background-color: darken($color_dark, 5);
    }
}

//TIMELINE
// @import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');
// reset some browser default styles
// colors
$primary: #1d8cf8;
$secondary: #4f537b;
$info: #11cdef;
$success: #00bf9a;
$warning: #ff8d72;
$danger: #fd5d93;
// timeline variables
$body-bg: #1e1e2f;
$timeline-before-bg: #222a42;
$timeline-body-bg: #27293d;
$timeline-body-round: 3px;
$timeline-body-shadow: 1px 3px 9px rgba(0,
0,
0,
.1);
// page container
.container-timeline {
    box-sizing: border-box;
    margin: 25px 0;
    padding: 50px;
    display: inline-block;
    // background-color: $body_bg;
    border-radius: 5px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

// typography
p {
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
    opacity: .9;
}

// timeline style
.timeline {
    position: relative;
    min-width: 420px;
    display: inline-block;
    margin: 0 0 0 30px;
    color: $color_light;
    &-comment {
        &::-webkit-scrollbar {
            width: 5px;
            background-color: darken($color_light, 10);
            // height: 100%;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darken($color_light, 50);
        }
        border: unset;
        border-radius: $timeline-body-round;
        resize: none;
        font-weight: 600;
        line-height: 1.5;
        font-size: 14px;
        opacity: .9;
        width: 100%;
        max-height: 85px;
        min-height: 85px;
        margin-top: 16px;
        margin-bottom: 5px;
        &.minimization {
            margin: 0;
            height: 0px;
        }
        padding: 10px;
        &:disabled {
            min-height: 0;
            padding: 0;
            background-color: $timeline-body-bg;
            color: $color_light;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: lighten($timeline-body-bg, 20);
                // height: 100%;
            }
            &::-webkit-scrollbar-thumb {
                background-color: darken($timeline-body-bg, 5);
                height: 10px;
            }
        }
    }
    &:not(.branch) {
        padding-left: 4rem;
    }
    // &:not(.branch)::before
    &:not(.branch)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: $timeline-body-bg;
    }
    &.branch {
        margin: 0;
        padding: 0;
        padding-right: 15px;
        .timeline-body {
            &::before {
                content: '';
                background: inherit;
                width: unset!important;
                height: unset!important;
                display: unset!important;
                position: unset!important;
                left: unset!important;
                transform: unset!important;
                border-radius: unset!important;
            }
        }
        .timeline-container:first-child {
            &>.timeline-body:first-child::before {
                content: '';
                background: inherit!important;
                width: 20px!important;
                height: 20px!important;
                display: block!important;
                position: absolute!important;
                left: -10px!important;
                transform: rotate(45deg)!important;
                border-radius: 0 0 0 2px!important;
            }
        }
        .timeline-container:last-child {
            &>.timeline-body:last-child {
                .create-new-item {
                    display: block;
                }
            }
        }
    }
    .timeline-container {
        position: relative;
        margin-bottom: 100px;
        min-height: 270px;
        max-height: 270px;
        .timeline-icon {
            position: absolute;
            left: -88px;
            top: 4px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: $secondary;
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .timeline-body {
            position: relative;
            max-width: 420px;
            min-width: 420px;
            box-sizing: border-box;
            background: $timeline-body-bg;
            border-radius: $timeline-body-round;
            padding: 20px 20px 15px;
            box-shadow: $timeline-body-shadow;
            &:hover {
                .create-new-branch {
                    opacity: 1;
                }
                .create-new-item {
                    opacity: 1;
                }
                .disabledAction {
                    opacity: 1;
                }
            }
            &::before {
                content: '';
                background: inherit;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                left: -10px;
                transform: rotate(45deg);
                border-radius: 0 0 0 2px;
            }
            .timeline-title {
                .badge-1 {
                    background: $secondary;
                    padding: 4px 8px;
                    border-radius: 3px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .timeline-subtitle {
                font-weight: 300;
                font-style: italic;
                opacity: .4;
                font-size: 11px;
            }
            .disabledAction {
                opacity: 0;
                transition: all .1s ease-out;
            }
            .create-new-branch {
                color: $timeline-body-bg;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 99.6%;
                margin-top: -0.990em;
                transition: all .1s ease-out;
                &:hover {
                    color: $color_info;
                }
                i {
                    font-size: 50px;
                }
            }
            .create-new-item {
                display: none;
                color: $timeline-body-bg;
                opacity: 0;
                position: absolute;
                bottom: -29px;
                left: 50%;
                margin-left: -0.650em;
                transition: all .1s ease-out;
                &:hover {
                    color: $color_info;
                }
                i {
                    font-size: 50px;
                }
            }
            .timeline-actions {
                font-size: 14px;
                p {
                    font-size: 11.5px;
                    font-style: italic;
                    font-weight: normal;
                    margin-bottom: 5px;
                }
                i {
                    font-size: 16px;
                }
                .action {
                    // border: unset;
                    // border-radius: 2px;
                    cursor: pointer;
                    padding: 2px 5px;
                    &:disabled {
                        // background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(156, 156, 156, 0.3));
                        background-color: $color_disabled_actions;
                        color: $color_dark;
                        cursor: unset;
                    }
                    &.active:disabled {
                        background-color: darken($color_secondary, 6);
                        // border: inherit;
                        color: $color_light;
                        font-weight: bold;
                    }
                }
                .active {
                    background-color: $color_secondary;
                    // border: unset;
                    // border-color: $color_secondary;
                    color: $color_light;
                    font-weight: bold;
                }
            }
        }
        // Primary Timeline
        &.primary {
            .badge-1,
            .timeline-icon {
                background: $color_primary !important;
            }
        }
        // Info Timeline
        &.info {
            .badge-1,
            .timeline-icon {
                background: $info !important;
            }
        }
        // Success Timeline
        &.success {
            .badge-1,
            .timeline-icon {
                background: $color_success !important;
            }
        }
        // Warning Timeline
        &.warning {
            .badge-1,
            .timeline-icon {
                background: $color_warning !important;
            }
        }
        // Dnager Timeline
        &.danger {
            .badge-1,
            .timeline-icon {
                background: $color_danger !important;
            }
        }
        &.blue {
            .badge-1,
            .timeline-icon {
                background: $color_info !important;
            }
        }
        &.green {
            .badge-1,
            .timeline-icon {
                background: $color_success_alt !important;
            }
        }
        &.secondary {
            .badge-1,
            .timeline-icon {
                background: $color_secondary!important;
            }
        }
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.25)!important;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &-container {
        background-color: $color_light;
        color: $color_dark;
        min-width: 300px;
        border-radius: 2px;
    }
    &-header,
    &-footer {
        width: 100%;
        padding: 15px 20px;
    }
    &-body {
        width: 500px;
        padding: 15px 20px;
        font-weight: normal;
    }
    &-header {
        border-bottom: 1px solid lighten($color_grey, 35);
        font-size: 18px;
        i {
            cursor: pointer;
            &:hover {
                color: $color_primary;
            }
        }
    }
    &-footer {
        border-top: 1px solid lighten($color_grey, 35);
        button {
            box-shadow: unset;
            border-radius: 2px;
        }
    }
}

// ********** COMPANY-FORM ***********
.company-form {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 630px;
    .checkbox {
        width: 14px;
        height: 14px;
        margin: 0 5px 0 10px;
        &.middle {
            height: 20px;
            width: 20px;
            margin: 0;
        }
    }
    .checkbox-label {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        cursor: pointer;
    }
    .input-group {
        margin-bottom: 10px;
        width: 100%;
        .reproduce-input {
            position: relative;
            .right-input-icon {
                position: absolute;
                top: 27%;
                right: -20px;
                color: $color_secondary;
                cursor: pointer;
                z-index: 9;
            }
            .left-input-icon {
                position: absolute;
                top: 27%;
                left: -20px;
                color: darken($color_danger, 15);
                cursor: pointer;
                z-index: 9;
            }
        }
        .input-label {
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0px;
            // width: 200px;
        }
        input,
        select {
            max-width: 600px;
            // min-width: 300px;
            &:not(.checkbox) {
                font-size: 15px;
                padding: 5px 10px;
                color: $color_secondary;
                border: 1px solid $color_grey;
                border-radius: unset;
                &:focus {
                    border-radius: unset;
                    outline: 1px solid $color_primary;
                    // outline: unset;
                    // border-radius: unset;
                    // outline-color: $primary;
                }
                width: 100%;
            }
        }
        .checkbox-group {
            display: inline-block;
            width: 100%;
        }
        .error-container {
            color: $color_danger;
            font-size: 12px;
            text-transform: lowercase;
        }
    }
}

.invalid {
    border: 1px solid $color_danger!important;
    outline: 1px solid $color_danger!important;
}

.valid {
    border: 1px solid $color_success!important;
    outline: 1px solid $color_success!important;
}

// ********** TABS ***********
.tabs-component {
    // padding: 20px;
    &-tab {
        display: inline-block;
        &-a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            padding: 11px 20px;
            text-transform: capitalize;
            font-weight: bolder;
            color: $color_grey;
            font-size: 14px;
            &::before {
                display: block;
                position: absolute;
                content: "";
                height: 3px;
                width: 0;
                background-color: #1867c0;
                transition: width .5s ease-in-out, left .5s ease-in-out;
                left: 0;
                bottom: 0;
            }
            &.is-active {
                color: #1867c0;
                transition: background-color .3s ease-in-out;
                &:hover {
                    background-color: #1866c07e;
                    background-color: #1866c038;
                }
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &-panels {
        padding: 20px 20px;
    }
}