$fontfamily: "Roboto";
$color_sidebar_bg: #243539;
$color_overflow: #f7faff;
$color_light: #F7F7F7;
$color_grey: #7C7C86;
$color_light_grey: #C5C1C1;
$color_danger: #EC4646;
$color_warning: #F88F01;
$color_dark: #2D2F34;
$color_primary: #11698e;
$color_light_blue: #3a9dd0;
$color_info: #46CDCF;