.ObjectHeader {
    padding: 20px 30px;
    display: flex;
    &-content {
        width: 80%;
    }
    &-name {
        font-size: xx-large;
    }
    &-description {
        font-size: small;
        color: $color_grey;
        strong {
            color: black;
        }
    }
    &-actions {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            cursor: pointer;
            font-size: 15px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
    }
}
