.ObjectHeader {
    display: flex;

    position: sticky;
    top: 50px;
    z-index: 6;

    height: 120px;
    padding: 20px 30px;
    margin: 0 -5px;

    background: #f7faff;
    &-content {
        width: 80%;
    }
    &-name {
        font-size: xx-large;
    }
    &-description {
        font-size: small;
        color: $color_grey;
        strong {
            color: black;
        }
    }
    &-actions {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            cursor: pointer;
            font-size: 15px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
    }
}
