.additional-details {
  padding: 15px 20px;
  &__list {
    margin-top: 15px;
  }
  &__item {
    display: flex;
    gap: 25px;
    &_color_red {
      color: $color_danger;
    }
    &_heading {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      & i {
        color: $color_success;
      }
    }
  }
  &__item-label {
    // text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    color: $color_grey;
    max-width: 25ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__item-value {
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    & span:last-of-type {
      font-weight: 400;
      font-size: 12px;
      color: $color_grey;
    }
  }
}
.additonal-deatils {
  &__heading {
  }
}
.additional-deatils {
  &__list {
    &_business {
    }
  }
}
.fa-solid {
}
.fa-briefcase-blank {
}
